In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import mplfinance as mpf
from datetime import datetime

In [33]:
tickers = ['ACE.BK', 'ADVANC.BK', 'AEONTS.BK', 'AMATA.BK', 'AOT.BK', 'AP.BK', 'AWC.BK', 'BAM.BK',
       'BANPU.BK', 'BBL.BK', 'BCH.BK', 'BCP.BK', 'BCPG.BK', 'BDMS.BK', 'BEC.BK', 'BEM.BK',
       'BGRIM.BK', 'BH.BK', 'BLA.BK', 'BTS.BK', 'CBG.BK', 'CENTEL.BK', 'CHG.BK', 'CK.BK', 'CKP.BK',
       'COM7.BK', 'CPALL.BK', 'CPF.BK', 'CPN.BK', 'CRC.BK', 'DOHOME.BK', 'DTAC.BK', 'EA.BK',
       'EGCO.BK', 'EPG.BK', 'ESSO.BK', 'FORTH.BK', 'GLOBAL.BK', 'GPSC.BK', 'GULF.BK', 'GUNKUL.BK',
       'HANA.BK', 'HMPRO.BK', 'INTUCH.BK', 'IRPC.BK', 'IVL.BK', 'JMART.BK', 'JMT.BK', 'KBANK.BK',
       'KCE.BK', 'KEX.BK', 'KKP.BK', 'KTB.BK', 'KTC.BK', 'LH.BK', 'MAJOR.BK', 'MEGA.BK', 'MINT.BK',
       'MTC.BK', 'ONEE.BK', 'OR.BK', 'ORI.BK', 'OSP.BK', 'PLANB.BK', 'PSL.BK', 'PTG.BK', 'PTT.BK',
       'PTTEP.BK', 'PTTGC.BK', 'QH.BK', 'RATCH.BK', 'RBF.BK', 'RCL.BK', 'SAWAD.BK', 'SCB.BK',
       'SCC.BK', 'SCGP.BK', 'SINGER.BK', 'SPALI.BK', 'SPRC.BK', 'STA.BK', 'STARK.BK', 'STEC.BK',
       'STGT.BK', 'SUPER.BK', 'SYNEX.BK', 'TASCO.BK', 'TCAP.BK', 'THANI.BK', 'TIDLOR.BK',
       'TIPH.BK', 'TISCO.BK', 'TOP.BK', 'TQM.BK', 'TRUE.BK', 'TTA.BK', 'TTB.BK', 'TU.BK', 'VGI.BK',
       'WHA.BK']

test_tickers = ['WHA.BK']

In [34]:
def getData(tickers) :
    data = []
    if tickers == [] :
        return 'No stock name'
    for ticker in tickers:
        # detail = yf.download(ticker, interval='1h', period='2y')
        detail = yf.download(ticker, interval='1h', start='2022-11-01', end='2022-12-01')
        detail['Symbol'] = ticker[:-3]
        table_price = detail.reset_index()
        data.append(table_price)
    return data
    

def putDataToCsv(datas):
    with open('stock_dataTest.csv', 'w') as creating_new_csv_file: 
        pass 
    count = 0
    for data in datas:
        if count > 0:
            data.to_csv('stock_dataTest.csv', mode='a', header=False,index=False)
            count+=1
        else:
            data.to_csv('stock_dataTest.csv', mode='a',index=False)
            count+=1


def updateData(tickers):
    if tickers == []:
        return 'No stock name'
    stock_data = pd.read_csv('stock_dataTest.csv')
    new_data = [stock_data]
    stock_data['Datetime'] = pd.to_datetime(stock_data['Datetime'], format='%Y/%m/%d')
    start_date = max(stock_data['Datetime'])
    today_date = datetime.now()
    for ticker in tickers:
        detail = yf.download(ticker, interval='1h', start=start_date, end=today_date)
        detail['Symbol'] = ticker[:-3]
        table_price = detail.reset_index()
        new_data.append(table_price)
    new_table = pd.concat(new_data)
    duplicate = new_table[['Datetime','Symbol']].duplicated(keep='first')
    new_table = new_table.drop(new_table[duplicate].index)
    new_table = new_table.sort_values(by=['Symbol', 'Datetime'], ascending=True)
    new_table.to_csv('stock_dataTest.csv', index=False)
    return new_table

In [35]:
# data = getData(tickers)
# putDataToCsv(data)

In [36]:
# df = pd.read_csv('stock_dataTest.csv')
# df.tail(10)

In [37]:
new = updateData(test_tickers)

[*********************100%***********************]  1 of 1 completed

In [43]:
new.tail(10)

                 Datetime  Open  High   Low  Close  Adj Close    Volume Symbol
13306 2023-01-05 12:00:00  4.02  4.02  4.00   4.00       4.00  12984846    WHA
13307 2023-01-05 14:00:00  4.02  4.04  3.96   3.98       3.98  46646013    WHA
13308 2023-01-05 15:00:00  3.98  4.04  3.98   4.02       4.02  25460842    WHA
13309 2023-01-05 16:00:00  4.02  4.04  4.00   4.02       4.02   9420750    WHA
13310 2023-01-06 10:00:00  4.00  4.04  4.00   4.02       4.02         0    WHA
13311 2023-01-06 11:00:00  4.02  4.06  4.02   4.02       4.02  33092991    WHA
13312 2023-01-06 12:00:00  4.02  4.06  4.02   4.04       4.04   7454130    WHA
13313 2023-01-06 14:00:00  4.04  4.08  4.04   4.08       4.08   8064758    WHA
13314 2023-01-06 15:00:00  4.08  4.08  4.04   4.06       4.06  16710135    WHA
13315 2023-01-06 16:00:00  4.06  4.08  4.04   4.06       4.06  12858025    WHA

In [39]:
# df = pd.read_csv("stock_data.csv")
# newdf = df[(df.Symbol == 'KBANK')]
# newdf

In [40]:
# newdf.Date = pd.to_datetime(newdf.Date)
# newdf.info()

In [41]:
# newdf = newdf.set_index('Date')
# newdf

In [42]:
# mpf.plot(
#     newdf['2022-10':'2022-12'],
#     type='candle',
#     style='yahoo',
#     volume=True,
#     title='KBANK Stock Price 2022-10 to 2022-12',
#     figratio=(40,15)
#  )