In [274]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import mplfinance as mpf
from datetime import datetime

In [275]:
tickers = ['ACE.BK', 'ADVANC.BK', 'AEONTS.BK', 'AMATA.BK', 'AOT.BK', 'AP.BK', 'AWC.BK', 'BAM.BK',
       'BANPU.BK', 'BBL.BK', 'BCH.BK', 'BCP.BK', 'BCPG.BK', 'BDMS.BK', 'BEC.BK', 'BEM.BK',
       'BGRIM.BK', 'BH.BK', 'BLA.BK', 'BTS.BK', 'CBG.BK', 'CENTEL.BK', 'CHG.BK', 'CK.BK', 'CKP.BK',
       'COM7.BK', 'CPALL.BK', 'CPF.BK', 'CPN.BK', 'CRC.BK', 'DOHOME.BK', 'DTAC.BK', 'EA.BK',
       'EGCO.BK', 'EPG.BK', 'ESSO.BK', 'FORTH.BK', 'GLOBAL.BK', 'GPSC.BK', 'GULF.BK', 'GUNKUL.BK',
       'HANA.BK', 'HMPRO.BK', 'INTUCH.BK', 'IRPC.BK', 'IVL.BK', 'JMART.BK', 'JMT.BK', 'KBANK.BK',
       'KCE.BK', 'KEX.BK', 'KKP.BK', 'KTB.BK', 'KTC.BK', 'LH.BK', 'MAJOR.BK', 'MEGA.BK', 'MINT.BK',
       'MTC.BK', 'ONEE.BK', 'OR.BK', 'ORI.BK', 'OSP.BK', 'PLANB.BK', 'PSL.BK', 'PTG.BK', 'PTT.BK',
       'PTTEP.BK', 'PTTGC.BK', 'QH.BK', 'RATCH.BK', 'RBF.BK', 'RCL.BK', 'SAWAD.BK', 'SCB.BK',
       'SCC.BK', 'SCGP.BK', 'SINGER.BK', 'SPALI.BK', 'SPRC.BK', 'STA.BK', 'STARK.BK', 'STEC.BK',
       'STGT.BK', 'SUPER.BK', 'SYNEX.BK', 'TASCO.BK', 'TCAP.BK', 'THANI.BK', 'TIDLOR.BK',
       'TIPH.BK', 'TISCO.BK', 'TOP.BK', 'TQM.BK', 'TRUE.BK', 'TTA.BK', 'TTB.BK', 'TU.BK', 'VGI.BK',
       'WHA.BK']

test_tickers = ['WHA.BK']

In [276]:
def getData(tickers) :
    data = []
    if tickers == [] :
        return 'No stock name'
    for ticker in tickers:
        # detail = yf.download(ticker, interval='1h', period='2y')
        detail = yf.download(ticker, interval='1h', start='2022-11-01', end='2022-12-01')
        detail['Symbol'] = ticker[:-3]
        table_price = detail.reset_index()
        data.append(table_price)
    return data
    

def putDataToCsv(datas):
    with open('stock_dataTest.csv', 'w') as creating_new_csv_file: 
        pass 
    count = 0
    for data in datas:
        if count > 0:
            data.to_csv('stock_dataTest.csv', mode='a', header=False,index=False)
            count+=1
        else:
            data.to_csv('stock_dataTest.csv', mode='a',index=False)
            count+=1


def readCSV(name):
    stock_data = pd.read_csv(name)
    stock_data['Datetime'] = pd.to_datetime(stock_data['Datetime'], format='%Y/%m/%d')
    start_date = max(stock_data['Datetime'])
    return start_date, stock_data

def updateData(ticker, start_date):
    detail = yf.download(ticker, interval='1h', start=start_date)
    detail['Symbol'] = ticker[:-3]
    table_price = detail.reset_index()
    return table_price

def combineData(stock_data, table_price):
    new_data = [stock_data]
    new_data.append(table_price)
    new_table = pd.concat(new_data)
    duplicate = new_table[['Datetime','Symbol']].duplicated(keep='first')
    new_table = new_table.drop(new_table[duplicate].index)
    new_table = new_table.sort_values(by=['Symbol', 'Datetime'], ascending=True)
    new_table.to_csv('stock_dataTest.csv', index=False)
    return new_table

In [277]:
data = getData(test_tickers)
putDataToCsv(data)

[*********************100%***********************]  1 of 1 completed

In [278]:
df = pd.read_csv('stock_dataTest.csv')
df.tail(10)

                Datetime  Open  High   Low  Close  Adj Close    Volume Symbol
122  2022-11-29 12:00:00  3.82  3.84  3.82   3.82       3.82   1549707    WHA
123  2022-11-29 14:00:00  3.82  3.82  3.78   3.80       3.80  17149934    WHA
124  2022-11-29 15:00:00  3.80  3.82  3.78   3.80       3.80   8509659    WHA
125  2022-11-29 16:00:00  3.80  3.82  3.78   3.80       3.80   5400905    WHA
126  2022-11-30 10:00:00  3.84  3.84  3.80   3.84       3.84         0    WHA
127  2022-11-30 11:00:00  3.82  3.84  3.82   3.82       3.82  15984381    WHA
128  2022-11-30 12:00:00  3.82  3.84  3.82   3.84       3.84   1924926    WHA
129  2022-11-30 14:00:00  3.84  3.86  3.82   3.84       3.84   5998543    WHA
130  2022-11-30 15:00:00  3.84  3.86  3.82   3.84       3.84  13592435    WHA
131  2022-11-30 16:00:00  3.84  3.84  3.82   3.84       3.84    874904    WHA

In [279]:
data = readCSV('stock_dataTest.csv')
for i in test_tickers:
    new = updateData(i, data[0])
    new_frame = combineData(data[1], new)
print(type(data[0]))
new_frame

[*********************100%***********************]  1 of 1 completed
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

               Datetime  Open  High   Low  Close  Adj Close    Volume Symbol
1   2022-11-01 11:00:00  3.90  3.90  3.86   3.88       3.88  20113493    WHA
2   2022-11-01 12:00:00  3.88  3.88  3.86   3.86       3.86   9295000    WHA
3   2022-11-01 14:00:00  3.86  3.88  3.84   3.86       3.86  22535233    WHA
4   2022-11-01 15:00:00  3.86  3.88  3.84   3.86       3.86  25042006    WHA
5   2022-11-01 16:00:00  3.86  3.86  3.84   3.86       3.86   9378121    WHA
..                  ...   ...   ...   ...    ...        ...       ...    ...
140 2023-01-06 11:00:00  4.02  4.06  4.02   4.02       4.02  33092991    WHA
141 2023-01-06 12:00:00  4.02  4.06  4.02   4.04       4.04   7454130    WHA
142 2023-01-06 14:00:00  4.04  4.08  4.04   4.08       4.08   8064758    WHA
143 2023-01-06 15:00:00  4.08  4.08  4.04   4.06       4.06  16710135    WHA
144 2023-01-06 16:00:00  4.06  4.08  4.04   4.06       4.06  12858025    WHA

[275 rows x 8 columns]

In [280]:
a = pd.DataFrame({
            'Open': [10],
            'High': [15],
            'Low': [5],
            'Close': [10],
            'Adj Close': [10],
            'Volume': [100]}, index=[pd.to_datetime('2020-01-01', format='%Y/%m/%d')])

a.reset_index(names='Datetime')

    Datetime  Open  High  Low  Close  Adj Close  Volume
0 2020-01-01    10    15    5     10         10     100

In [281]:
detail = pd.DataFrame({
            'Open': [10],
            'High': [15],
            'Low': [5],
            'Close': [10],
            'Adj Close': [10],
            'Volume': [100]}, index=[pd.to_datetime('2020-01-01', format='%Y/%m/%d')])
# detail = yf.download(ticker, interval='1h', start=start_date)
detail['Symbol'] = 'test'
table_price = detail.rename_axis('Datetime').reset_index()

table_price

    Datetime  Open  High  Low  Close  Adj Close  Volume Symbol
0 2020-01-01    10    15    5     10         10     100   test

In [282]:
b = pd.DataFrame({
            'Datetime': [pd.to_datetime('2020-01-01', format='%Y/%m/%d')],
            'Open': [10],
            'High': [15],
            'Low': [5],
            'Close': [10],
            'Adj Close': [10],
            'Volume': [100],
            'Symbol': ['test']
        })

b.equals(table_price)

True

In [284]:
# new.tail(10)

In [285]:
# df = pd.read_csv("stock_data.csv")
# newdf = df[(df.Symbol == 'KBANK')]
# newdf

In [286]:
# newdf.Date = pd.to_datetime(newdf.Date)
# newdf.info()

In [287]:
# newdf = newdf.set_index('Date')
# newdf

In [288]:
# mpf.plot(
#     newdf['2022-10':'2022-12'],
#     type='candle',
#     style='yahoo',
#     volume=True,
#     title='KBANK Stock Price 2022-10 to 2022-12',
#     figratio=(40,15)
#  )