In [1]:
from selenium import webdriver
import pandas as pd
import html5lib
import mplfinance as mpf
import matplotlib.pyplot as plt
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import numpy as np

In [3]:
def Set_up_WebScraping(url):
    
    driver = webdriver.Chrome(r"C:/Users/JourneyQ/OneDrive - kmutnb.ac.th/Desktop/Quick_file/year_2-S_2/Project_sofedev_2/Schap/chromedriver.exe")
    driver.get(url)
    
    return driver

def save_csv(df,name):

    name += ".csv"
    df.to_csv(name,index=False)
    
    return "succes"

def save_excel(df,name):

    name += ".xlsx"
    df.to_excel(name,index=False)
    
    return "succes"

In [4]:
driver = Set_up_WebScraping("https://www.set.or.th/en/market/index/set100/overview")

C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_16388\1414145694.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/JourneyQ/OneDrive - kmutnb.ac.th/Desktop/Quick_file/year_2-S_2/Project_sofedev_2/Schap/chromedriver.exe")

# Financial Data & Financial Ratio

In [2]:
data = driver.get("https://www.set.or.th/th/market/product/stock/quote/PTG/financial-statement/company-highlights")

NameError: name 'driver' is not defined

In [27]:
data = driver.page_source

In [28]:
data_df = pd.read_html(data)[0]

In [29]:
data_df

,งวดงบการเงิน ณ วันที่,งบปี 2561 31 ธ.ค. 2561,งบปี 2562 31 ธ.ค. 2562,งบปี 2563 31 ธ.ค. 2563,งบปี 2564 31 ธ.ค. 2564,งบ 9 เดือน2565 30 ก.ย. 2565
0,บัญชีทางการเงินที่สำคัญ,NaN,NaN,NaN,NaN,NaN
1,สินทรัพย์รวม,20939.73,22651.87,42037.40,44384.20,45408.53
2,หนี้สินรวม,15463.91,15944.38,34057.48,36184.36,36701.41
3,ส่วนของผู้ถือหุ้น,5444.03,6647.52,7883.67,8095.13,8589.45
4,มูลค่าหุ้นที่เรียกชำระแล้ว,1670.00,1670.00,1670.00,1670.00,1670.00
5,รายได้รวม,108142.00,120251.82,104666.06,134088.17,130708.12
6,กำไร (ขาดทุน) จากกิจกรรมอื่น,-12.21,39.64,412.24,204.73,-115.97
7,กำไรสุทธิ,624.74,1560.68,1894.04,1006.37,937.71
8,กำไรต่อหุ้น (บาท),0.37,0.93,1.13,0.60,0.56
9,อัตราส่วนทางการเงินที่สำคัญ,NaN,NaN,NaN,NaN,NaN
10,ROA (%),5.31,10.36,10.62,5.54,5.11
11,ROE (%),11.85,25.81,26.07,12.60,10.16
12,อัตรากำไรสุทธิ (%),0.58,1.30,1.82,0.76,0.73

In [15]:
data_new = (data_df.set_index("Period as of")).T

In [16]:
data_new

Period as of,Financial Data,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),Financial Ratio,ROA (%),ROE (%),Net Profit Margin (%)
Y/E 2018 31 Dec 2018,NaN,20939.73,15463.91,5444.03,1670.0,108142.00,-12.21,624.74,0.37,NaN,5.31,11.85,0.58
Y/E 2019 31 Dec 2019,NaN,22651.87,15944.38,6647.52,1670.0,120251.82,39.64,1560.68,0.93,NaN,10.36,25.81,1.30
Y/E 2020 31 Dec 2020,NaN,42037.40,34057.48,7883.67,1670.0,104666.06,412.24,1894.04,1.13,NaN,10.62,26.07,1.82
Y/E 2021 31 Dec 2021,NaN,44384.20,36184.36,8095.13,1670.0,134088.17,204.73,1006.37,0.60,NaN,5.54,12.60,0.76
9M/2022 30 Sep 2022,NaN,45408.53,36701.41,8589.45,1670.0,130708.12,-115.97,937.71,0.56,NaN,5.11,10.16,0.73

In [133]:
data_new = data_new.drop(["Financial Data","Financial Ratio"], axis=1)

In [73]:
data_new["Symbol"] = "AAV"

In [87]:
data_new

Period as of,index,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),ROA (%),ROE (%),Net Profit Margin (%),Symbol
0,Y/E 2018 31 Dec 2018,61746.72,33123.92,20455.36,485.0,39949.8,250.4,69.97,0.01,1.06,0.33,0.32,AAV
1,Y/E 2019 31 Dec 2019,62902.56,35214.09,19943.88,485.0,41202.63,350.47,-474.0,-0.1,-0.16,-2.35,-2.1,AAV
2,Y/E 2020 31 Dec 2020,67977.67,50617.36,14266.11,485.00,16260.96,-,-4764.09,-0.98,-11.50,-27.85,-53.30,AAV
3,Y/E 2021 31 Dec 2021,71208.33,54379.53,20201.10,987.86,4558.62,-,-6647.49,-1.30,-16.96,-38.57,-262.32,AAV
4,9M/2022 30 Sep 2022,66670.81,61956.02,4714.79,1173.57,9525.39,-,-11144.39,-0.97,-22.62,-180.36,-118.93,AAV

In [77]:
data_new = data_new.reset_index()

In [81]:
d = []
for i in data_new:
    print(i)
    d.append(i)

index
Assets
Liabilities
Equity
Paid-up Capital
Revenue
Profit (Loss) from Other Activities
Net Profit
EPS (Baht)
ROA (%)
ROE (%)
Net Profit Margin (%)
Symbol

In [83]:
C = {'index':"Period as of",
 'Assets':"Assets",
 'Liabilities':"Liabilities",
 'Equity':"Equity",
 'Paid-up Capital':"Paid-up Capital",
 'Revenue':"Revenue",
 'Profit (Loss) from Other Activities':"Profit (Loss) from Other Activities",
 'Net Profit':"Net Profit",
 'EPS (Baht)':"EPS (Baht)",
 'ROA (%)':"ROA (%)",
 'ROE (%)':"ROE (%)",
 'Net Profit Margin (%)':"Net Profit Margin (%)",
 'Symbol':"Symbol"}

In [88]:
data_new = data_new.rename(columns = C,index = {"Period as of" : " "})

In [114]:
data_new

Period as of,Period as of,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),ROA (%),ROE (%),Net Profit Margin (%),Symbol
0,Y/E 2018 31 Dec 2018,61746.72,33123.92,20455.36,485.0,39949.8,250.4,69.97,0.01,1.06,0.33,0.32,AAV
1,Y/E 2019 31 Dec 2019,62902.56,35214.09,19943.88,485.0,41202.63,350.47,-474.0,-0.1,-0.16,-2.35,-2.1,AAV
2,Y/E 2020 31 Dec 2020,67977.67,50617.36,14266.11,485.00,16260.96,-,-4764.09,-0.98,-11.50,-27.85,-53.30,AAV
3,Y/E 2021 31 Dec 2021,71208.33,54379.53,20201.10,987.86,4558.62,-,-6647.49,-1.30,-16.96,-38.57,-262.32,AAV
4,9M/2022 30 Sep 2022,66670.81,61956.02,4714.79,1173.57,9525.39,-,-11144.39,-0.97,-22.62,-180.36,-118.93,AAV

In [92]:
data_new.columns

Index(['Period as of', 'Assets', 'Liabilities', 'Equity', 'Paid-up Capital',
       'Revenue', 'Profit (Loss) from Other Activities', 'Net Profit',
       'EPS (Baht)', 'ROA (%)', 'ROE (%)', 'Net Profit Margin (%)', 'Symbol'],
      dtype='object', name='Period as of')

In [111]:
data_new.iloc(0)

In [115]:
save_csv(data_new,"Financial")

'succes'

In [116]:
table_final = pd.read_csv('Financial.csv')

# Function EN

In [5]:
def Separate_period_new_period(row):

    print(row['index'])
    return row['index'][:8]
    
def Separate_period_new_Date(row):

    return row['index'][8:]
    
def get_set50_100_df(driver):
    
    data = driver.page_source
    data_df = pd.read_html(data)[2]
    clean_column = []
    for column in data_df.columns:

        clean_column.append(column.replace("  (Click to sort Ascending)",""))
        
    data_df.columns = clean_column
    data_df = data_df.set_index('Symbol')
    return data_df

def operation_data(stock,dataframe):
    
    Financial_df = (dataframe.set_index("Period as of")).T
    Financial_df = Financial_df.drop(["Financial Data","Financial Ratio"], axis=1)

    Financial_df['Symbol'] = stock
    Financial_df = Financial_df.reset_index()
    Financial_df['Period as of'] = Financial_df.apply(lambda row: Separate_period_new_period(row), axis=1)
    Financial_df['Date'] = Financial_df.apply(lambda row: Separate_period_new_Date(row), axis=1)
    Financial_df['Date'] = pd.to_datetime(Financial_df['Date'])
    del Financial_df['index']
    # Financial_df = Financial_df.rename(columns = {'index':"Period as of"},index = {"Period as of" : " "})

    return Financial_df

def get_Financial_data(driver,stock,all_stock):
    
    column_name = {'index':"Period as of", 'Assets':"Assets",'Liabilities':"Liabilities",'Equity':"Equity",'Paid-up Capital':"Paid-up Capital",'Revenue':"Revenue",'Profit (Loss) from Other Activities':"Profit (Loss) from Other Activities",'Net Profit':"Net Profit",'EPS (Baht)':"EPS (Baht)",'ROA (%)':"ROA (%)",'ROE (%)':"ROE (%)",'Net Profit Margin (%)':"Net Profit Margin (%)",'Symbol':"Symbol"}
    stock = stock.split()[0]
    url_target_financial = "https://www.set.or.th/en/market/product/stock/quote/" + stock + "/financial-statement/company-highlights"
    driver.get(url_target_financial)
    
    Financial_data = driver.page_source
    Financial_df = pd.read_html(Financial_data)[0]
    
    Financial_df = operation_data(stock,Financial_df)
                   
    all_stock.append(Financial_df)
    print(stock)
    return driver , all_stock

In [6]:
driver = Set_up_WebScraping("https://www.set.or.th/en/market/index/set100/overview")

C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_16388\1414145694.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:/Users/JourneyQ/OneDrive - kmutnb.ac.th/Desktop/Quick_file/year_2-S_2/Project_sofedev_2/Schap/chromedriver.exe")

In [7]:
data_df = get_set50_100_df(driver)
# print(data_df)

In [8]:
data_df.index[0]

'AAV'

In [9]:
all_Financial = []

for stock in ['AAV']:

    
    driver, all_stock_dict = get_Financial_data(driver,stock,all_Financial)
    

table_pice = pd.concat(all_Financial)
# table_pice = table_pice.set_index('Symbol')
# table_pice = table_pice.reset_index()

Y/E 2018 31 Dec 2018
Y/E 2019 31 Dec 2019
Y/E 2020 31 Dec 2020
Y/E 2021 31 Dec 2021
9M/2022 30 Sep 2022
AAV

In [10]:
table_pice

Period as of,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),ROA (%),ROE (%),Net Profit Margin (%),Symbol,Period as of,Date
0,61746.72,33123.92,20455.36,485.0,39949.8,250.4,69.97,0.01,1.06,0.33,0.32,AAV,Y/E 2018,2018-12-31
1,62902.56,35214.09,19943.88,485.0,41202.63,350.47,-474.0,-0.1,-0.16,-2.35,-2.1,AAV,Y/E 2019,2019-12-31
2,67977.67,50617.36,14266.11,485.00,16260.96,-,-4764.09,-0.98,-11.50,-27.85,-53.30,AAV,Y/E 2020,2020-12-31
3,71208.33,54379.53,20201.10,987.86,4558.62,-,-6647.49,-1.30,-16.96,-38.57,-262.32,AAV,Y/E 2021,2021-12-31
4,66670.81,61956.02,4714.79,1173.57,9525.39,-,-11144.39,-0.97,-22.62,-180.36,-118.93,AAV,9M/2022,2022-09-30

In [51]:
table_pice['Period as of'] = table_pice.apply(lambda row: Separate_period_new_period(row), axis=1)

In [52]:
table_pice['Date'] = table_pice.apply(lambda row: Separate_period_new_Date(row), axis=1)

In [147]:
save_csv(table_pice,"Financial")

'succes'

In [148]:
pd.read_csv('Financial.csv')

,Period as of,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),ROA (%),ROE (%),Net Profit Margin (%),Symbol
0,Y/E 2018 31 Dec 2018,61746.72,33123.92,20455.36,485.00,39949.80,250.4,69.97,0.01,1.06,0.33,0.32,AAV
1,Y/E 2019 31 Dec 2019,62902.56,35214.09,19943.88,485.00,41202.63,350.47,-474.00,-0.10,-0.16,-2.35,-2.10,AAV
2,Y/E 2020 31 Dec 2020,67977.67,50617.36,14266.11,485.00,16260.96,-,-4764.09,-0.98,-11.50,-27.85,-53.30,AAV
3,Y/E 2021 31 Dec 2021,71208.33,54379.53,20201.10,987.86,4558.62,-,-6647.49,-1.30,-16.96,-38.57,-262.32,AAV
4,9M/2022 30 Sep 2022,66670.81,61956.02,4714.79,1173.57,9525.39,-,-11144.39,-0.97,-22.62,-180.36,-118.93,AAV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,Y/E 2018 31 Dec 2018,78344.95,47330.85,27225.73,1433.43,9079.58,2542.62,2906.81,0.20,7.08,11.08,42.71,WHA
480,Y/E 2019 31 Dec 2019,82263.83,49163.25,29477.63,1470.91,11440.12,1945.69,3229.25,0.22,6.54,11.39,34.64,WHA
481,Y/E 2020 31 Dec 2020,82621.11,50453.94,28805.19,1494.68,8197.88,1208.76,2523.75,0.17,5.18,8.66,34.95,WHA
482,Y/E 2021 31 Dec 2021,82769.49,48739.72,30594.11,1494.68,11638.82,325.07,2590.07,0.17,5.68,8.72,24.68,WHA
483,9M/2022 30 Sep 2022,84798.53,51065.01,30138.89,1494.68,6789.75,-219.76,1204.27,0.08,6.48,10.98,20.33,WHA

# Function TH

In [35]:
def get_set50_100_df(driver):
    
    data = driver.page_source
    data_df = pd.read_html(data)[2]
    clean_column = []
    for column in data_df.columns:

        clean_column.append(column.replace("  (Click to sort Ascending)",""))
        
    data_df.columns = clean_column
    data_df = data_df.set_index('Symbol')
    return data_df

def operation_data(stock,dataframe):
    
    Financial_df = (dataframe.set_index("งวดงบการเงิน ณ วันที่")).T
    Financial_df = Financial_df.drop(["บัญชีทางการเงินที่สำคัญ","อัตราส่วนทางการเงินที่สำคัญ"], axis=1)

    Financial_df['Symbol'] = stock
    Financial_df = Financial_df.reset_index()
    Financial_df = Financial_df.rename(columns = {'index':"งวดงบการเงิน ณ วันที่"},index = {"Period as of" : " "})

    return Financial_df

def get_Financial_data(driver,stock,all_stock):
    
    column_name = {'index':"งวดงบการเงิน ณ วันที่"}
    stock = stock.split()[0]
    url_target_financial = "https://www.set.or.th/th/market/product/stock/quote/" + stock + "/financial-statement/company-highlights"
    driver.get(url_target_financial)

    driver.execute_script("scrollBy(0,+5000);")
    time.sleep(3)
    
    Financial_data = driver.page_source
    Financial_df = pd.read_html(Financial_data)[0]
    
    Financial_df = operation_data(stock,Financial_df)
                   
    all_stock.append(Financial_df)
    print(stock)
    return driver , all_stock

In [31]:
driver = Set_up_WebScraping("https://www.set.or.th/en/market/index/set100/overview")

C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_11672\2693298640.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\softdev-2\week2\chromedriver.exe")

In [33]:
data_df = get_set50_100_df(driver)

In [36]:
all_Financial = []

for stock in data_df.index:

    
    driver, all_stock_dict = get_Financial_data(driver,stock,all_Financial)
    

table_pice = pd.concat(all_Financial)
# table_pice = table_pice.set_index('Symbol')
# table_pice = table_pice.reset_index()

AAV
ACE
ADVANC
AMATA
AOT
AP
AWC
BAM
BANPU
BBL
BCH
BCP
BCPG
BDMS
BEC
BEM
BGRIM
BH
BLA
BTS
BYD
CBG
CENTEL
CHG
CK
CKP
COM7
CPALL
CPF
CPN
CRC
DELTA
DOHOME
DTAC
EA
EGCO
EPG
ESSO
FORTH
GLOBAL
GPSC
GULF
GUNKUL
HANA
HMPRO
INTUCH
IRPC
IVL
JAS
JMART
JMT
KBANK
KCE
KEX
KKP
KTB
KTC
LH
MEGA
MINT
MTC
NEX
ONEE
OR
ORI
OSP
PLANB
PSL
PTG
PTT
PTTEP
PTTGC
QH
RATCH
RBF
RCL
SABUY
SAWAD
SCB
SCC
SCGP
SINGER
SPALI
SPRC
STA
STARK
STGT
TCAP
THANI
THG
TIDLOR
TIPH
TISCO
TOP
TQM
TRUE
TTB
TU
VGI
WHA

In [37]:
table_pice

งวดงบการเงิน ณ วันที่,Period as of,สินทรัพย์รวม,หนี้สินรวม,ส่วนของผู้ถือหุ้น,มูลค่าหุ้นที่เรียกชำระแล้ว,รายได้รวม,กำไร (ขาดทุน) จากกิจกรรมอื่น,กำไรสุทธิ,กำไรต่อหุ้น (บาท),ROA (%),ROE (%),อัตรากำไรสุทธิ (%),Symbol
0,งบปี 2561 31 ธ.ค. 2561,61746.72,33123.92,20455.36,485.0,39949.8,250.4,69.97,0.01,1.06,0.33,0.32,AAV
1,งบปี 2562 31 ธ.ค. 2562,62902.56,35214.09,19943.88,485.0,41202.63,350.47,-474.0,-0.1,-0.16,-2.35,-2.1,AAV
2,งบปี 2563 31 ธ.ค. 2563,67977.67,50617.36,14266.11,485.00,16260.96,-,-4764.09,-0.98,-11.50,-27.85,-53.30,AAV
3,งบปี 2564 31 ธ.ค. 2564,71208.33,54379.53,20201.10,987.86,4558.62,-,-6647.49,-1.30,-16.96,-38.57,-262.32,AAV
4,งบ 9 เดือน2565 30 ก.ย. 2565,66670.81,61956.02,4714.79,1173.57,9525.39,-,-11144.39,-0.97,-22.62,-180.36,-118.93,AAV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,งบปี 2561 31 ธ.ค. 2561,78344.95,47330.85,27225.73,1433.43,9079.58,2542.62,2906.81,0.2,7.08,11.08,42.71,WHA
1,งบปี 2562 31 ธ.ค. 2562,82263.83,49163.25,29477.63,1470.91,11440.12,1945.69,3229.25,0.22,6.54,11.39,34.64,WHA
2,งบปี 2563 31 ธ.ค. 2563,82621.11,50453.94,28805.19,1494.68,8197.88,1208.76,2523.75,0.17,5.18,8.66,34.95,WHA
3,งบปี 2564 31 ธ.ค. 2564,82769.49,48739.72,30594.11,1494.68,11638.82,325.07,2590.07,0.17,5.68,8.72,24.68,WHA
4,งบ 9 เดือน2565 30 ก.ย. 2565,84798.53,51065.01,30138.89,1494.68,6789.75,-219.76,1204.27,0.08,6.48,10.98,20.33,WHA

In [42]:
table_pice = table_pice.rename(columns = {'Period as of':"งวดงบการเงิน ณ วันที่"})

In [44]:
save_csv(table_pice,"Financial_th")

'succes'

In [45]:
pd.read_csv('Financial_th.csv')

,งวดงบการเงิน ณ วันที่,สินทรัพย์รวม,หนี้สินรวม,ส่วนของผู้ถือหุ้น,มูลค่าหุ้นที่เรียกชำระแล้ว,รายได้รวม,กำไร (ขาดทุน) จากกิจกรรมอื่น,กำไรสุทธิ,กำไรต่อหุ้น (บาท),ROA (%),ROE (%),อัตรากำไรสุทธิ (%),Symbol
0,งบปี 2561 31 ธ.ค. 2561,61746.72,33123.92,20455.36,485.00,39949.80,250.4,69.97,0.01,1.06,0.33,0.32,AAV
1,งบปี 2562 31 ธ.ค. 2562,62902.56,35214.09,19943.88,485.00,41202.63,350.47,-474.00,-0.10,-0.16,-2.35,-2.10,AAV
2,งบปี 2563 31 ธ.ค. 2563,67977.67,50617.36,14266.11,485.00,16260.96,-,-4764.09,-0.98,-11.50,-27.85,-53.30,AAV
3,งบปี 2564 31 ธ.ค. 2564,71208.33,54379.53,20201.10,987.86,4558.62,-,-6647.49,-1.30,-16.96,-38.57,-262.32,AAV
4,งบ 9 เดือน2565 30 ก.ย. 2565,66670.81,61956.02,4714.79,1173.57,9525.39,-,-11144.39,-0.97,-22.62,-180.36,-118.93,AAV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,งบปี 2561 31 ธ.ค. 2561,78344.95,47330.85,27225.73,1433.43,9079.58,2542.62,2906.81,0.20,7.08,11.08,42.71,WHA
480,งบปี 2562 31 ธ.ค. 2562,82263.83,49163.25,29477.63,1470.91,11440.12,1945.69,3229.25,0.22,6.54,11.39,34.64,WHA
481,งบปี 2563 31 ธ.ค. 2563,82621.11,50453.94,28805.19,1494.68,8197.88,1208.76,2523.75,0.17,5.18,8.66,34.95,WHA
482,งบปี 2564 31 ธ.ค. 2564,82769.49,48739.72,30594.11,1494.68,11638.82,325.07,2590.07,0.17,5.68,8.72,24.68,WHA
483,งบ 9 เดือน2565 30 ก.ย. 2565,84798.53,51065.01,30138.89,1494.68,6789.75,-219.76,1204.27,0.08,6.48,10.98,20.33,WHA