In [131]:
import pandas as pd
import html5lib
import time
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import mplfinance as mpf
from datetime import datetime, timedelta
import plotly
import plotly.graph_objs as go
import datetime
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from selenium.webdriver.chrome.options import Options

In [168]:
class Manage_share_database():
    
    def __init__(self):
        
        self.con = sqlite3.connect( r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\softdev-2\Set_dataframe_to_sqlite3\share.sqlite')
        self.cur = self.con.cursor()
        
        self.location_db = r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\softdev-2\Set_dataframe_to_sqlite3\share.sqlite'
        self.symbol_id =  self.get_symbol_id()
        
    def get_symbol_id(self):
        
        sql = """select Symbol,SymbolId 
                from Information
                """
        self.cur.execute(sql)
        records = self.cur.fetchall()
        symbol_id = {}
        
        for share in records:
            
            symbol_id[share[0]] = share[1]
        
        return symbol_id
    
    # ดึงราคหุ้นจาก yfinance รายวัน
    def updateData_Day(self,ticker):
    
        if ticker[:-3] in self.symbol_id.keys():
            
            start_date = self.get_max_date('Stock_price_day',self.symbol_id[ticker[:-3]]) + datetime.timedelta(days=1)
            
            end_date = (datetime.datetime.now()).strftime('%Y-%m-%d')

            if start_date < (datetime.datetime.strptime(end_date, '%Y-%m-%d')) :
                detail = yf.download(ticker, interval='1D', start=start_date, end=end_date)
                detail['SymbolId'] = self.symbol_id[ticker[:-3]]
                table_price = detail.reset_index()
                return table_price

        return pd.DataFrame({'Date':[],'Open':[],'High':[],'Low':[],'Close':[],'Adj Close':[],'Volume':[],'SymbolId':[]})
    
    # ดึงราคหุ้นจาก yfinance รายชั่วโมง
    def updateData_hours(self,ticker):

        if ticker[:-3] in self.symbol_id.keys():
            
            max_date = self.get_max_date('Stock_price_hours',self.symbol_id[ticker[:-3]])
            start_date =  max_date + datetime.timedelta(hours=1)

            detail = yf.download(ticker, interval='1h', start=start_date )
            detail['SymbolId'] = self.symbol_id[ticker[:-3]]
            table_price = detail.reset_index()
            return table_price
          
        return pd.DataFrame({'Datetime':[],'Open':[],'High':[],'Low':[],'Close':[],'Adj Close':[],'Volume':[],'SymbolId':[]})

    # นำ dataframe มาเพิ่มลงใน database 
    def combineData(self,stock_name,table_price):
        
        try :
            column = {'Stock_price_hours':'Datetime','Stock_price_day':'Date'}
            sql = """
                    select * 
                    from {}
                    where {} = "{}" and SymbolId = "{}"

                    """.format(stock_name,column[stock_name],table_price.iloc[0][column[stock_name]],str(table_price.iloc[0]['SymbolId']))
            print(sql)
            self.cur.execute(sql)
            records = self.cur.fetchall()

            if records == []:

                new_table = table_price.to_sql(stock_name,self.con,index=False,if_exists='append')
                self.con.commit()
                return new_table

            else :

                return 'Data already in database'

        except KeyError:
            
            return 'Table name incorrect'
        
    def get_max_date(self,table,share):
    
        
        try :
            column = {'Stock_price_hours':'Datetime','Stock_price_day':'Date'}

            sql = """select {} From {} where SymbolId = '{}' ORDER BY {} DESC LIMIT 1;
            """.format(column[table],table,share,column[table])

            stock_data = pd.read_sql(sql,self.con)
            print(stock_data)
            stock_data[column[table]] = pd.to_datetime(stock_data[column[table]], format='%Y/%m/%d')

            return max(stock_data[column[table]])
        
        except KeyError:
            
            return "Table or Share incorret"

In [169]:
tool = Manage_share_database()

In [170]:
tool.get_max_date('Stock_price_hours',"374")

              Datetime
0  2023-01-09 11:00:00

Timestamp('2023-01-09 11:00:00')

In [138]:
tickers = ['ACE.BK', 'ADVANC.BK', 'AEONTS.BK', 'AMATA.BK', 'AOT.BK', 'AP.BK', 'AWC.BK', 'BAM.BK',
       'BANPU.BK', 'BBL.BK', 'BCH.BK', 'BCP.BK', 'BCPG.BK', 'BDMS.BK', 'BEC.BK', 'BEM.BK',
       'BGRIM.BK', 'BH.BK', 'BLA.BK', 'BTS.BK', 'CBG.BK', 'CENTEL.BK', 'CHG.BK', 'CK.BK', 'CKP.BK',
       'COM7.BK', 'CPALL.BK', 'CPF.BK', 'CPN.BK', 'CRC.BK', 'DOHOME.BK', 'DTAC.BK', 'EA.BK',
       'EGCO.BK', 'EPG.BK', 'ESSO.BK', 'FORTH.BK', 'GLOBAL.BK', 'GPSC.BK', 'GULF.BK', 'GUNKUL.BK',
       'HANA.BK', 'HMPRO.BK', 'INTUCH.BK', 'IRPC.BK', 'IVL.BK', 'JMART.BK', 'JMT.BK', 'KBANK.BK',
       'KCE.BK', 'KEX.BK', 'KKP.BK', 'KTB.BK', 'KTC.BK', 'LH.BK', 'MAJOR.BK', 'MEGA.BK', 'MINT.BK',
       'MTC.BK', 'ONEE.BK', 'OR.BK', 'ORI.BK', 'OSP.BK', 'PLANB.BK', 'PSL.BK', 'PTG.BK', 'PTT.BK',
       'PTTEP.BK', 'PTTGC.BK', 'QH.BK', 'RATCH.BK', 'RBF.BK', 'RCL.BK', 'SAWAD.BK', 'SCB.BK',
       'SCC.BK', 'SCGP.BK', 'SINGER.BK', 'SPALI.BK', 'SPRC.BK', 'STA.BK', 'STARK.BK', 'STEC.BK',
       'STGT.BK', 'SUPER.BK', 'SYNEX.BK', 'TASCO.BK', 'TCAP.BK', 'THANI.BK', 'TIDLOR.BK',
       'TIPH.BK', 'TISCO.BK', 'TOP.BK', 'TQM.BK', 'TRUE.BK', 'TTA.BK', 'TTB.BK', 'TU.BK', 'VGI.BK',
       'WHA.BK']

In [54]:
tool.symbol_id

{'EE': 1,
 'GFPT': 2,
 'LEE': 3,
 'MAX': 4,
 'NER': 5,
 'PPPM': 6,
 'STA': 7,
 'TEGH': 8,
 'TFM': 9,
 'TRUBB': 10,
 'TWPC': 11,
 'UPOIC': 12,
 'UVAN': 13,
 'VPO': 14,
 'AAI': 15,
 'APURE': 16,
 'ASIAN': 17,
 'BR': 18,
 'BRR': 19,
 'BTG': 20,
 'CBG': 21,
 'CFRESH': 22,
 'CH': 23,
 'CHOTI': 24,
 'CM': 25,
 'CPF': 26,
 'CPI': 27,
 'F&D': 28,
 'GLOCON': 29,
 'HTC': 30,
 'ICHI': 31,
 'ITC': 32,
 'JDF': 33,
 'KBS': 34,
 'KSL': 35,
 'KTIS': 36,
 'LST': 37,
 'M': 38,
 'MALEE': 39,
 'MINT': 40,
 'NRF': 41,
 'NSL': 42,
 'OISHI': 43,
 'OSP': 44,
 'PB': 45,
 'PLUS': 46,
 'PM': 47,
 'PRG': 48,
 'RBF': 49,
 'SAPPE': 50,
 'SAUCE': 51,
 'SFP': 52,
 'SNNP': 53,
 'SNP': 54,
 'SORKON': 55,
 'SSC': 56,
 'SSF': 57,
 'SST': 58,
 'SUN': 59,
 'TC': 60,
 'TFG': 61,
 'TFMAMA': 62,
 'TIPCO': 63,
 'TKN': 64,
 'TU': 65,
 'TVO': 66,
 'W': 67,
 'ZEN': 68,
 'AFC': 69,
 'AURA': 70,
 'BTNC': 71,
 'CPH': 72,
 'CPL': 73,
 'NC': 74,
 'PAF': 75,
 'PDJ': 76,
 'PG': 77,
 'SABINA': 78,
 'SAWANG': 79,
 'SUC': 80,
 'TNL': 81,
 'TR': 82,
 'TTI': 83,
 'TTT': 84,
 'UPF': 85,
 'WACOAL': 86,
 'WFX': 87,
 'AJA': 88,
 'DTCI': 89,
 'FANCY': 90,
 'FTI': 91,
 'KYE': 92,
 'L&E': 93,
 'MODERN': 94,
 'OGC': 95,
 'ROCK': 96,
 'SIAM': 97,
 'TCMC': 98,
 'TSR': 99,
 'APCO': 100,
 'BIZ': 101,
 'DDD': 102,
 'JCT': 103,
 'KISS': 104,
 'NV': 105,
 'OCC': 106,
 'S&J': 107,
 'STGT': 108,
 'STHAI': 109,
 'TNR': 110,
 'TOG': 111,
 '3K-BAT': 112,
 'ACG': 113,
 'AH': 114,
 'CWT': 115,
 'EASON': 116,
 'GYT': 117,
 'HFT': 118,
 'IHL': 119,
 'INGRS': 120,
 'IRC': 121,
 'PCSGH': 122,
 'POLY': 123,
 'SAT': 124,
 'SPG': 125,
 'STANLY': 126,
 'TKT': 127,
 'TNPC': 128,
 'TRU': 129,
 'TSC': 130,
 'ALLA': 131,
 'ASEFA': 132,
 'CPT': 133,
 'CRANE': 134,
 'CTW': 135,
 'FMT': 136,
 'HTECH': 137,
 'KKC': 138,
 'PK': 139,
 'SNC': 140,
 'STARK': 141,
 'TCJ': 142,
 'TPCS': 143,
 'VARO': 144,
 'UTP': 145,
 'BCT': 146,
 'CMAN': 147,
 'GC': 148,
 'GGC': 149,
 'GIFT': 150,
 'IVL': 151,
 'NFC': 152,
 'PATO': 153,
 'PMTA': 154,
 'PTTGC': 155,
 'SUTHA': 156,
 'TCCC': 157,
 'TPA': 158,
 'UAC': 159,
 'UP': 160,
 'AJ': 161,
 'ALUCON': 162,
 'BGC': 163,
 'CSC': 164,
 'NEP': 165,
 'PTL': 166,
 'SCGP': 167,
 'SFLEX': 168,
 'SITHAI': 169,
 'SLP': 170,
 'SMPC': 171,
 'SPACK': 172,
 'TCOAT': 173,
 'TFI': 174,
 'THIP': 175,
 'TMD': 176,
 'TOPP': 177,
 'TPAC': 178,
 'TPBI': 179,
 'TPP': 180,
 '2S': 181,
 'AMC': 182,
 'BSBM': 183,
 'CEN': 184,
 'CITY': 185,
 'CSP': 186,
 'GJS': 187,
 'GSTEEL': 188,
 'INOX': 189,
 'LHK': 190,
 'MCS': 191,
 'MILL': 192,
 'PAP': 193,
 'PERM': 194,
 'SAM': 195,
 'SMIT': 196,
 'SSSC': 197,
 'TGPRO': 198,
 'THE': 199,
 'TMT': 200,
 'TSTH': 201,
 'TWP': 202,
 'TYCN': 203,
 'CCP': 204,
 'COTTO': 205,
 'DCC': 206,
 'DCON': 207,
 'DRT': 208,
 'EPG': 209,
 'GEL': 210,
 'PPP': 211,
 'Q-CON': 212,
 'SCC': 213,
 'SCCC': 214,
 'SCP': 215,
 'SKN': 216,
 'STECH': 217,
 'TASCO': 218,
 'TOA': 219,
 'TPIPL': 220,
 'UMI': 221,
 'VNG': 222,
 'WIIK': 223,
 'A': 224,
 'AMATA': 225,
 'AMATAV': 226,
 'ANAN': 227,
 'AP': 228,
 'APEX': 229,
 'AQ': 230,
 'ASW': 231,
 'AWC': 232,
 'BLAND': 233,
 'BRI': 234,
 'BROCK': 235,
 'CGD': 236,
 'CI': 237,
 'CMC': 238,
 'CPN': 239,
 'ESTAR': 240,
 'EVER': 241,
 'FPT': 242,
 'GLAND': 243,
 'J': 244,
 'JCK': 245,
 'KC': 246,
 'LALIN': 247,
 'LH': 248,
 'LPN': 249,
 'MBK': 250,
 'MJD': 251,
 'MK': 252,
 'NCH': 253,
 'NNCL': 254,
 'NOBLE': 255,
 'NUSA': 256,
 'NVD': 257,
 'ORI': 258,
 'PACE': 259,
 'PEACE': 260,
 'PF': 261,
 'PIN': 262,
 'PLAT': 263,
 'POLAR': 264,
 'PRECHA': 265,
 'PRIN': 266,
 'PSH': 267,
 'QH': 268,
 'RABBIT': 269,
 'RICHY': 270,
 'RML': 271,
 'ROJNA': 272,
 'S': 273,
 'SA': 274,
 'SAMCO': 275,
 'SC': 276,
 'SENA': 277,
 'SIRI': 278,
 'SPALI': 279,
 'UV': 280,
 'WHA': 281,
 'WIN': 282,
 'AIMCG': 283,
 'AIMIRT': 284,
 'ALLY': 285,
 'AMATAR': 286,
 'B-WORK': 287,
 'BAREIT': 288,
 'BKKCP': 289,
 'BOFFICE': 290,
 'CPNCG': 291,
 'CPNREIT': 292,
 'CPTGF': 293,
 'CTARAF': 294,
 'DREIT': 295,
 'ERWPF': 296,
 'FTREIT': 297,
 'FUTUREPF': 298,
 'GAHREIT': 299,
 'GROREIT': 300,
 'GVREIT': 301,
 'HPF': 302,
 'HYDROGEN': 303,
 'IMPACT': 304,
 'INETREIT': 305,
 'KPNPF': 306,
 'KTBSTMR': 307,
 'LHHOTEL': 308,
 'LHPF': 309,
 'LHSC': 310,
 'LPF': 311,
 'LUXF': 312,
 'M-II': 313,
 'M-PAT': 314,
 'M-STOR': 315,
 'MIPF': 316,
 'MIT': 317,
 'MJLF': 318,
 'MNIT': 319,
 'MNIT2': 320,
 'MNRF': 321,
 'POPF': 322,
 'PPF': 323,
 'PROSPECT': 324,
 'QHHR': 325,
 'QHOP': 326,
 'QHPF': 327,
 'SHREIT': 328,
 'SIRIP': 329,
 'SPRIME': 330,
 'SRIPANWA': 331,
 'SSPF': 332,
 'SSTRT': 333,
 'TIF1': 334,
 'TLHPF': 335,
 'TNPF': 336,
 'TPRIME': 337,
 'TTLPF': 338,
 'TU-PF': 339,
 'URBNPF': 340,
 'WHABT': 341,
 'WHAIR': 342,
 'WHART': 343,
 'APCS': 344,
 'BJCHI': 345,
 'BKD': 346,
 'CIVIL': 347,
 'CK': 348,
 'CNT': 349,
 'EMC': 350,
 'ITD': 351,
 'NWR': 352,
 'PLE': 353,
 'PREB': 354,
 'PYLON': 355,
 'RT': 356,
 'SEAFCO': 357,
 'SQ': 358,
 'SRICHA': 359,
 'STEC': 360,
 'STI': 361,
 'STPI': 362,
 'SYNTEC': 363,
 'TEAMG': 364,
 'TEKA': 365,
 'TPOLY': 366,
 'TRC': 367,
 'TRITN': 368,
 'TTCL': 369,
 'UNIQ': 370,
 'WGE': 371,
 '7UP': 372,
 'ACC': 373,
 'ACE': 374,
 'AGE': 375,
 'AI': 376,
 'AIE': 377,
 'AKR': 378,
 'BAFS': 379,
 'BANPU': 380,
 'BBGI': 381,
 'BCP': 382,
 'BCPG': 383,
 'BGRIM': 384,
 'BPP': 385,
 'BRRGIF': 386,
 'CKP': 387,
 'CV': 388,
 'DEMCO': 389,
 'EA': 390,
 'EASTW': 391,
 'EGATIF': 392,
 'EGCO': 393,
 'EP': 394,
 'ESSO': 395,
 'ETC': 396,
 'GPSC': 397,
 'GREEN': 398,
 'GULF': 399,
 'GUNKUL': 400,
 'IFEC': 401,
 'IRPC': 402,
 'JR': 403,
 'KBSPIF': 404,
 'LANNA': 405,
 'MDX': 406,
 'NOVA': 407,
 'OR': 408,
 'PCC': 409,
 'PRIME': 410,
 'PTG': 411,
 'PTT': 412,
 'PTTEP': 413,
 'QTC': 414,
 'RATCH': 415,
 'RPC': 416,
 'SCG': 417,
 'SCI': 418,
 'SCN': 419,
 'SGP': 420,
 'SKE': 421,
 'SOLAR': 422,
 'SPCG': 423,
 'SPRC': 424,
 'SSP': 425,
 'SUPER': 426,
 'SUPEREIF': 427,
 'SUSCO': 428,
 'TAE': 429,
 'TCC': 430,
 'TGE': 431,
 'TOP': 432,
 'TPIPP': 433,
 'TSE': 434,
 'TTW': 435,
 'UBE': 436,
 'WHAUP': 437,
 'WP': 438,
 'THL': 439,
 'B52': 440,
 'BEAUTY': 441,
 'BIG': 442,
 'BJC': 443,
 'COM7': 444,
 'CPALL': 445,
 'CPW': 446,
 'CRC': 447,
 'CSS': 448,
 'DOHOME': 449,
 'FN': 450,
 'FTE': 451,
 'GLOBAL': 452,
 'HMPRO': 453,
 'ICC': 454,
 'ILM': 455,
 'IT': 456,
 'KAMART': 457,
 'LOXLEY': 458,
 'MAKRO': 459,
 'MC': 460,
 'MEGA': 461,
 'MIDA': 462,
 'MOSHI': 463,
 'RS': 464,
 'RSP': 465,
 'SABUY': 466,
 'SCM': 467,
 'SINGER': 468,
 'SPC': 469,
 'SPI': 470,
 'SVT': 471,
 'AHC': 472,
 'BCH': 473,
 'BDMS': 474,
 'BH': 475,
 'CHG': 476,
 'CMR': 477,
 'EKH': 478,
 'KDH': 479,
 'LPH': 480,
 'M-CHAI': 481,
 'NEW': 482,
 'NTV': 483,
 'PR9': 484,
 'PRINC': 485,
 'RAM': 486,
 'RJH': 487,
 'RPH': 488,
 'SKR': 489,
 'THG': 490,
 'VIBHA': 491,
 'VIH': 492,
 'WPH': 493,
 'AMARIN': 494,
 'AQUA': 495,
 'AS': 496,
 'BEC': 497,
 'FE': 498,
 'GPI': 499,
 'GRAMMY': 500,
 'JKN': 501,
 'MACO': 502,
 'MAJOR': 503,
 'MATCH': 504,
 'MATI': 505,
 'MCOT': 506,
 'MONO': 507,
 'MPIC': 508,
 'NATION': 509,
 'ONEE': 510,
 'PLANB': 511,
 'POST': 512,
 'PRAKIT': 513,
 'PTECH': 514,
 'SE-ED': 515,
 'TKS': 516,
 'VGI': 517,
 'WAVE': 518,
 'WORK': 519,
 'BWG': 520,
 'GENCO': 521,
 'PRO': 522,
 'SISB': 523,
 'SO': 524,
 'ASIA': 525,
 'BEYOND': 526,
 'CENTEL': 527,
 'CSR': 528,
 'DUSIT': 529,
 'ERW': 530,
 'GRAND': 531,
 'LRH': 532,
 'MANRIN': 533,
 'OHTL': 534,
 'ROH': 535,
 'SHANG': 536,
 'SHR': 537,
 'VRANDA': 538,
 'AAV': 539,
 'AOT': 540,
 'ASIMAR': 541,
 'B': 542,
 'BA': 543,
 'BEM': 544,
 'BIOTEC': 545,
 'BTS': 546,
 'BTSGIF': 547,
 'DMT': 548,
 'III': 549,
 'JWD': 550,
 'KEX': 551,
 'KIAT': 552,
 'KWC': 553,
 'MENA': 554,
 'NOK': 555,
 'NYT': 556,
 'PORT': 557,
 'PRM': 558,
 'PSL': 559,
 'RCL': 560,
 'TFFIF': 561,
 'THAI': 562,
 'TSTE': 563,
 'TTA': 564,
 'WICE': 565,
 'CCET': 566,
 'DELTA': 567,
 'HANA': 568,
 'KCE': 569,
 'METCO': 570,
 'NEX': 571,
 'SMT': 572,
 'SVI': 573,
 'TEAM': 574,
 'ADVANC': 575,
 'AIT': 576,
 'ALT': 577,
 'AMR': 578,
 'BLISS': 579,
 'DIF': 580,
 'DTAC': 581,
 'DTCENT': 582,
 'FORTH': 583,
 'HUMAN': 584,
 'ILINK': 585,
 'INET': 586,
 'INSET': 587,
 'INTUCH': 588,
 'ITEL': 589,
 'JAS': 590,
 'JASIF': 591,
 'JMART': 592,
 'JTS': 593,
 'MFEC': 594,
 'MSC': 595,
 'PT': 596,
 'SAMART': 597,
 'SAMTEL': 598,
 'SDC': 599,
 'SIS': 600,
 'SKY': 601,
 'SVOA': 602,
 'SYMC': 603,
 'SYNEX': 604,
 'THCOM': 605,
 'TKC': 606,
 'TRUE': 607,
 'TWZ': 608,
 'AEONTS': 609,
 'BAM': 610,
 'BBL': 611,
 'BLA': 612,
 'JMT': 613,
 'KBANK': 614,
 'KKP': 615,
 'KTB': 616,
 'KTC': 617,
 'MTC': 618,
 'SAWAD': 619,
 'SCB': 620,
 'TCAP': 621,
 'THANI': 622,
 'TIDLOR': 623,
 'TIPH': 624,
 'TISCO': 625,
 'TQM': 626,
 'TTB': 627}

In [118]:
tool.updateData_Day('ACE.BK')

                  Date
0  2023-01-03 00:00:00
2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed

        Date  Open  High   Low  Close  Adj Close    Volume  SymbolId
0 2023-01-04  2.68  2.68  2.64   2.66       2.66  10982000       374
1 2023-01-05  2.64  2.68  2.64   2.66       2.66  15369400       374
2 2023-01-06  2.66  2.70  2.66   2.66       2.66  20062600       374
3 2023-01-09  2.66  2.66  2.64   2.64       2.64  22609300       374
4 2023-01-10  2.66  2.72  2.66   2.70       2.70  24048400       374
5 2023-01-11  2.70  2.74  2.70   2.72       2.72  26898900       374
6 2023-01-12  2.72  2.72  2.70   2.70       2.70  17181700       374
7 2023-01-13  2.70  2.72  2.66   2.68       2.68  19192400       374
8 2023-01-16  2.68  2.68  2.64   2.64       2.64  19296300       374
9 2023-01-17  2.66  2.70  2.66   2.66       2.66  28562950       374

In [126]:
tool.updateData_hours('ACE.BK')

              Datetime
0  2023-01-09 11:00:00
2023-01-09 11:00:00
[*********************100%***********************]  1 of 1 completed

              Datetime  Open  High   Low  Close  Adj Close   Volume  SymbolId
0  2023-01-09 12:00:00  2.66  2.66  2.64   2.66       2.66        0       374
1  2023-01-09 14:00:00  2.66  2.66  2.64   2.66       2.66  2312000       374
2  2023-01-09 15:00:00  2.66  2.66  2.64   2.66       2.66   345900       374
3  2023-01-09 16:00:00  2.66  2.66  2.64   2.64       2.64   362900       374
4  2023-01-10 10:00:00  2.66  2.70  2.66   2.68       2.68        0       374
5  2023-01-10 11:00:00  2.68  2.72  2.68   2.72       2.72  5034902       374
6  2023-01-10 12:00:00  2.70  2.70  2.70   2.70       2.70  1356800       374
7  2023-01-10 14:00:00  2.70  2.72  2.70   2.70       2.70  2975921       374
8  2023-01-10 15:00:00  2.70  2.72  2.70   2.72       2.72   658212       374
9  2023-01-10 16:00:00  2.72  2.72  2.70   2.72       2.72   591423       374
10 2023-01-11 10:00:00  2.72  2.74  2.70   2.72       2.72        0       374
11 2023-01-11 11:00:00  2.70  2.74  2.70   2.74       2.74  3443657       374
12 2023-01-11 12:00:00  2.74  2.74  2.72   2.72       2.72   746819       374
13 2023-01-11 14:00:00  2.72  2.74  2.70   2.72       2.72  3996510       374
14 2023-01-11 15:00:00  2.72  2.72  2.70   2.72       2.72  1010410       374
15 2023-01-11 16:00:00  2.70  2.72  2.70   2.72       2.72  1701400       374
16 2023-01-12 10:00:00  2.72  2.72  2.70   2.72       2.72        0       374
17 2023-01-12 11:00:00  2.72  2.72  2.70   2.70       2.70  4476129       374
18 2023-01-12 12:00:00  2.72  2.72  2.70   2.72       2.72    34510       374
19 2023-01-12 14:00:00  2.70  2.72  2.70   2.72       2.72  2500705       374
20 2023-01-12 15:00:00  2.72  2.72  2.70   2.72       2.72   732601       374
21 2023-01-12 16:00:00  2.72  2.72  2.70   2.72       2.72  1556288       374
22 2023-01-13 10:00:00  2.70  2.72  2.70   2.70       2.70        0       374
23 2023-01-13 11:00:00  2.70  2.72  2.68   2.70       2.70  1425615       374
24 2023-01-13 12:00:00  2.68  2.70  2.68   2.68       2.68  2186707       374
25 2023-01-13 14:00:00  2.66  2.68  2.66   2.68       2.68  6697200       374
26 2023-01-13 15:00:00  2.68  2.68  2.66   2.68       2.68  1199183       374
27 2023-01-13 16:00:00  2.68  2.68  2.68   2.68       2.68   513300       374
28 2023-01-16 10:00:00  2.68  2.68  2.66   2.68       2.68        0       374
29 2023-01-16 11:00:00  2.68  2.68  2.66   2.68       2.68   212500       374
30 2023-01-16 12:00:00  2.66  2.68  2.66   2.68       2.68   284500       374
31 2023-01-16 14:00:00  2.66  2.68  2.66   2.66       2.66  5476924       374
32 2023-01-16 15:00:00  2.68  2.68  2.64   2.66       2.66  2096251       374
33 2023-01-16 16:00:00  2.66  2.66  2.64   2.66       2.66   245600       374
34 2023-01-17 10:00:00  2.68  2.70  2.66   2.68       2.68        0       374
35 2023-01-17 11:00:00  2.68  2.68  2.66   2.66       2.66   348940       374
36 2023-01-17 12:00:00  2.68  2.68  2.66   2.66       2.66  3303000       374
37 2023-01-17 14:00:00  2.66  2.68  2.66   2.68       2.68  4591000       374
38 2023-01-17 15:00:00  2.68  2.68  2.66   2.68       2.68   540601       374
39 2023-01-17 16:00:00  2.66  2.68  2.66   2.66       2.66   857701       374

In [35]:
tool.combineData('Stock_price_hours',d)

1

In [140]:
new = []
for ticker in tickers:
    
    new.append(tool.updateData_Day(ticker))
    tool.combineData('Stock_price_day',new)
new_stock = pd.concat(new)

                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00

[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed
                  Date
0  2023-01-03 00:00:00
[*********************100%***********************]  1 of 1 completed

In [166]:
new_stock

         Date  Open  High   Low  Close  Adj Close     Volume  SymbolId
0  2023-01-04  2.68  2.68  2.64   2.66       2.66   10982000       374
1  2023-01-05  2.64  2.68  2.64   2.66       2.66   15369400       374
2  2023-01-06  2.66  2.70  2.66   2.66       2.66   20062600       374
3  2023-01-09  2.66  2.66  2.64   2.64       2.64   22609300       374
4  2023-01-10  2.66  2.72  2.66   2.70       2.70   24048400       374
..        ...   ...   ...   ...    ...        ...        ...       ...
5  2023-01-11  3.96  4.06  3.96   4.04       4.04   98734800       281
6  2023-01-12  4.06  4.06  3.98   4.00       4.00   62525000       281
7  2023-01-13  4.00  4.02  3.92   3.92       3.92  169025700       281
8  2023-01-16  3.92  3.98  3.92   3.94       3.94   60595900       281
9  2023-01-17  3.94  3.98  3.92   3.92       3.92   83819300       281

[1000 rows x 8 columns]

In [165]:
tool.combineData('Stock_price_day',new_stock)

                select *
                from Stock_price_day
                where Date = "2023-01-04 00:00:00" and SymbolId = "374"

'Data already in database'

#   --------------------------------------------------------------------------------------------------------

In [1]:
class Manage_share_database():
    
    def __init__(self):
                
        self.location_db = r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\softdev-2\Set_dataframe_to_sqlite3\share.sqlite'
        self.symbol_id =  self.get_symbol_id()
        
    def get_symbol_id(self):
        
        con = sqlite3.connect(self.location_db)
        cur = con.cursor()
        
        sql = """select Symbol,SymbolId 
                from Information
                """
        cur.execute(sql)
        records = cur.fetchall()
        con.close()
        symbol_id = {}
        
        for share in records:
            
            symbol_id[share[0]] = share[1]
        
        return symbol_id
    
    # ดึงราคหุ้นจาก yfinance รายวัน
    def updateData_Day(self,ticker):
        
        if ticker[:-3] in self.symbol_id.keys():
            
            start_date = self.get_max_date('Stock_price_day',self.symbol_id[ticker[:-3]]) + datetime.timedelta(days=1)
            
            end_date = (datetime.datetime.now()).strftime('%Y-%m-%d')

            if start_date < (datetime.datetime.strptime(end_date, '%Y-%m-%d')) :
                detail = yf.download(ticker, interval='1D', start=start_date, end=end_date)
                detail['SymbolId'] = self.symbol_id[ticker[:-3]]
                table_price = detail.reset_index()
                return table_price

        return pd.DataFrame({'Date':[],'Open':[],'High':[],'Low':[],'Close':[],'Adj Close':[],'Volume':[],'SymbolId':[]})
    
    # ดึงราคหุ้นจาก yfinance รายชั่วโมง
    def updateData_hours(self,ticker):

        if ticker[:-3] in self.symbol_id.keys():
            
            max_date = self.get_max_date('Stock_price_hours',self.symbol_id[ticker[:-3]])
            start_date =  max_date + datetime.timedelta(hours=1)

            detail = yf.download(ticker, interval='1h', start=start_date )
            detail['SymbolId'] = self.symbol_id[ticker[:-3]]
            table_price = detail.reset_index()
            return table_price
          
        return pd.DataFrame({'Datetime':[],'Open':[],'High':[],'Low':[],'Close':[],'Adj Close':[],'Volume':[],'SymbolId':[]})

    # นำ dataframe มาเพิ่มลงใน database 
    def combineData(self,stock_name,table_price):
        
        try :
            con = sqlite3.connect(self.location_db)
            cur = con.cursor()
            column = {'Stock_price_hours':'Datetime','Stock_price_day':'Date'}
            sql = """
                    select * 
                    from {}
                    where {} = "{}" and SymbolId = "{}"

                    """.format(stock_name,column[stock_name],table_price.iloc[0][column[stock_name]],str(table_price.iloc[0]['SymbolId']))
            print(sql)
            cur.execute(sql)
            con.close
            records = self.cur.fetchall()

            if records == []:

                new_table = table_price.to_sql(stock_name,self.con,index=False,if_exists='append')
                self.con.commit()
                return new_table

            else :

                return 'Data already in database'

        except KeyError:
            
            return 'Table name incorrect'
        
    def get_max_date(self,table,share):
    
        
        try :
            
            con = sqlite3.connect(self.location_db)
            cur = con.cursor()
            
            column = {'Stock_price_hours':'Datetime','Stock_price_day':'Date'}

            sql = """select {} From {} where SymbolId = '{}' ORDER BY {} DESC LIMIT 1;
            """.format(column[table],table,share,column[table])

            stock_data = pd.read_sql(sql,con)
            con.close()
            print(stock_data)
            stock_data[column[table]] = pd.to_datetime(stock_data[column[table]], format='%Y/%m/%d')

            return max(stock_data[column[table]])
        
        except KeyError:
            
            return "Table or Share incorret"
            
# Update Statistics--------------------------------------------------

    def Check_Statistics(self,table,df,time):

        location_db = r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\softdev-2\Set_dataframe_to_sqlite3\share.sqlite'
        con = sqlite3.connect(location_db)
        cur = con.cursor()

        sql = """select "{}" From {} where SymbolId = '{}' and "{}" = '{}' LIMIT 1
        """.format("Statistics as of",table,int(df.iloc[[0]]['SymbolId']),
                   "Statistics as of",str(time))

        cur.execute(sql)
        records = cur.fetchall()
        con.close()

        return not(bool(records))

    def new_Statistics(self,Statistics_df):
        data_new_year = []
        r = 0
        for time in (Statistics_df['Statistics as of'].tolist())[:-1]:

            Nhave = self.Check_Statistics('Satistics_year',Statistics_df.iloc[[r]],time)

            if Nhave :

                data_new_year.append(Statistics_df.iloc[[r]])

            r+=1

        if data_new_year :

            return pd.concat(data_new_year)

        return pd.DataFrame({'Statistics as of': []
            , 'Last Price (Baht)': []
            , 'Market Cap. (M.Baht)': []
            , 'F/S Period (As of date)': []
            , 'P/E': [], 'P/BV': []
            , 'Book Value per share (Baht)': [], 'Dividend Yield (%)': []
            , 'SymbolId': []})

In [178]:
tool = Manage_share_database()

In [179]:
tool.get_max_date('Stock_price_hours',"374")

              Datetime
0  2023-01-09 11:00:00

Timestamp('2023-01-09 11:00:00')