In [1]:
import pandas as pd
import requests
import sqlite3

In [2]:
Symbol_NAS = pd.read_csv(r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\Project_sofedev_2\TRY_FUNTION\NASDAQ\NASDAQ.csv')

In [19]:
Symbol_NAS

,Unnamed: 0,Symbol,Name,Sector,Industry,Market
0,0,AACG,ATA Creativity Global American Depositary Shares,Consumer Discretionary,Service to the Health Industry,NASDAQ
1,1,AACI,Armada Acquisition Corp. I Common Stock,Industrials,Consumer Electronics/Appliances,NASDAQ
2,2,AACIW,Armada Acquisition Corp. I Warrant,Industrials,Consumer Electronics/Appliances,NASDAQ
3,3,AADI,Aadi Bioscience Inc. Common Stock,Health Care,Biotechnology: Pharmaceutical Preparations,NASDAQ
4,4,AAL,American Airlines Group Inc. Common Stock,Consumer Discretionary,Air Freight/Delivery Services,NASDAQ
...,...,...,...,...,...,...
4278,4511,ZTAQW,Zimmer Energy Transition Acquisition Corp. War...,Industrials,Consumer Electronics/Appliances,NASDAQ
4279,4514,ZVSA,ZyVersa Therapeutics Inc. Common Stock,Health Care,Biotechnology: Pharmaceutical Preparations,NASDAQ
4280,4515,ZYME,Zymeworks Inc. Common Stock,Health Care,Biotechnology: Biological Products (No Diagnos...,NASDAQ
4281,4516,ZYNE,Zynerba Pharmaceuticals Inc. Common Stock,Health Care,Biotechnology: Pharmaceutical Preparations,NASDAQ
4282,4517,ZYXI,Zynex Inc. Common Stock,Health Care,Other Pharmaceuticals,NASDAQ

In [3]:
in_se = Symbol_NAS[['Sector','Industry']]

In [4]:
df = in_se.drop_duplicates(subset = "Industry")

In [5]:
df.sort_values(by=['Sector'], inplace=True)

C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_12900\3320895022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by=['Sector'], inplace=True)

In [6]:
test = df

In [7]:
Sector = list(test.Sector.unique())

In [8]:
sec = {}
start = 29
for i in range(len(Sector)):

    sec[Sector[i]] = start+i
print(sec)

{'Basic Materials': 29, 'Consumer Discretionary': 30, 'Consumer Staples': 31, 'Energy': 32, 'Finance': 33, 'Health Care': 34, 'Industrials': 35, 'Miscellaneous': 36, 'Real Estate': 37, 'Technology': 38, 'Telecommunications': 39, 'Utilities': 40}

In [9]:
test['SectorId'] = test['Sector'].map(sec)

C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_12900\1542990054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['SectorId'] = test['Sector'].map(sec)

In [10]:
Industry = list(test.Industry.unique())
Ind = {}
start = 9
for i in range(len(Industry)):

    Ind[Industry[i]] = i + start
print(Ind)

{'Forest Products': 9, 'Precious Metals': 10, 'Construction Materials': 11, 'Other Metals and Minerals': 12, 'Metal Mining': 13, 'Paper': 14, 'Consumer Specialties': 15, 'Services-Misc. Amusement & Recreation': 16, 'Shoe Manufacturing': 17, 'Broadcasting': 18, 'Other Specialty Stores': 19, 'Specialty Foods': 20, 'Professional Services': 21, 'Home Furnishings': 22, 'Containers/Packaging': 23, 'Electronics Distribution': 24, 'Auto Manufacturing': 25, 'Restaurants': 26, 'Wholesale Distributors': 27, 'Apparel': 28, 'Automotive Aftermarket': 29, 'Movies/Entertainment': 30, 'Recreational Games/Products/Toys': 31, 'Retail-Auto Dealers and Gas Stations': 32, 'Auto Parts:O.E.M.': 33, 'Food Distributors': 34, 'Engineering & Construction': 35, 'Beverages - Non-Alcoholic': 36, 'Publishing': 37, 'Ordnance And Accessories': 38, 'Auto & Home Supply Stores': 39, 'Motor Vehicles': 40, 'Books': 41, 'Rental/Leasing Companies': 42, 'Clothing/Shoe/Accessory Stores': 43, 'Miscellaneous manufacturing industries': 44, 'Newspapers/Magazines': 45, 'Homebuilding': 46, 'Marine Transportation': 47, 'Department/Specialty Retail Stores': 48, 'Consumer Electronics/Video Chains': 49, 'Package Goods/Cosmetics': 50, 'Specialty Chemicals': 51, 'Military/Government/Technical': 52, 'Service to the Health Industry': 53, 'Aerospace': 54, 'Building Products': 55, 'Business Services': 56, 'Durable Goods': 57, 'Catalog/Specialty Distribution': 58, 'Hotels/Resorts': 59, 'Advertising': 60, 'Transportation Services': 61, 'Air Freight/Delivery Services': 62, 'Meat/Poultry/Fish': 63, 'Farming/Seeds/Milling': 64, 'Beverages (Production/Distribution)': 65, 'Retail-Drug Stores and Proprietary Stores': 66, 'Tobacco': 67, 'Diversified Electronic Products': 68, 'Food Chains': 69, 'Packaged Foods': 70, 'Integrated oil Companies': 71, 'Oil & Gas Production': 72, 'Coal Mining': 73, 'Oilfield Services/Equipment': 74, 'Oil Refining/Marketing': 75, 'Real Estate': 76, 'Trusts Except Educational Religious and Charitable': 77, 'Major Banks': 78, 'Banks': 79, 'Savings Institutions': 80, 'Property-Casualty Insurers': 81, 'Diversified Financial Services': 82, 'Life Insurance': 83, 'Blank Checks': 84, 'Specialty Insurers': 85, 'Finance Companies': 86, 'Investment Managers': 87, 'Investment Bankers/Brokers/Service': 88, 'Accident &Health Insurance': 89, 'Finance: Consumer Services': 90, 'Finance/Investors Services': 91, 'Commercial Banks': 92, 'Biotechnology: In Vitro & In Vivo Diagnostic Substances': 93, 'Managed Health Care': 94, 'Ophthalmic Goods': 95, 'Other Pharmaceuticals': 96, 'Medical Electronics': 97, 'Biotechnology: Biological Products (No Diagnostic Substances)': 98, 'Medical/Dental Instruments': 99, 'Biotechnology: Electromedical & Electrotherapeutic Apparatus': 100, 'Biotechnology: Commercial Physical & Biological Resarch': 101, 'Pharmaceuticals and Biotechnology': 102, 'Hospital/Nursing Management': 103, 'Assisted Living Services': 104, 'Medical/Nursing Services': 105, 'Precision Instruments': 106, 'Biotechnology: Pharmaceutical Preparations': 107, ' Medicinal Chemicals and Botanical Products ': 108, 'Medical Specialities': 109, 'Diversified Manufacture': 110, 'Plastic Products': 111, 'Metal Fabrications': 112, 'Railroads': 113, 'Industrial Machinery/Components': 114, 'Construction/Ag Equipment/Trucks': 115, 'Electrical Products': 116, 'Water Sewer Pipeline Comm & Power Line Construction': 117, 'Major Chemicals': 118, 'Building Materials': 119, 'Biotechnology: Laboratory Analytical Instruments': 120, 'Consumer Electronics/Appliances': 121, 'Trucking Freight/Courier Services': 122, 'Agricultural Chemicals': 123, 'Aluminum': 124, 'Pollution Control Equipment': 125, 'Industrial Specialties': 126, 'Office Equipment/Supplies/Services': 127, 'Steel/Iron Ore': 128, 'Multi-Sector Companies': 129, 'Diversified Commercial Services': 130, 'Real Estate Investment Trusts': 131, 'Building operators': 132, 'Other Consumer Services': 133, 'Computer Software: Programming Data Processing': 134, 'Security Systems Services': 135, 'EDP Peripherals': 136, 'Radio And Television Broadcasting And Communications Equipment': 137, 'Semiconductors': 138, 'Interactive Media': 139, 'Computer Software: Prepackaged Software': 140, 'Internet and Information Services': 141, 'Computer peripheral equipment': 142, 'Retail: Computer Software & Peripheral Equipment': 143, 'EDP Services': 144, 'Computer Manufacturing': 145, 'Electronic Components': 146, 'Cable & Other Pay Television Services': 147, 'Computer Communications Equipment': 148, 'Telecommunications Equipment': 149, 'Electric Utilities: Central': 150, 'Environmental Services': 151, 'Water Supply': 152, 'Natural Gas Distribution': 153, 'Oil/Gas Transmission': 154, 'Power Generation': 155}

In [11]:
test['IndustryId'] = test['Industry'].map(Ind)

C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_12900\3662904696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['IndustryId'] = test['Industry'].map(Ind)

In [13]:
test

               Sector                   Industry  SectorId  IndustryId
3946  Basic Materials            Forest Products        29           9
379   Basic Materials            Precious Metals        29          10
1364  Basic Materials     Construction Materials        29          11
1643  Basic Materials  Other Metals and Minerals        29          12
815   Basic Materials               Metal Mining        29          13
...               ...                        ...       ...         ...
300         Utilities     Environmental Services        40         151
339         Utilities               Water Supply        40         152
863         Utilities   Natural Gas Distribution        40         153
2661        Utilities       Oil/Gas Transmission        40         154
80          Utilities           Power Generation        40         155

[147 rows x 4 columns]

----------------------------------------Database---------------------------------------------

In [65]:
con = sqlite3.connect(r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\Project_sofedev_2\Manage_Share\Database_convert\share_V2.sqlite')
cur = con.cursor()

table_sector = test[['Sector','SectorId']]
table_sector['MarketId'] = 2
table_sector = table_sector.rename(columns={"Sector": "Full_Sector"})
table_sector = table_sector.drop_duplicates(subset = "Full_Sector")
# table_sector.to_sql('Sector',con,index=False,if_exists='append')
con.commit()
con.close

C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_2936\353701422.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_sector['MarketId'] = 2

In [14]:
con = sqlite3.connect(r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\Project_sofedev_2\Manage_Share\Database_convert\share_V2.sqlite')
cur = con.cursor()

table_Industry = test[['Industry','IndustryId']]
table_Industry['MarketId'] = 2
table_Industry = table_Industry.rename(columns={"Industry": "Full_Industry"})
# table_Industry.to_sql('Industry',con,index=False,if_exists='append')

con.commit()
con.close

C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_12900\164320267.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_Industry['MarketId'] = 2

In [45]:
con = sqlite3.connect(r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\Project_sofedev_2\Manage_Share\Database_convert\share_V2.sqlite')
cur = con.cursor()

df = Symbol_NAS[['Symbol','Sector','Industry']]
df['SectorId'] = df['Sector'].map(sec)
df['IndustryId'] = df['Industry'].map(Ind)
df['SymbolId'] = range(628,4911)
table_Category = df[['SymbolId','SectorId','IndustryId']]
table_Category.to_sql('Category',con,index=False,if_exists='append')

con.commit()
con.close

C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_12900\435276127.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SectorId'] = df['Sector'].map(sec)
C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_12900\435276127.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IndustryId'] = df['Industry'].map(Ind)