In [1]:
from selenium import webdriver
import pandas as pd
import html5lib
import mplfinance as mpf
import matplotlib.pyplot as plt
import yfinance as yf

In [16]:
def save_csv(df,name):

    name += ".csv"
    df.to_csv(name,index=False)
    
    return "succes"

In [2]:
table_info = pd.read_csv('Symbol_info_en_V2.csv')

# Sector table

In [38]:
sector = table_info.Sector.unique()
print(sector)

['Energy & Utilities' 'Information & Communication Technology'
 'Finance & Securities' 'Property Development'
 'Transportation & Logistics' 'Banking' 'Health Care Services'
 'Media & Publishing' 'Insurance' 'Food & Beverage' 'Tourism & Leisure'
 'Construction Services' 'Commerce' 'Construction Materials'
 'Electronic Components' 'Petrochemicals & Chemicals' 'Packaging'
 'Agribusiness' 'Industrial Materials & Machinery'
 'Personal Products & Pharmaceuticals']

In [39]:
Sector_table = {"Sector":sector}

In [40]:
Sector_table = pd.DataFrame(data=Sector_table)

In [41]:
Sector_table

                                    Sector
0                       Energy & Utilities
1   Information & Communication Technology
2                     Finance & Securities
3                     Property Development
4               Transportation & Logistics
5                                  Banking
6                     Health Care Services
7                       Media & Publishing
8                                Insurance
9                          Food & Beverage
10                       Tourism & Leisure
11                   Construction Services
12                                Commerce
13                  Construction Materials
14                   Electronic Components
15              Petrochemicals & Chemicals
16                               Packaging
17                            Agribusiness
18        Industrial Materials & Machinery
19     Personal Products & Pharmaceuticals

In [42]:
Sector_table["SectorId"] = Sector_table.index + 1

In [43]:
save_csv(Sector_table,"Sector")

'succes'

In [44]:
pd.read_csv('Sector.csv')

                                    Sector  SectorId
0                       Energy & Utilities         1
1   Information & Communication Technology         2
2                     Finance & Securities         3
3                     Property Development         4
4               Transportation & Logistics         5
5                                  Banking         6
6                     Health Care Services         7
7                       Media & Publishing         8
8                                Insurance         9
9                          Food & Beverage        10
10                       Tourism & Leisure        11
11                   Construction Services        12
12                                Commerce        13
13                  Construction Materials        14
14                   Electronic Components        15
15              Petrochemicals & Chemicals        16
16                               Packaging        17
17                            Agribusiness        18
18        Industrial Materials & Machinery        19
19     Personal Products & Pharmaceuticals        20

# Industry

In [45]:
Industry = table_info.Industry.unique()
print(Industry)

['Resources' 'Technology' 'Financials' 'Property & Construction'
 'Services' 'Agro & Food Industry' 'Industrials' 'Consumer Products']

In [46]:
Industry_table = {"Industry":Industry}

In [47]:
Industry_table = pd.DataFrame(data=Industry_table)

In [48]:
Industry_table

                  Industry
0                Resources
1               Technology
2               Financials
3  Property & Construction
4                 Services
5     Agro & Food Industry
6              Industrials
7        Consumer Products

In [49]:
Industry_table["IndustryId"] = Industry_table.index + 1

In [50]:
Industry_table

                  Industry  IndustryId
0                Resources           1
1               Technology           2
2               Financials           3
3  Property & Construction           4
4                 Services           5
5     Agro & Food Industry           6
6              Industrials           7
7        Consumer Products           8

In [51]:
save_csv(Industry_table,"Industry")

'succes'

In [52]:
pd.read_csv('Industry.csv')

                  Industry  IndustryId
0                Resources           1
1               Technology           2
2               Financials           3
3  Property & Construction           4
4                 Services           5
5     Agro & Food Industry           6
6              Industrials           7
7        Consumer Products           8