In [90]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import html5lib
import sqlite3

In [91]:
# headless

In [92]:
def save_csv(df,name):

    name += ".csv"
    df.to_csv(name,index=False)
    
    return "succes"

def save_excel(df,name):

    name += ".xlsx"
    df.to_excel(name,index=False)
    
    return "succes"

In [93]:
class SET_Schap:
    
    def __init__(self):
        
        self.location_db = r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\softdev-2\Set_dataframe_to_sqlite3\share.sqlite'
        self.Industrys = ['AGRO','CONSUMP','FINCIAL','INDUS','PROPCON','RESOURC','SERVICE','TECH']
        self.Sector = ['AGRI', 'FOOD', 'FASHION', 'HOME', 'PERSON', 'BANK', 'FIN', 'INSUR', 'AUTO', 'IMM', 'PAPER', 'PETRO', 'PKG', 'STEEL', 'CONMAT', 'PROP', 'PF&REIT', 'CONS', 'ENERG', 'MINE', 'COMM', 'HELTH', 'MEDIA', 'PROF', 'TOURISM', 'TRANS', 'ETRON', 'ICT']
        self.driver = webdriver.Chrome(r"C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\softdev-2\week2\chromedriver.exe")
        self.driver.get("https://www.set.or.th/th/market/index/set/overview")
        self.symbol_id =  self.get_symbol_id()
        
    def get_symbol_id(self):
        
        con = sqlite3.connect(self.location_db)
        cur = con.cursor()
        
        sql = """select Symbol,SymbolId 
                from Information
                """
        cur.execute(sql)
        records = cur.fetchall()
        con.close()
        symbol_id = {}
        
        for share in records:
            
            symbol_id[share[0]] = share[1]
        
        return symbol_id
    
    def get_set50_100_df(self):

        self.driver.get("https://www.set.or.th/en/market/index/set100/overview")
        data = self.driver.page_source
        data_df = pd.read_html(data)[2]
        clean_column = []
        for column in data_df.columns:

            clean_column.append(column.replace("  (Click to sort Ascending)",""))

        data_df.columns = clean_column
        data_df = data_df.set_index('Symbol')
        return data_df 

    def get_share(self,data_df,all_share):

        Section_Industry = ['AGRO', 'AGRI', 'FOOD', 'CONSUMP', 'FASHION', 'HOME', 'PERSON', 'FINCIAL', 'BANK', 'FIN', 'INSUR', 'INDUS', 'AUTO', 'IMM', 'PAPER', 'PETRO', 'PKG', 'STEEL', 'PROPCON', 'CONMAT', 'PROP', 'PF&REIT', 'CONS', 'RESOURC', 'ENERG', 'MINE', 'SERVICE', 'COMM', 'HELTH', 'MEDIA', 'PROF', 'TOURISM', 'TRANS', 'TECH', 'ETRON', 'ICT']

        for i in data_df['หลักทรัพย์']:

            if str(i) != 'nan' and not(str(i.split()[0]) in Section_Industry):
#                 print(i.split()[0])
                all_share.append(i.split()[0])

        return all_share

    def get_SET_share(self):

        Industrys = self.Industrys
        all_share = []

        for Industry in Industrys:

            self.driver.get("https://www.set.or.th/th/market/index/set/"+Industry)
            self.driver.execute_script("scrollBy(0,+5000);")
            time.sleep(2)

            data = self.driver.page_source
            data_df = pd.read_html(data)[1]

            all_share = self.get_share(data_df,all_share)

        return all_share

#  ดึงข้อมูลหลักทรัพย์
    def create_dic_info(self,content,stock):

        try:
            data_info,n = {},0
            data_info["Symbol"] = stock
            data = content.split("\n")[1:13]

            while n < 12:

                if n == 4 or n == 8 :
                    n += 2
                    continue        
                data_info[data[n]] = data[n+1]
                n += 2

            return data_info

        except IndexError:

            return {'Symbol': stock,
             'Market': 'Null',
             'Industry': 'Null',
             'Sector': 'Null',
             'Dividend Policy': 'Null'}

    def get_info(self,stock):

        content_1 = self.driver.find_element(By.CSS_SELECTOR,'.company-info-securities').text

        data_info = self.create_dic_info(content_1,stock)

        content_2 = self.driver.find_element(By.CSS_SELECTOR, '.company-info-detail.border.fs-14px.py-4.px-5.mb-4').text
        data = content_2.split("\n")
        data_info[data[0]] = data[1]

        return data_info

    def get_stock_info(self,stock,all_stock):

        stock = stock.split()[0]
        url_target_financial = "https://www.set.or.th/en/market/product/stock/quote/" + stock + "/company-profile/information"
        self.driver.get(url_target_financial)
        self.driver.execute_script("scrollBy(0,+5000);")
        time.sleep(2)
        self.driver.execute_script("scrollBy(0,+5000);")
        time.sleep(3)

        data_info = self.get_info(stock)

        all_stock.append(data_info)

        return all_stock
    
    def crate_Stock_Table(self,stock_name):

        all_stock = []
        i = 0
        for stock in stock_name :

            print(i,' ',stock.split()[0])
            all_stock = self.get_stock_info(stock,all_stock)
            i+=1
        return pd.DataFrame(all_stock)
    
#  ดึงข้อมูล Financial

    def operation_data_Financial(self,stock,dataframe):

        Financial_df = (dataframe.set_index("Period as of")).T
        Financial_df = Financial_df.drop(["Financial Data","Financial Ratio"], axis=1)

        Financial_df['SymbolId'] = self.symbol_id[stock]
        Financial_df = Financial_df.reset_index()
        Financial_df = Financial_df.rename(columns = {'index':"Period as of"},index = {"Period as of" : " "})

        return Financial_df

    def get_Financial_data(self,stock,all_stock_year,all_stock_month):

        stock = stock.split()[0]
        url_target_financial = "https://www.set.or.th/en/market/product/stock/quote/" + stock + "/financial-statement/company-highlights"
        self.driver.get(url_target_financial)

        self.driver.execute_script("scrollBy(0,+5000);")
        time.sleep(3)
        
        Financial_data = self.driver.page_source
        Financial_df = pd.read_html(Financial_data)[0]

        Financial_df = self.operation_data_Financial(stock,Financial_df)

        if 'M/' in (Financial_df.iloc[[-1]]["Period as of"].tolist())[0] :

            all_stock_year.append(Financial_df[:-1])
            all_stock_month.append(Financial_df.iloc[[-1]])

        else : 

            all_stock_year.append(Financial_df)
        
        return all_stock_year,all_stock_month
    
    
    def crate_Financial_Table(self,stock_name):
    
        all_Financial_year = []
        all_Financial_month = []
        
        i = 0
        for stock in stock_name:

            print(i,' ',stock)
            all_Financial_year,all_Financial_month = self.get_Financial_data(stock,all_Financial_year,all_Financial_month)
            i+=1

        table_pice_year = pd.concat(all_Financial_year)
        table_pice_month = pd.concat(all_Financial_month)
        
        return table_pice_year,table_pice_month
    
#  ดึงข้อมูล Statistics

    def operation_data_Statistics(self,stock,dataframe):

        Statistics_df = (dataframe.set_index("Statistics as of")).T

        Statistics_df['SymbolId'] = self.symbol_id[stock]
        Statistics_df = Statistics_df.reset_index()
        Statistics_df = Statistics_df.rename(columns = {"index":"Statistics as of"})

        return Statistics_df

    def get_Statistics_data(self,stock,all_stock_year,all_stock_month):

        stock = stock.split()[0]
        url_target_financial = "https://www.set.or.th/en/market/product/stock/quote/" + stock + "/financial-statement/company-highlights"
        self.driver.get(url_target_financial)
        
        self.driver.execute_script("scrollBy(0,+5000);")
        time.sleep(3)
        
        Statistics_df = self.driver.page_source
        Statistics_df = pd.read_html(Statistics_df)[1]

        Statistics_df = self.operation_data_Statistics(stock,Statistics_df)
       
        if '30' in (Statistics_df.iloc[[-1]]["Statistics as of"].tolist())[0][:2] :

            Statistics_df['Statistics as of'] = pd.to_datetime(Statistics_df['Statistics as of'])
            all_stock_year.append(Statistics_df)

        else : 

            Statistics_df['Statistics as of'] = pd.to_datetime(Statistics_df['Statistics as of'])
            all_stock_year.append(Statistics_df[:-1])
            all_stock_month.append(Statistics_df.iloc[[-1]])
        

        return all_stock_year , all_stock_month
    
    def crate_Statistics_Table(self,stock_name):
    
        all_Statistics_year = []
        all_Statistics_month = []
        i = 0
        for stock in stock_name:

            print(i,' ',stock)
            all_Statistics_year,all_Statistics_month = self.get_Statistics_data(stock,all_Statistics_year,all_Statistics_month)
            i+=1

        table_Statistics_year = pd.concat(all_Statistics_year)
        table_Statistics_month = pd.concat(all_Statistics_month)
        
        return table_Statistics_year,table_Statistics_month

In [94]:
drive = SET_Schap()

C:\Users\JourneyQ\AppData\Local\Temp\ipykernel_10560\2113730960.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  self.driver = webdriver.Chrome(r"C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\softdev-2\week2\chromedriver.exe")

In [73]:
sh_id = drive.get_symbol_id()

In [114]:
sh_id

{'EE': 1,
 'GFPT': 2,
 'LEE': 3,
 'MAX': 4,
 'NER': 5,
 'PPPM': 6,
 'STA': 7,
 'TEGH': 8,
 'TFM': 9,
 'TRUBB': 10,
 'TWPC': 11,
 'UPOIC': 12,
 'UVAN': 13,
 'VPO': 14,
 'AAI': 15,
 'APURE': 16,
 'ASIAN': 17,
 'BR': 18,
 'BRR': 19,
 'BTG': 20,
 'CBG': 21,
 'CFRESH': 22,
 'CH': 23,
 'CHOTI': 24,
 'CM': 25,
 'CPF': 26,
 'CPI': 27,
 'F&D': 28,
 'GLOCON': 29,
 'HTC': 30,
 'ICHI': 31,
 'ITC': 32,
 'JDF': 33,
 'KBS': 34,
 'KSL': 35,
 'KTIS': 36,
 'LST': 37,
 'M': 38,
 'MALEE': 39,
 'MINT': 40,
 'NRF': 41,
 'NSL': 42,
 'OISHI': 43,
 'OSP': 44,
 'PB': 45,
 'PLUS': 46,
 'PM': 47,
 'PRG': 48,
 'RBF': 49,
 'SAPPE': 50,
 'SAUCE': 51,
 'SFP': 52,
 'SNNP': 53,
 'SNP': 54,
 'SORKON': 55,
 'SSC': 56,
 'SSF': 57,
 'SST': 58,
 'SUN': 59,
 'TC': 60,
 'TFG': 61,
 'TFMAMA': 62,
 'TIPCO': 63,
 'TKN': 64,
 'TU': 65,
 'TVO': 66,
 'W': 67,
 'ZEN': 68,
 'AFC': 69,
 'AURA': 70,
 'BTNC': 71,
 'CPH': 72,
 'CPL': 73,
 'NC': 74,
 'PAF': 75,
 'PDJ': 76,
 'PG': 77,
 'SABINA': 78,
 'SAWANG': 79,
 'SUC': 80,
 'TNL': 81,
 'TR': 82,
 'TTI': 83,
 'TTT': 84,
 'UPF': 85,
 'WACOAL': 86,
 'WFX': 87,
 'AJA': 88,
 'DTCI': 89,
 'FANCY': 90,
 'FTI': 91,
 'KYE': 92,
 'L&E': 93,
 'MODERN': 94,
 'OGC': 95,
 'ROCK': 96,
 'SIAM': 97,
 'TCMC': 98,
 'TSR': 99,
 'APCO': 100,
 'BIZ': 101,
 'DDD': 102,
 'JCT': 103,
 'KISS': 104,
 'NV': 105,
 'OCC': 106,
 'S&J': 107,
 'STGT': 108,
 'STHAI': 109,
 'TNR': 110,
 'TOG': 111,
 '3K-BAT': 112,
 'ACG': 113,
 'AH': 114,
 'CWT': 115,
 'EASON': 116,
 'GYT': 117,
 'HFT': 118,
 'IHL': 119,
 'INGRS': 120,
 'IRC': 121,
 'PCSGH': 122,
 'POLY': 123,
 'SAT': 124,
 'SPG': 125,
 'STANLY': 126,
 'TKT': 127,
 'TNPC': 128,
 'TRU': 129,
 'TSC': 130,
 'ALLA': 131,
 'ASEFA': 132,
 'CPT': 133,
 'CRANE': 134,
 'CTW': 135,
 'FMT': 136,
 'HTECH': 137,
 'KKC': 138,
 'PK': 139,
 'SNC': 140,
 'STARK': 141,
 'TCJ': 142,
 'TPCS': 143,
 'VARO': 144,
 'UTP': 145,
 'BCT': 146,
 'CMAN': 147,
 'GC': 148,
 'GGC': 149,
 'GIFT': 150,
 'IVL': 151,
 'NFC': 152,
 'PATO': 153,
 'PMTA': 154,
 'PTTGC': 155,
 'SUTHA': 156,
 'TCCC': 157,
 'TPA': 158,
 'UAC': 159,
 'UP': 160,
 'AJ': 161,
 'ALUCON': 162,
 'BGC': 163,
 'CSC': 164,
 'NEP': 165,
 'PTL': 166,
 'SCGP': 167,
 'SFLEX': 168,
 'SITHAI': 169,
 'SLP': 170,
 'SMPC': 171,
 'SPACK': 172,
 'TCOAT': 173,
 'TFI': 174,
 'THIP': 175,
 'TMD': 176,
 'TOPP': 177,
 'TPAC': 178,
 'TPBI': 179,
 'TPP': 180,
 '2S': 181,
 'AMC': 182,
 'BSBM': 183,
 'CEN': 184,
 'CITY': 185,
 'CSP': 186,
 'GJS': 187,
 'GSTEEL': 188,
 'INOX': 189,
 'LHK': 190,
 'MCS': 191,
 'MILL': 192,
 'PAP': 193,
 'PERM': 194,
 'SAM': 195,
 'SMIT': 196,
 'SSSC': 197,
 'TGPRO': 198,
 'THE': 199,
 'TMT': 200,
 'TSTH': 201,
 'TWP': 202,
 'TYCN': 203,
 'CCP': 204,
 'COTTO': 205,
 'DCC': 206,
 'DCON': 207,
 'DRT': 208,
 'EPG': 209,
 'GEL': 210,
 'PPP': 211,
 'Q-CON': 212,
 'SCC': 213,
 'SCCC': 214,
 'SCP': 215,
 'SKN': 216,
 'STECH': 217,
 'TASCO': 218,
 'TOA': 219,
 'TPIPL': 220,
 'UMI': 221,
 'VNG': 222,
 'WIIK': 223,
 'A': 224,
 'AMATA': 225,
 'AMATAV': 226,
 'ANAN': 227,
 'AP': 228,
 'APEX': 229,
 'AQ': 230,
 'ASW': 231,
 'AWC': 232,
 'BLAND': 233,
 'BRI': 234,
 'BROCK': 235,
 'CGD': 236,
 'CI': 237,
 'CMC': 238,
 'CPN': 239,
 'ESTAR': 240,
 'EVER': 241,
 'FPT': 242,
 'GLAND': 243,
 'J': 244,
 'JCK': 245,
 'KC': 246,
 'LALIN': 247,
 'LH': 248,
 'LPN': 249,
 'MBK': 250,
 'MJD': 251,
 'MK': 252,
 'NCH': 253,
 'NNCL': 254,
 'NOBLE': 255,
 'NUSA': 256,
 'NVD': 257,
 'ORI': 258,
 'PACE': 259,
 'PEACE': 260,
 'PF': 261,
 'PIN': 262,
 'PLAT': 263,
 'POLAR': 264,
 'PRECHA': 265,
 'PRIN': 266,
 'PSH': 267,
 'QH': 268,
 'RABBIT': 269,
 'RICHY': 270,
 'RML': 271,
 'ROJNA': 272,
 'S': 273,
 'SA': 274,
 'SAMCO': 275,
 'SC': 276,
 'SENA': 277,
 'SIRI': 278,
 'SPALI': 279,
 'UV': 280,
 'WHA': 281,
 'WIN': 282,
 'AIMCG': 283,
 'AIMIRT': 284,
 'ALLY': 285,
 'AMATAR': 286,
 'B-WORK': 287,
 'BAREIT': 288,
 'BKKCP': 289,
 'BOFFICE': 290,
 'CPNCG': 291,
 'CPNREIT': 292,
 'CPTGF': 293,
 'CTARAF': 294,
 'DREIT': 295,
 'ERWPF': 296,
 'FTREIT': 297,
 'FUTUREPF': 298,
 'GAHREIT': 299,
 'GROREIT': 300,
 'GVREIT': 301,
 'HPF': 302,
 'HYDROGEN': 303,
 'IMPACT': 304,
 'INETREIT': 305,
 'KPNPF': 306,
 'KTBSTMR': 307,
 'LHHOTEL': 308,
 'LHPF': 309,
 'LHSC': 310,
 'LPF': 311,
 'LUXF': 312,
 'M-II': 313,
 'M-PAT': 314,
 'M-STOR': 315,
 'MIPF': 316,
 'MIT': 317,
 'MJLF': 318,
 'MNIT': 319,
 'MNIT2': 320,
 'MNRF': 321,
 'POPF': 322,
 'PPF': 323,
 'PROSPECT': 324,
 'QHHR': 325,
 'QHOP': 326,
 'QHPF': 327,
 'SHREIT': 328,
 'SIRIP': 329,
 'SPRIME': 330,
 'SRIPANWA': 331,
 'SSPF': 332,
 'SSTRT': 333,
 'TIF1': 334,
 'TLHPF': 335,
 'TNPF': 336,
 'TPRIME': 337,
 'TTLPF': 338,
 'TU-PF': 339,
 'URBNPF': 340,
 'WHABT': 341,
 'WHAIR': 342,
 'WHART': 343,
 'APCS': 344,
 'BJCHI': 345,
 'BKD': 346,
 'CIVIL': 347,
 'CK': 348,
 'CNT': 349,
 'EMC': 350,
 'ITD': 351,
 'NWR': 352,
 'PLE': 353,
 'PREB': 354,
 'PYLON': 355,
 'RT': 356,
 'SEAFCO': 357,
 'SQ': 358,
 'SRICHA': 359,
 'STEC': 360,
 'STI': 361,
 'STPI': 362,
 'SYNTEC': 363,
 'TEAMG': 364,
 'TEKA': 365,
 'TPOLY': 366,
 'TRC': 367,
 'TRITN': 368,
 'TTCL': 369,
 'UNIQ': 370,
 'WGE': 371,
 '7UP': 372,
 'ACC': 373,
 'ACE': 374,
 'AGE': 375,
 'AI': 376,
 'AIE': 377,
 'AKR': 378,
 'BAFS': 379,
 'BANPU': 380,
 'BBGI': 381,
 'BCP': 382,
 'BCPG': 383,
 'BGRIM': 384,
 'BPP': 385,
 'BRRGIF': 386,
 'CKP': 387,
 'CV': 388,
 'DEMCO': 389,
 'EA': 390,
 'EASTW': 391,
 'EGATIF': 392,
 'EGCO': 393,
 'EP': 394,
 'ESSO': 395,
 'ETC': 396,
 'GPSC': 397,
 'GREEN': 398,
 'GULF': 399,
 'GUNKUL': 400,
 'IFEC': 401,
 'IRPC': 402,
 'JR': 403,
 'KBSPIF': 404,
 'LANNA': 405,
 'MDX': 406,
 'NOVA': 407,
 'OR': 408,
 'PCC': 409,
 'PRIME': 410,
 'PTG': 411,
 'PTT': 412,
 'PTTEP': 413,
 'QTC': 414,
 'RATCH': 415,
 'RPC': 416,
 'SCG': 417,
 'SCI': 418,
 'SCN': 419,
 'SGP': 420,
 'SKE': 421,
 'SOLAR': 422,
 'SPCG': 423,
 'SPRC': 424,
 'SSP': 425,
 'SUPER': 426,
 'SUPEREIF': 427,
 'SUSCO': 428,
 'TAE': 429,
 'TCC': 430,
 'TGE': 431,
 'TOP': 432,
 'TPIPP': 433,
 'TSE': 434,
 'TTW': 435,
 'UBE': 436,
 'WHAUP': 437,
 'WP': 438,
 'THL': 439,
 'B52': 440,
 'BEAUTY': 441,
 'BIG': 442,
 'BJC': 443,
 'COM7': 444,
 'CPALL': 445,
 'CPW': 446,
 'CRC': 447,
 'CSS': 448,
 'DOHOME': 449,
 'FN': 450,
 'FTE': 451,
 'GLOBAL': 452,
 'HMPRO': 453,
 'ICC': 454,
 'ILM': 455,
 'IT': 456,
 'KAMART': 457,
 'LOXLEY': 458,
 'MAKRO': 459,
 'MC': 460,
 'MEGA': 461,
 'MIDA': 462,
 'MOSHI': 463,
 'RS': 464,
 'RSP': 465,
 'SABUY': 466,
 'SCM': 467,
 'SINGER': 468,
 'SPC': 469,
 'SPI': 470,
 'SVT': 471,
 'AHC': 472,
 'BCH': 473,
 'BDMS': 474,
 'BH': 475,
 'CHG': 476,
 'CMR': 477,
 'EKH': 478,
 'KDH': 479,
 'LPH': 480,
 'M-CHAI': 481,
 'NEW': 482,
 'NTV': 483,
 'PR9': 484,
 'PRINC': 485,
 'RAM': 486,
 'RJH': 487,
 'RPH': 488,
 'SKR': 489,
 'THG': 490,
 'VIBHA': 491,
 'VIH': 492,
 'WPH': 493,
 'AMARIN': 494,
 'AQUA': 495,
 'AS': 496,
 'BEC': 497,
 'FE': 498,
 'GPI': 499,
 'GRAMMY': 500,
 'JKN': 501,
 'MACO': 502,
 'MAJOR': 503,
 'MATCH': 504,
 'MATI': 505,
 'MCOT': 506,
 'MONO': 507,
 'MPIC': 508,
 'NATION': 509,
 'ONEE': 510,
 'PLANB': 511,
 'POST': 512,
 'PRAKIT': 513,
 'PTECH': 514,
 'SE-ED': 515,
 'TKS': 516,
 'VGI': 517,
 'WAVE': 518,
 'WORK': 519,
 'BWG': 520,
 'GENCO': 521,
 'PRO': 522,
 'SISB': 523,
 'SO': 524,
 'ASIA': 525,
 'BEYOND': 526,
 'CENTEL': 527,
 'CSR': 528,
 'DUSIT': 529,
 'ERW': 530,
 'GRAND': 531,
 'LRH': 532,
 'MANRIN': 533,
 'OHTL': 534,
 'ROH': 535,
 'SHANG': 536,
 'SHR': 537,
 'VRANDA': 538,
 'AAV': 539,
 'AOT': 540,
 'ASIMAR': 541,
 'B': 542,
 'BA': 543,
 'BEM': 544,
 'BIOTEC': 545,
 'BTS': 546,
 'BTSGIF': 547,
 'DMT': 548,
 'III': 549,
 'JWD': 550,
 'KEX': 551,
 'KIAT': 552,
 'KWC': 553,
 'MENA': 554,
 'NOK': 555,
 'NYT': 556,
 'PORT': 557,
 'PRM': 558,
 'PSL': 559,
 'RCL': 560,
 'TFFIF': 561,
 'THAI': 562,
 'TSTE': 563,
 'TTA': 564,
 'WICE': 565,
 'CCET': 566,
 'DELTA': 567,
 'HANA': 568,
 'KCE': 569,
 'METCO': 570,
 'NEX': 571,
 'SMT': 572,
 'SVI': 573,
 'TEAM': 574,
 'ADVANC': 575,
 'AIT': 576,
 'ALT': 577,
 'AMR': 578,
 'BLISS': 579,
 'DIF': 580,
 'DTAC': 581,
 'DTCENT': 582,
 'FORTH': 583,
 'HUMAN': 584,
 'ILINK': 585,
 'INET': 586,
 'INSET': 587,
 'INTUCH': 588,
 'ITEL': 589,
 'JAS': 590,
 'JASIF': 591,
 'JMART': 592,
 'JTS': 593,
 'MFEC': 594,
 'MSC': 595,
 'PT': 596,
 'SAMART': 597,
 'SAMTEL': 598,
 'SDC': 599,
 'SIS': 600,
 'SKY': 601,
 'SVOA': 602,
 'SYMC': 603,
 'SYNEX': 604,
 'THCOM': 605,
 'TKC': 606,
 'TRUE': 607,
 'TWZ': 608,
 'AEONTS': 609,
 'BAM': 610,
 'BBL': 611,
 'BLA': 612,
 'JMT': 613,
 'KBANK': 614,
 'KKP': 615,
 'KTB': 616,
 'KTC': 617,
 'MTC': 618,
 'SAWAD': 619,
 'SCB': 620,
 'TCAP': 621,
 'THANI': 622,
 'TIDLOR': 623,
 'TIPH': 624,
 'TISCO': 625,
 'TQM': 626,
 'TTB': 627}

In [19]:
stock = (drive.get_SET_share())

KeyboardInterrupt:

# ตารางข้อมูลหุ้น

In [17]:
data_loss = ['BAY', 'BBL', 'CIMBT', 'KBANK', 'KKP', 'KTB', 'LHFG', 'SCB', 'TCAP', 'TISCO', 'TTB', 'AEONTS', 'AMANAH', 'ASAP', 'ASK', 'ASP', 'BAM', 'BYD', 'CGH', 'CHAYO', 'ECL', 'FNS', 'FSS', 'GBX', 'GL', 'HENG', 'IFS', 'JMT', 'KCAR', 'KGI', 'KTC', 'MFC', 'MICRO', 'ML', 'MST', 'MTC', 'NCAP', 'PL', 'S11', 'SAK', 'SAWAD', 'SCAP', 'SGC', 'SM', 'TH', 'THANI', 'TIDLOR', 'TK', 'TNITY', 'UOBKH', 'XPG', 'AYUD', 'BKI', 'BLA', 'BUI', 'CHARAN', 'INSURE', 'KWI', 'MTI', 'NKI', 'NSI', 'SMK', 'TGH', 'THRE', 'THREL', 'TIPH', 'TLI', 'TQM', 'TSI', 'TVI']

In [18]:
df_info = drive.crate_Stock_Table(data_loss)

0   BAY
1   BBL
2   CIMBT
3   KBANK
4   KKP
5   KTB
6   LHFG
7   SCB
8   TCAP
9   TISCO
10   TTB
11   AEONTS
12   AMANAH
13   ASAP
14   ASK
15   ASP
16   BAM
17   BYD
18   CGH
19   CHAYO
20   ECL
21   FNS
22   FSS
23   GBX
24   GL
25   HENG
26   IFS
27   JMT
28   KCAR
29   KGI
30   KTC
31   MFC
32   MICRO
33   ML
34   MST
35   MTC
36   NCAP
37   PL
38   S11
39   SAK
40   SAWAD
41   SCAP
42   SGC
43   SM
44   TH
45   THANI
46   TIDLOR
47   TK
48   TNITY
49   UOBKH
50   XPG
51   AYUD
52   BKI
53   BLA
54   BUI
55   CHARAN
56   INSURE
57   KWI
58   MTI
59   NKI
60   NSI
61   SMK
62   TGH
63   THRE
64   THREL
65   TIPH
66   TLI
67   TQM
68   TSI
69   TVI

In [ ]:
df_info

In [10]:
save_csv(df_info,"Share_info_loss")

'succes'

# ตาราง Financial

In [95]:
def Change_type_financial(table_financial):
    
    table_financial['Profit (Loss) from Other Activities'] = pd.to_numeric(table_financial['Profit (Loss) from Other Activities'].replace('-',''),errors='coerce')
    table_financial['SymbolId'] = table_financial['SymbolId'].astype('Int64')
    return table_financial

In [96]:
stock = ['ACE', 'ADVANC', 'AEONTS', 'AMATA', 'AOT', 'AP', 'AWC', 'BAM',
       'BANPU', 'BBL', 'BCH', 'BCP', 'BCPG', 'BDMS', 'BEC', 'BEM',
       'BGRIM', 'BH', 'BLA', 'BTS', 'CBG', 'CENTEL', 'CHG', 'CK', 'CKP',
       'COM7', 'CPALL', 'CPF', 'CPN', 'CRC', 'DOHOME', 'DTAC', 'EA',
       'EGCO', 'EPG', 'ESSO', 'FORTH', 'GLOBAL', 'GPSC', 'GULF', 'GUNKUL',
       'HANA', 'HMPRO', 'INTUCH', 'IRPC', 'IVL', 'JMART', 'JMT', 'KBANK',
       'KCE', 'KEX', 'KKP', 'KTB', 'KTC', 'LH', 'MAJOR', 'MEGA', 'MINT',
       'MTC', 'ONEE', 'OR', 'ORI', 'OSP', 'PLANB', 'PSL', 'PTG', 'PTT',
       'PTTEP', 'PTTGC', 'QH', 'RATCH', 'RBF', 'RCL', 'SAWAD', 'SCB',
       'SCC', 'SCGP', 'SINGER', 'SPALI', 'SPRC', 'STA', 'STARK', 'STEC',
       'STGT', 'SUPER', 'SYNEX', 'TASCO', 'TCAP', 'THANI', 'TIDLOR',
       'TIPH', 'TISCO', 'TOP', 'TQM', 'TRUE', 'TTA', 'TTB', 'TU', 'VGI',
       'WHA']

In [97]:
df_Financial_year,df_Financial_month = drive.crate_Financial_Table(stock)

0   ACE
1   ADVANC
2   AEONTS
3   AMATA
4   AOT
5   AP
6   AWC
7   BAM
8   BANPU
9   BBL
10   BCH
11   BCP
12   BCPG
13   BDMS
14   BEC
15   BEM
16   BGRIM
17   BH
18   BLA
19   BTS
20   CBG
21   CENTEL
22   CHG
23   CK
24   CKP
25   COM7
26   CPALL
27   CPF
28   CPN
29   CRC
30   DOHOME
31   DTAC
32   EA
33   EGCO
34   EPG
35   ESSO
36   FORTH
37   GLOBAL
38   GPSC
39   GULF
40   GUNKUL
41   HANA
42   HMPRO
43   INTUCH
44   IRPC
45   IVL
46   JMART
47   JMT
48   KBANK
49   KCE
50   KEX
51   KKP
52   KTB
53   KTC
54   LH
55   MAJOR
56   MEGA
57   MINT
58   MTC
59   ONEE
60   OR
61   ORI
62   OSP
63   PLANB
64   PSL
65   PTG
66   PTT
67   PTTEP
68   PTTGC
69   QH
70   RATCH
71   RBF
72   RCL
73   SAWAD
74   SCB
75   SCC
76   SCGP
77   SINGER
78   SPALI
79   SPRC
80   STA
81   STARK
82   STEC
83   STGT
84   SUPER
85   SYNEX
86   TASCO
87   TCAP
88   THANI
89   TIDLOR
90   TIPH
91   TISCO
92   TOP
93   TQM
94   TRUE
95   TTA
96   TTB
97   TU
98   VGI
99   WHA

In [98]:
df_Financial_month

Period as of,Period as of,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),ROA (%),ROE (%),Net Profit Margin (%),SymbolId
4,9M/2022 30 Sep 2022,19758.94,5514.6,14186.55,5088.0,5086.59,184.95,1087.95,0.11,9.02,10.73,21.38,374
4,9M/2022 30 Sep 2022,345370.17,267156.57,78086.71,2974.21,137383.79,-639.42,18647.99,6.27,10.47,33.39,13.58,575
4,9M/2023 30 Nov 2022,96164.03,73849.0,21758.49,250.0,15173.06,402.15,3122.19,12.49,7.55,19.94,21.26,609
4,9M/2022 30 Sep 2022,48278.84,24022.41,19177.37,1150.0,5873.96,102.49,1555.73,1.35,9.6,12.7,39.3,225
4,9M/2022 30 Sep 2022,63663.7,28090.11,35592.22,3145.9,29842.11,948.99,4722.5,1.5,11.41,17.05,15.82,228
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,9M/2022 30 Sep 2022,45660.2,15942.21,26291.75,1822.47,22901.99,136.76,3463.23,1.9,13.72,21.55,14.93,564
4,9M/2022 30 Sep 2022,1823533.42,1608839.13,214693.16,91852.95,59454.06,1499.97,10347.87,0.11,1.67,6.22,17.4,627
4,9M/2022 30 Sep 2022,178920.45,115278.45,60875.54,1192.95,116663.96,425.86,5899.84,1.22,5.45,13.29,5.16,65
4,6M/2023 30 Sep 2022,33350.58,2792.67,27798.61,1119.45,2818.69,-152.36,93.06,0.01,-0.21,-0.13,-2.17,517
4,9M/2022 30 Sep 2022,84798.53,51065.01,30138.89,1494.68,6789.75,-219.76,1204.27,0.08,6.48,10.98,20.33,281

In [99]:
df_Financial_year

Period as of,Period as of,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),ROA (%),ROE (%),Net Profit Margin (%),SymbolId
0,Y/E 2018 31 Dec 2018,13886.74,8315.1,5571.64,4579.0,4848.94,-10.04,546.57,0.06,7.52,9.81,11.27,374
1,Y/E 2019 31 Dec 2019,14145.18,3352.14,10793.04,5088.0,5088.17,-103.51,815.31,0.09,8.74,9.96,16.02,374
2,Y/E 2020 31 Dec 2020,16429.69,4436.86,11992.83,5088.0,6038.96,6.67,1507.64,0.15,10.84,13.23,24.97,374
3,Y/E 2021 31 Dec 2021,18740.2,5371.62,13315.33,5088.0,5739.67,167.96,1505.68,0.15,9.95,11.9,26.23,374
0,Y/E 2018 31 Dec 2018,290504.99,232836.4,57521.04,2973.1,170716.67,-4.34,29682.18,9.98,14.2,55.05,17.41,575
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,Y/E 2022 31 Mar 2022,40848.3,10865.59,29133.39,861.12,4426.15,-194.02,-120.26,-0.01,-0.46,-0.53,-6.24,517
0,Y/E 2018 31 Dec 2018,78344.95,47330.85,27225.73,1433.43,9079.58,2542.62,2906.81,0.2,7.08,11.08,42.71,281
1,Y/E 2019 31 Dec 2019,82263.83,49163.25,29477.63,1470.91,11440.12,1945.69,3229.25,0.22,6.54,11.39,34.64,281
2,Y/E 2020 31 Dec 2020,82621.11,50453.94,28805.19,1494.68,8197.88,1208.76,2523.75,0.17,5.18,8.66,34.95,281
3,Y/E 2021 31 Dec 2021,82769.49,48739.72,30594.11,1494.68,11638.82,325.07,2590.07,0.17,5.68,8.72,24.68,281

In [100]:
df_Financial_year[df_Financial_year['SymbolId'] == 551]

Period as of,Period as of,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),ROA (%),ROE (%),Net Profit Margin (%),SymbolId
0,Y/E 2019 31 Dec 2019,6014.21,3781.04,2233.16,120.00,19894.60,-,1328.55,5.54,27.87,59.49,6.68,551
1,Y/E 2020 31 Dec 2020,19318.24,8470.76,10847.47,870.00,19010.05,-,1405.03,1.11,14.57,21.48,7.39,551
2,Y/E 2021 31 Dec 2021,17045.55,7728.66,9298.91,871.29,18972.08,-,46.92,0.03,0.63,0.47,0.24,551

In [101]:
save_csv(df_Financial_year,"Financial_en_year")

'succes'

In [102]:
save_csv(df_Financial_month,"Financial_en_month")

'succes'

In [103]:
table_financial_year = Change_type_financial(df_Financial_year)
table_financial_month = Change_type_financial(df_Financial_month)

# ตาราง Statistics

In [105]:
def Change_type_satistics(table_satistics):
    
    table_satistics['P/E'] = pd.to_numeric(table_satistics['P/E'].replace('-',''),errors='coerce')
    table_satistics['P/BV'] = pd.to_numeric(table_satistics['P/BV'].replace('-',''),errors='coerce')
    table_satistics['Book Value per share (Baht)'] = pd.to_numeric(table_satistics['Book Value per share (Baht)'].replace('-',''),errors='coerce')
    table_satistics['Dividend Yield (%)'] = pd.to_numeric(table_satistics['Dividend Yield (%)'].replace('-',''),errors='coerce')
    table_satistics['Statistics as of'] = pd.to_datetime(table_satistics['Statistics as of'])
    table_satistics['F/S Period (As of date)'] = pd.to_datetime(table_satistics['F/S Period (As of date)'],errors='coerce')
    table_satistics['SymbolId'] = table_satistics['SymbolId'].astype('Int64')
    
    return table_satistics

In [106]:
df_Statistics_year,df_Statistics_month = drive.crate_Statistics_Table(stock)

0   ACE
1   ADVANC
2   AEONTS
3   AMATA
4   AOT
5   AP
6   AWC
7   BAM
8   BANPU
9   BBL
10   BCH
11   BCP
12   BCPG
13   BDMS
14   BEC
15   BEM
16   BGRIM
17   BH
18   BLA
19   BTS
20   CBG
21   CENTEL
22   CHG
23   CK
24   CKP
25   COM7
26   CPALL
27   CPF
28   CPN
29   CRC
30   DOHOME
31   DTAC
32   EA
33   EGCO
34   EPG
35   ESSO
36   FORTH
37   GLOBAL
38   GPSC
39   GULF
40   GUNKUL
41   HANA
42   HMPRO
43   INTUCH
44   IRPC
45   IVL
46   JMART
47   JMT
48   KBANK
49   KCE
50   KEX
51   KKP
52   KTB
53   KTC
54   LH
55   MAJOR
56   MEGA
57   MINT
58   MTC
59   ONEE
60   OR
61   ORI
62   OSP
63   PLANB
64   PSL
65   PTG
66   PTT
67   PTTEP
68   PTTGC
69   QH
70   RATCH
71   RBF
72   RCL
73   SAWAD
74   SCB
75   SCC
76   SCGP
77   SINGER
78   SPALI
79   SPRC
80   STA
81   STARK
82   STEC
83   STGT
84   SUPER
85   SYNEX
86   TASCO
87   TCAP
88   THANI
89   TIDLOR
90   TIPH
91   TISCO
92   TOP
93   TQM
94   TRUE
95   TTA
96   TTB
97   TU
98   VGI
99   WHA

In [107]:
df_Statistics_year

Statistics as of,Statistics as of,Last Price (Baht),Market Cap. (M.Baht),F/S Period (As of date),P/E,P/BV,Book Value per share (Baht),Dividend Yield (%),SymbolId
0,2019-12-30,4.22,42942.72,-,62.46,-,-,-,374
1,2020-12-30,3.64,37040.64,30 Sep 2020,24.71,3.15,1.15,-,374
2,2021-12-30,3.50,35616.00,30 Sep 2021,25.58,2.75,1.27,1.37,374
3,2022-12-30,2.70,27475.20,30 Sep 2022,18.75,1.92,1.40,0.75,374
0,2019-12-30,213.00,633287.05,30 Sep 2019,20.45,10.22,20.84,3.32,575
...,...,...,...,...,...,...,...,...,...
3,2022-12-30,4.40,49255.88,30 Sep 2022,-,1.77,2.48,0.80,517
0,2019-12-30,3.88,57071.30,30 Sep 2019,16.36,1.90,2.04,2.10,281
1,2020-12-30,3.04,45438.38,30 Sep 2020,20.01,1.61,1.89,4.40,281
2,2021-12-30,3.52,52612.86,30 Sep 2021,26.19,1.82,1.93,2.85,281
3,2022-12-30,4.08,60983.09,30 Sep 2022,18.83,2.02,2.02,2.46,281

In [39]:
df_Statistics_year["SymbolId"] = df_Statistics_year["Symbol"].map(sh_id)

In [108]:
df_Statistics_month

Statistics as of,Statistics as of,Last Price (Baht),Market Cap. (M.Baht),F/S Period (As of date),P/E,P/BV,Book Value per share (Baht),Dividend Yield (%),SymbolId
4,2023-01-23,2.64,26864.64,30 Sep 2022,18.27,1.87,1.41,0.77,374
4,2023-01-23,201.00,597816.16,30 Sep 2022,23.43,7.66,26.25,3.83,575
4,2023-01-23,189.50,47375.00,30 Nov 2022,11.75,2.18,87.03,2.72,609
4,2023-01-23,20.40,23460.00,30 Sep 2022,10.22,1.22,16.68,1.96,225
4,2023-01-23,74.75,1067856.08,30 Sep 2022,-,10.54,7.09,-,540
...,...,...,...,...,...,...,...,...,...
4,2023-01-23,8.10,14761.96,30 Sep 2022,2.96,0.56,14.43,2.72,564
4,2023-01-23,1.44,139357.78,30 Sep 2022,10.60,0.65,2.22,2.63,627
4,2023-01-23,16.30,77780.59,30 Sep 2022,9.69,1.25,13.08,5.83,65
4,2023-01-23,4.82,53957.58,30 Sep 2022,-,1.94,2.48,0.73,517
4,2023-01-23,3.84,57395.85,30 Sep 2022,17.72,1.90,2.02,2.61,281

In [40]:
df_Statistics_month["SymbolId"] = df_Statistics_month["Symbol"].map(sh_id)

In [41]:
del df_Statistics_year["Symbol"]
del df_Statistics_month["Symbol"]

In [109]:
save_csv(df_Statistics_year,"Statistics_en_year")

'succes'

In [110]:
save_csv(df_Statistics_month,"Statistics_en_month")

'succes'

In [112]:
table_satistics_year = Change_type_satistics(df_Statistics_year)
table_satistics_day = Change_type_satistics(df_Statistics_month)

# Database Import

In [63]:
db = r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\softdev-2\Set_dataframe_to_sqlite3\share.sqlite'
con = sqlite3.connect(db)

In [104]:
table_financial_year.to_sql('Financial_year',con,index=False,if_exists='replace')
table_financial_month.to_sql('Financial_month',con,index=False,if_exists='replace')

99

In [113]:
table_satistics_year.to_sql('Satistics_year',con,index=False,if_exists='replace')
table_satistics_day.to_sql('Satistics_day',con,index=False,if_exists='replace')

100

In [82]:
['d','c','a'][:-1]

['d', 'c']