In [175]:
from alpha_vantage.fundamentaldata import FundamentalData
import pandas as pd

apikey = '4YLKM5SFV5RXMQCG'

In [176]:
fd = FundamentalData(apikey, output_format = 'pandas')

symbol = 'META'

data = fd.get_balance_sheet_quarterly(symbol)
data1 = fd.get_income_statement_quarterly(symbol)
data = data[0].T
data1 = data1[0].T

In [232]:
result = pd.concat([data, data1])
result = result.T.reset_index()
new_result = result.loc[:,~result.columns.duplicated(keep='first')]
new_result = new_result.drop(new_result.columns[[0,2]], axis=1)

new_result['netIncome'] = result['netIncome']
new_result.iloc[:, 1:] = new_result.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

Equity = (new_result['totalAssets'] - new_result['totalLiabilities'])
NetProfit = (new_result['grossProfit'] - new_result['operatingExpenses'])
ROA_value = (new_result['netIncome'] / new_result['totalAssets']) * 100
ROE_value = (new_result['netIncome'] / new_result['totalShareholderEquity']) * 100

new_result['Equity'] = Equity
new_result['NetProfit'] = NetProfit
new_result['ROA'] = ROA_value
new_result['ROE'] = ROE_value
new_result['Symbol'] = symbol

C:\Users\Admin\AppData\Local\Temp\ipykernel_12824\2754042011.py:7: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  new_result.iloc[:, 1:] = new_result.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

,fiscalDateEnding,totalAssets,totalCurrentAssets,cashAndCashEquivalentsAtCarryingValue,cashAndShortTermInvestments,inventory,currentNetReceivables,totalNonCurrentAssets,propertyPlantEquipment,accumulatedDepreciationAmortizationPPE,...,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome,Equity,NetProfit,ROA,ROE,Symbol
0,2022-12-31,185727000000,59549000000,14681000000,40763000000,NaN,13466000000,40476000000,79518000000,NaN,...,4653000000,6177000000,6399000000,6455000000,4653000000,125713000000,6425000000,2.505290,3.701288,META
1,2022-09-30,178894000000,58315000000,14308000000,69244000000,NaN,11227000000,40346000000,73738000000,NaN,...,4395000000,2752000000,5664000000,5717000000,4395000000,124094000000,4757000000,2.456762,3.541670,META
2,2022-06-30,169779000000,55987000000,12681000000,68297000000,NaN,11525000000,39702000000,67588000000,NaN,...,6687000000,5272000000,8358000000,8338000000,6687000000,125767000000,8206000000,3.938650,5.316975,META
3,2022-03-31,164218000000,59265000000,14886000000,43890000000,NaN,11390000000,36630000000,61582000000,NaN,...,7465000000,6162000000,8524000000,9050000000,7465000000,123228000000,8382000000,4.545787,6.057876,META
4,2021-12-31,165987000000,66666000000,16601000000,47998000000,NaN,14039000000,34771000000,57809000000,NaN,...,10285000000,9799000000,12585000000,12842000000,10285000000,124879000000,12306000000,6.196268,8.235972,META
5,2021-09-30,169585000000,75421000000,14496000000,58075000000,NaN,12088000000,33680000000,53726000000,NaN,...,9194000000,8702000000,10423000000,10781000000,9194000000,133360000000,10207000000,5.421470,6.894121,META
6,2021-06-30,170609000000,80697000000,16186000000,64080000000,NaN,11698000000,32610000000,50909000000,NaN,...,10394000000,10525000000,12367000000,12722000000,10394000000,138227000000,12158000000,6.092293,7.519515,META
7,2021-03-31,163523000000,77322000000,19513000000,64219000000,NaN,10276000000,32139000000,47720000000,NaN,...,9497000000,8724000000,11378000000,11706000000,9497000000,133657000000,11175000000,5.807746,7.105501,META
8,2020-12-31,159316000000,75670000000,17576000000,61954000000,NaN,11335000000,31779000000,45633000000,NaN,...,11219000000,11838000000,12775000000,13253000000,11219000000,128290000000,12448000000,7.041979,8.745031,META
9,2020-09-30,146437000000,65799000000,11617000000,55620000000,NaN,8024000000,74474000000,42291000000,1.413700e+10,...,7846000000,8296000000,8040000000,8325000000,7846000000,117731000000,7848000000,5.357935,6.664345,META
10,2020-06-30,139691000000,68130000000,21045000000,58240000000,NaN,7483000000,71561000000,39006000000,1.308200e+10,...,5178000000,5580000000,5963000000,6313000000,5178000000,110447000000,5781000000,3.706753,4.688221,META
11,2020-03-31,138371000000,69349000000,23618000000,60289000000,NaN,7289000000,69022000000,37127000000,1.161200e+10,...,4902000000,4847000000,5893000000,6035000000,4902000000,105304000000,5522000000,3.542650,4.655094,META
12,2019-12-31,133376000000,66225000000,19079000000,54855000000,NaN,9518000000,31828000000,35323000000,1.066300e+10,...,7349000000,7709000000,8858000000,9340000000,7349000000,101054000000,8582000000,5.509987,7.272349,META
13,2019-09-30,124418000000,62079000000,15979000000,52269000000,NaN,7673000000,62339000000,32284000000,9.646000e+09,...,6091000000,5725000000,7185000000,7529000000,6091000000,93999000000,6985000000,4.895594,6.479856,META
14,2019-06-30,117006000000,57961000000,13877000000,48596000000,NaN,7513000000,59045000000,29999000000,8.752000e+09,...,2616000000,2914000000,4626000000,5038000000,2616000000,88762000000,4420000000,2.235783,2.947207,META
15,2019-03-31,109477000000,53300000000,11076000000,45243000000,NaN,6475000000,49430000000,27345000000,7.657000e+09,...,2429000000,2408000000,3317000000,3640000000,2429000000,86516000000,3161000000,2.218731,2.807573,META
16,2018-12-31,97334000000,50480000000,10019000000,41114000000,NaN,7587000000,46854000000,24683000000,6.890000e+09,...,6882000000,6899000000,7820000000,7977000000,6882000000,84127000000,7364000000,7.070500,8.180489,META
17,2018-09-30,92452000000,49147000000,9637000000,41206000000,NaN,6058000000,43305000000,21112000000,6.084000e+09,...,5137000000,5078000000,5781000000,5937000000,5137000000,80342000000,5625000000,5.556397,6.393916,META
18,2018-06-30,90291000000,49833000000,11552000000,42309000000,NaN,5590000000,40458000000,18357000000,5.561000e+09,...,5106000000,4713000000,5863000000,6021000000,5106000000,79382000000,5705000000,5.655049,6.432189,META
19,2018-03-31,88945000000,50412000000,12082000000,43956000000,NaN,5115000000,38533000000,16211000000,5.081000e+09,...,4988000000,4921000000,5449000000,5618000000,4988000000,77620000000,5280000000,5.607960,6.426179,META

In [238]:
result_after = new_result.drop(new_result.columns[[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,28,29,30,
                                          31,32,33,34,35,36,37,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60]]
                                          , axis=1)
result_after = result_after.round(3)
result_after = result_after.rename(columns={"fiscalDateEnding": "Period", "totalAssets": "Asset", "totalLiabilities": "TotalDebt",
                             "totalRevenue": "Revenue"})
result_after = result_after[['Asset', 'TotalDebt', 'Equity', 'Revenue', 'NetProfit', 'ROA', 'ROE', 'Period', 'Symbol']]

result_after

,Asset,TotalDebt,Equity,Revenue,NetProfit,ROA,ROE,Period,Symbol
0,185727000000,60014000000,125713000000,31920000000,6425000000,2.505,3.701,2022-12-31,META
1,178894000000,54800000000,124094000000,27710000000,4757000000,2.457,3.542,2022-09-30,META
2,169779000000,44012000000,125767000000,28818000000,8206000000,3.939,5.317,2022-06-30,META
3,164218000000,40990000000,123228000000,27904000000,8382000000,4.546,6.058,2022-03-31,META
4,165987000000,41108000000,124879000000,33527000000,12306000000,6.196,8.236,2021-12-31,META
5,169585000000,36225000000,133360000000,29006000000,10207000000,5.421,6.894,2021-09-30,META
6,170609000000,32382000000,138227000000,29073000000,12158000000,6.092,7.520,2021-06-30,META
7,163523000000,29866000000,133657000000,26167000000,11175000000,5.808,7.106,2021-03-31,META
8,159316000000,31026000000,128290000000,27940000000,12448000000,7.042,8.745,2020-12-31,META
9,146437000000,28706000000,117731000000,21466000000,7848000000,5.358,6.664,2020-09-30,META
10,139691000000,29244000000,110447000000,18683000000,5781000000,3.707,4.688,2020-06-30,META
11,138371000000,33067000000,105304000000,17734000000,5522000000,3.543,4.655,2020-03-31,META
12,133376000000,32322000000,101054000000,20966000000,8582000000,5.510,7.272,2019-12-31,META
13,124418000000,30419000000,93999000000,17648000000,6985000000,4.896,6.480,2019-09-30,META
14,117006000000,28244000000,88762000000,16883000000,4420000000,2.236,2.947,2019-06-30,META
15,109477000000,22961000000,86516000000,15077000000,3161000000,2.219,2.808,2019-03-31,META
16,97334000000,13207000000,84127000000,16692000000,7364000000,7.070,8.180,2018-12-31,META
17,92452000000,12110000000,80342000000,13727000000,5625000000,5.556,6.394,2018-09-30,META
18,90291000000,10909000000,79382000000,13231000000,5705000000,5.655,6.432,2018-06-30,META
19,88945000000,11325000000,77620000000,11966000000,5280000000,5.608,6.426,2018-03-31,META