In [1]:
import pandas as pd
import html5lib
import time
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import mplfinance as mpf
from datetime import datetime, timedelta,date
import datetime
import plotly
import plotly.graph_objs as go
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.options import Options
from forex_python.converter import CurrencyRates

In [48]:
class Manage_share_database():
    
    def __init__(self):
                
        self.location_db = r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\Project_sofedev_2\Manage_Share\Database_convert\share_V2.sqlite'
        
    def get_symbol_id(self,market):
        
        con = sqlite3.connect(self.location_db)
        cur = con.cursor()
        
        sql = f"""select Information.Symbol,Information.SymbolId  
                from Information Inner join Market on Market.MarketId = Information.MarketId
                where Market.Mname = "{market}"
                """

        cur.execute(sql)
        records = cur.fetchall()
        con.close()
        symbol_id = {}
        
        for share in records:
            
            symbol_id[share[0]] = share[1]
        
        return symbol_id
    
    # ดึงราคหุ้นจาก yfinance รายวัน
    def updateData_Day(self,ticker,market):

        if ticker in self.get_symbol_id(market).keys():
            
            start_date = self.get_max_date('Stock_price_day',self.get_symbol_id(market)[ticker]) + datetime.timedelta(days=1)
            
            end_date = (datetime.datetime.now()).strftime('%Y-%m-%d')

            if start_date < (datetime.datetime.strptime(end_date, '%Y-%m-%d')) :

                detail = yf.download(ticker, interval='1D', start=start_date, end=end_date)

                if not(detail.empty):
                    detail['SymbolId'] = str(int(self.get_symbol_id(market)[ticker]))
                    table_price = detail
                    table_price = detail.reset_index()

                    return table_price

        return pd.DataFrame({'Date':[],'Open':[],'High':[],'Low':[],'Close':[],'Adj Close':[],'Volume':[],'SymbolId':[]})
    
    # ดึงราคหุ้นจาก yfinance รายชั่วโมง
    def updateData_hours(self,ticker,market):


        if ticker in self.get_symbol_id(market).keys():
            
            max_date = self.get_max_date('Stock_price_hours',self.get_symbol_id(market)[ticker])
            start_date =  max_date + datetime.timedelta(hours=1)
       
            detail = yf.download(ticker, interval='1h', start=start_date )

            if not(detail.empty):

                detail.index = detail.index.tz_convert('Asia/Bangkok')
                detail.index = detail.index.tz_localize(None)
                detail['SymbolId'] = int(self.get_symbol_id(market)[ticker])
                table_price = detail.reset_index()
            
                return table_price
          
        return pd.DataFrame({'Datetime':[],'Open':[],'High':[],'Low':[],'Close':[],'Adj Close':[],'Volume':[],'SymbolId':[]})

    # นำ dataframe มาเพิ่มลงใน database 
    def combineData(self,stock_name,table_price):
        
        try :
            
            if table_price.empty:
                return ''
            
            con = sqlite3.connect(self.location_db)
            cur = con.cursor()
            column = {'Stock_price_hours':'Datetime','Stock_price_day':'Date'}
            sql = """ select * from {} where {} = "{}" and SymbolId = "{}" """.format(stock_name,column[stock_name],table_price.iloc[0][column[stock_name]],int(table_price.iloc[0]['SymbolId']))
            cur.execute(sql)
            con.close
            records = cur.fetchall()

            if records == []:

                table_price[column[stock_name]] = pd.to_datetime(table_price[column[stock_name]], format='%Y/%m/%d %H:%M:%S')
                new_table = table_price.to_sql(stock_name,con,index=False,if_exists='append')
                con.commit()
                con.close()
                return 'Done Update : ',new_table

            else :

                return 'Data already in database'

        except KeyError:
            
            return 'Table name incorrect'
        
    def get_max_date(self,table,share):
    
        
        try :
            
            con = sqlite3.connect(self.location_db)
            cur = con.cursor()
            
            column = {'Stock_price_hours':'Datetime','Stock_price_day':'Date'}

            sql = """select {} From {} where SymbolId = '{}' ORDER BY {} DESC LIMIT 1;
            """.format(column[table],table,share,column[table])

            stock_data = pd.read_sql(sql,con)
            con.close()

            stock_data[column[table]] = pd.to_datetime(stock_data[column[table]], format='%Y/%m/%d')

            return max(stock_data[column[table]])
        
        except ValueError: 
            reverse = {'Date' : 360*50,'Datetime' : 720}
            stock_data = pd.DataFrame(['0'],columns =[column[table]])
            stock_data[column[table]][0] = pd.to_datetime(date.today() - timedelta(days=reverse[column[table]]), format='%Y/%m/%d %H:%M:%S')
            return max(stock_data[f'{column[table]}'])
    
          
# Update Statistics--------------------------------------------------

    def Check_Statistics(self,table,df,time):

        location_db = r'C:\Users\JourneyQ\OneDrive - kmutnb.ac.th\Desktop\Quick_file\year_2-S_2\softdev-2\Set_dataframe_to_sqlite3\share.sqlite'
        con = sqlite3.connect(location_db)
        cur = con.cursor()

        sql = """select "{}" From {} where SymbolId = '{}' and "{}" = '{}' LIMIT 1
        """.format("Statistics as of",table,int(df.iloc[[0]]['SymbolId']),
                   "Statistics as of",str(time))

        cur.execute(sql)
        records = cur.fetchall()
        con.close()

        return not(bool(records))

    def new_Statistics(self,Statistics_df):
        data_new_year = []
        r = 0
        for time in (Statistics_df['Statistics as of'].tolist())[:-1]:

            Nhave = self.Check_Statistics('Satistics_year',Statistics_df.iloc[[r]],time)

            if Nhave :

                data_new_year.append(Statistics_df.iloc[[r]])

            r+=1

        if data_new_year :

            return pd.concat(data_new_year)

        return pd.DataFrame({'Statistics as of': []
            , 'Last Price (Baht)': []
            , 'Market Cap. (M.Baht)': []
            , 'F/S Period (As of date)': []
            , 'P/E': [], 'P/BV': []
            , 'Book Value per share (Baht)': [], 'Dividend Yield (%)': []
            , 'SymbolId': []})

#-----------------------------------------------------------------------------------------

In [49]:
tool = Manage_share_database()

In [23]:
# pd.to_datetime(date.today() - timedelta(days=730), format='%Y/%m/%d %H:%M:%S')
tool.get_max_date('Stock_price_day','609')

Timestamp('2023-01-17 00:00:00')

In [6]:
pd.to_datetime(date.today() - timedelta(days=729), format='%Y/%m/%d %H:%M:%S')

Timestamp('2021-03-04 00:00:00')

In [11]:
tool.get_symbol_id("SET")

{'EE.BK': 1,
 'GFPT.BK': 2,
 'LEE.BK': 3,
 'MAX.BK': 4,
 'NER.BK': 5,
 'PPPM.BK': 6,
 'STA.BK': 7,
 'TEGH.BK': 8,
 'TFM.BK': 9,
 'TRUBB.BK': 10,
 'TWPC.BK': 11,
 'UPOIC.BK': 12,
 'UVAN.BK': 13,
 'VPO.BK': 14,
 'AAI.BK': 15,
 'APURE.BK': 16,
 'ASIAN.BK': 17,
 'BR.BK': 18,
 'BRR.BK': 19,
 'BTG.BK': 20,
 'CBG.BK': 21,
 'CFRESH.BK': 22,
 'CH.BK': 23,
 'CHOTI.BK': 24,
 'CM.BK': 25,
 'CPF.BK': 26,
 'CPI.BK': 27,
 'F&D.BK': 28,
 'GLOCON.BK': 29,
 'HTC.BK': 30,
 'ICHI.BK': 31,
 'ITC.BK': 32,
 'JDF.BK': 33,
 'KBS.BK': 34,
 'KSL.BK': 35,
 'KTIS.BK': 36,
 'LST.BK': 37,
 'M.BK': 38,
 'MALEE.BK': 39,
 'MINT.BK': 40,
 'NRF.BK': 41,
 'NSL.BK': 42,
 'OISHI.BK': 43,
 'OSP.BK': 44,
 'PB.BK': 45,
 'PLUS.BK': 46,
 'PM.BK': 47,
 'PRG.BK': 48,
 'RBF.BK': 49,
 'SAPPE.BK': 50,
 'SAUCE.BK': 51,
 'SFP.BK': 52,
 'SNNP.BK': 53,
 'SNP.BK': 54,
 'SORKON.BK': 55,
 'SSC.BK': 56,
 'SSF.BK': 57,
 'SST.BK': 58,
 'SUN.BK': 59,
 'TC.BK': 60,
 'TFG.BK': 61,
 'TFMAMA.BK': 62,
 'TIPCO.BK': 63,
 'TKN.BK': 64,
 'TU.BK': 65,
 'TVO.BK': 66,
 'W.BK': 67,
 'ZEN.BK': 68,
 'AFC.BK': 69,
 'AURA.BK': 70,
 'BTNC.BK': 71,
 'CPH.BK': 72,
 'CPL.BK': 73,
 'NC.BK': 74,
 'PAF.BK': 75,
 'PDJ.BK': 76,
 'PG.BK': 77,
 'SABINA.BK': 78,
 'SAWANG.BK': 79,
 'SUC.BK': 80,
 'TNL.BK': 81,
 'TR.BK': 82,
 'TTI.BK': 83,
 'TTT.BK': 84,
 'UPF.BK': 85,
 'WACOAL.BK': 86,
 'WFX.BK': 87,
 'AJA.BK': 88,
 'DTCI.BK': 89,
 'FANCY.BK': 90,
 'FTI.BK': 91,
 'KYE.BK': 92,
 'L&E.BK': 93,
 'MODERN.BK': 94,
 'OGC.BK': 95,
 'ROCK.BK': 96,
 'SIAM.BK': 97,
 'TCMC.BK': 98,
 'TSR.BK': 99,
 'APCO.BK': 100,
 'BIZ.BK': 101,
 'DDD.BK': 102,
 'JCT.BK': 103,
 'KISS.BK': 104,
 'NV.BK': 105,
 'OCC.BK': 106,
 'S&J.BK': 107,
 'STGT.BK': 108,
 'STHAI.BK': 109,
 'TNR.BK': 110,
 'TOG.BK': 111,
 '3K-BAT.BK': 112,
 'ACG.BK': 113,
 'AH.BK': 114,
 'CWT.BK': 115,
 'EASON.BK': 116,
 'GYT.BK': 117,
 'HFT.BK': 118,
 'IHL.BK': 119,
 'INGRS.BK': 120,
 'IRC.BK': 121,
 'PCSGH.BK': 122,
 'POLY.BK': 123,
 'SAT.BK': 124,
 'SPG.BK': 125,
 'STANLY.BK': 126,
 'TKT.BK': 127,
 'TNPC.BK': 128,
 'TRU.BK': 129,
 'TSC.BK': 130,
 'ALLA.BK': 131,
 'ASEFA.BK': 132,
 'CPT.BK': 133,
 'CRANE.BK': 134,
 'CTW.BK': 135,
 'FMT.BK': 136,
 'HTECH.BK': 137,
 'KKC.BK': 138,
 'PK.BK': 139,
 'SNC.BK': 140,
 'STARK.BK': 141,
 'TCJ.BK': 142,
 'TPCS.BK': 143,
 'VARO.BK': 144,
 'UTP.BK': 145,
 'BCT.BK': 146,
 'CMAN.BK': 147,
 'GC.BK': 148,
 'GGC.BK': 149,
 'GIFT.BK': 150,
 'IVL.BK': 151,
 'NFC.BK': 152,
 'PATO.BK': 153,
 'PMTA.BK': 154,
 'PTTGC.BK': 155,
 'SUTHA.BK': 156,
 'TCCC.BK': 157,
 'TPA.BK': 158,
 'UAC.BK': 159,
 'UP.BK': 160,
 'AJ.BK': 161,
 'ALUCON.BK': 162,
 'BGC.BK': 163,
 'CSC.BK': 164,
 'NEP.BK': 165,
 'PTL.BK': 166,
 'SCGP.BK': 167,
 'SFLEX.BK': 168,
 'SITHAI.BK': 169,
 'SLP.BK': 170,
 'SMPC.BK': 171,
 'SPACK.BK': 172,
 'TCOAT.BK': 173,
 'TFI.BK': 174,
 'THIP.BK': 175,
 'TMD.BK': 176,
 'TOPP.BK': 177,
 'TPAC.BK': 178,
 'TPBI.BK': 179,
 'TPP.BK': 180,
 '2S.BK': 181,
 'AMC.BK': 182,
 'BSBM.BK': 183,
 'CEN.BK': 184,
 'CITY.BK': 185,
 'CSP.BK': 186,
 'GJS.BK': 187,
 'GSTEEL.BK': 188,
 'INOX.BK': 189,
 'LHK.BK': 190,
 'MCS.BK': 191,
 'MILL.BK': 192,
 'PAP.BK': 193,
 'PERM.BK': 194,
 'SAM.BK': 195,
 'SMIT.BK': 196,
 'SSSC.BK': 197,
 'TGPRO.BK': 198,
 'THE.BK': 199,
 'TMT.BK': 200,
 'TSTH.BK': 201,
 'TWP.BK': 202,
 'TYCN.BK': 203,
 'CCP.BK': 204,
 'COTTO.BK': 205,
 'DCC.BK': 206,
 'DCON.BK': 207,
 'DRT.BK': 208,
 'EPG.BK': 209,
 'GEL.BK': 210,
 'PPP.BK': 211,
 'Q-CON.BK': 212,
 'SCC.BK': 213,
 'SCCC.BK': 214,
 'SCP.BK': 215,
 'SKN.BK': 216,
 'STECH.BK': 217,
 'TASCO.BK': 218,
 'TOA.BK': 219,
 'TPIPL.BK': 220,
 'UMI.BK': 221,
 'VNG.BK': 222,
 'WIIK.BK': 223,
 'A.BK': 224,
 'AMATA.BK': 225,
 'AMATAV.BK': 226,
 'ANAN.BK': 227,
 'AP.BK': 228,
 'APEX.BK': 229,
 'AQ.BK': 230,
 'ASW.BK': 231,
 'AWC.BK': 232,
 'BLAND.BK': 233,
 'BRI.BK': 234,
 'BROCK.BK': 235,
 'CGD.BK': 236,
 'CI.BK': 237,
 'CMC.BK': 238,
 'CPN.BK': 239,
 'ESTAR.BK': 240,
 'EVER.BK': 241,
 'FPT.BK': 242,
 'GLAND.BK': 243,
 'J.BK': 244,
 'JCK.BK': 245,
 'KC.BK': 246,
 'LALIN.BK': 247,
 'LH.BK': 248,
 'LPN.BK': 249,
 'MBK.BK': 250,
 'MJD.BK': 251,
 'MK.BK': 252,
 'NCH.BK': 253,
 'NNCL.BK': 254,
 'NOBLE.BK': 255,
 'NUSA.BK': 256,
 'NVD.BK': 257,
 'ORI.BK': 258,
 'PACE.BK': 259,
 'PEACE.BK': 260,
 'PF.BK': 261,
 'PIN.BK': 262,
 'PLAT.BK': 263,
 'POLAR.BK': 264,
 'PRECHA.BK': 265,
 'PRIN.BK': 266,
 'PSH.BK': 267,
 'QH.BK': 268,
 'RABBIT.BK': 269,
 'RICHY.BK': 270,
 'RML.BK': 271,
 'ROJNA.BK': 272,
 'S.BK': 273,
 'SA.BK': 274,
 'SAMCO.BK': 275,
 'SC.BK': 276,
 'SENA.BK': 277,
 'SIRI.BK': 278,
 'SPALI.BK': 279,
 'UV.BK': 280,
 'WHA.BK': 281,
 'WIN.BK': 282,
 'AIMCG.BK': 283,
 'AIMIRT.BK': 284,
 'ALLY.BK': 285,
 'AMATAR.BK': 286,
 'B-WORK.BK': 287,
 'BAREIT.BK': 288,
 'BKKCP.BK': 289,
 'BOFFICE.BK': 290,
 'CPNCG.BK': 291,
 'CPNREIT.BK': 292,
 'CPTGF.BK': 293,
 'CTARAF.BK': 294,
 'DREIT.BK': 295,
 'ERWPF.BK': 296,
 'FTREIT.BK': 297,
 'FUTUREPF.BK': 298,
 'GAHREIT.BK': 299,
 'GROREIT.BK': 300,
 'GVREIT.BK': 301,
 'HPF.BK': 302,
 'HYDROGEN.BK': 303,
 'IMPACT.BK': 304,
 'INETREIT.BK': 305,
 'KPNPF.BK': 306,
 'KTBSTMR.BK': 307,
 'LHHOTEL.BK': 308,
 'LHPF.BK': 309,
 'LHSC.BK': 310,
 'LPF.BK': 311,
 'LUXF.BK': 312,
 'M-II.BK': 313,
 'M-PAT.BK': 314,
 'M-STOR.BK': 315,
 'MIPF.BK': 316,
 'MIT.BK': 317,
 'MJLF.BK': 318,
 'MNIT.BK': 319,
 'MNIT2.BK': 320,
 'MNRF.BK': 321,
 'POPF.BK': 322,
 'PPF.BK': 323,
 'PROSPECT.BK': 324,
 'QHHR.BK': 325,
 'QHOP.BK': 326,
 'QHPF.BK': 327,
 'SHREIT.BK': 328,
 'SIRIP.BK': 329,
 'SPRIME.BK': 330,
 'SRIPANWA.BK': 331,
 'SSPF.BK': 332,
 'SSTRT.BK': 333,
 'TIF1.BK': 334,
 'TLHPF.BK': 335,
 'TNPF.BK': 336,
 'TPRIME.BK': 337,
 'TTLPF.BK': 338,
 'TU-PF.BK': 339,
 'URBNPF.BK': 340,
 'WHABT.BK': 341,
 'WHAIR.BK': 342,
 'WHART.BK': 343,
 'APCS.BK': 344,
 'BJCHI.BK': 345,
 'BKD.BK': 346,
 'CIVIL.BK': 347,
 'CK.BK': 348,
 'CNT.BK': 349,
 'EMC.BK': 350,
 'ITD.BK': 351,
 'NWR.BK': 352,
 'PLE.BK': 353,
 'PREB.BK': 354,
 'PYLON.BK': 355,
 'RT.BK': 356,
 'SEAFCO.BK': 357,
 'SQ.BK': 358,
 'SRICHA.BK': 359,
 'STEC.BK': 360,
 'STI.BK': 361,
 'STPI.BK': 362,
 'SYNTEC.BK': 363,
 'TEAMG.BK': 364,
 'TEKA.BK': 365,
 'TPOLY.BK': 366,
 'TRC.BK': 367,
 'TRITN.BK': 368,
 'TTCL.BK': 369,
 'UNIQ.BK': 370,
 'WGE.BK': 371,
 '7UP.BK': 372,
 'ACC.BK': 373,
 'ACE.BK': 374,
 'AGE.BK': 375,
 'AI.BK': 376,
 'AIE.BK': 377,
 'AKR.BK': 378,
 'BAFS.BK': 379,
 'BANPU.BK': 380,
 'BBGI.BK': 381,
 'BCP.BK': 382,
 'BCPG.BK': 383,
 'BGRIM.BK': 384,
 'BPP.BK': 385,
 'BRRGIF.BK': 386,
 'CKP.BK': 387,
 'CV.BK': 388,
 'DEMCO.BK': 389,
 'EA.BK': 390,
 'EASTW.BK': 391,
 'EGATIF.BK': 392,
 'EGCO.BK': 393,
 'EP.BK': 394,
 'ESSO.BK': 395,
 'ETC.BK': 396,
 'GPSC.BK': 397,
 'GREEN.BK': 398,
 'GULF.BK': 399,
 'GUNKUL.BK': 400,
 'IFEC.BK': 401,
 'IRPC.BK': 402,
 'JR.BK': 403,
 'KBSPIF.BK': 404,
 'LANNA.BK': 405,
 'MDX.BK': 406,
 'NOVA.BK': 407,
 'OR.BK': 408,
 'PCC.BK': 409,
 'PRIME.BK': 410,
 'PTG.BK': 411,
 'PTT.BK': 412,
 'PTTEP.BK': 413,
 'QTC.BK': 414,
 'RATCH.BK': 415,
 'RPC.BK': 416,
 'SCG.BK': 417,
 'SCI.BK': 418,
 'SCN.BK': 419,
 'SGP.BK': 420,
 'SKE.BK': 421,
 'SOLAR.BK': 422,
 'SPCG.BK': 423,
 'SPRC.BK': 424,
 'SSP.BK': 425,
 'SUPER.BK': 426,
 'SUPEREIF.BK': 427,
 'SUSCO.BK': 428,
 'TAE.BK': 429,
 'TCC.BK': 430,
 'TGE.BK': 431,
 'TOP.BK': 432,
 'TPIPP.BK': 433,
 'TSE.BK': 434,
 'TTW.BK': 435,
 'UBE.BK': 436,
 'WHAUP.BK': 437,
 'WP.BK': 438,
 'THL.BK': 439,
 'B52.BK': 440,
 'BEAUTY.BK': 441,
 'BIG.BK': 442,
 'BJC.BK': 443,
 'COM7.BK': 444,
 'CPALL.BK': 445,
 'CPW.BK': 446,
 'CRC.BK': 447,
 'CSS.BK': 448,
 'DOHOME.BK': 449,
 'FN.BK': 450,
 'FTE.BK': 451,
 'GLOBAL.BK': 452,
 'HMPRO.BK': 453,
 'ICC.BK': 454,
 'ILM.BK': 455,
 'IT.BK': 456,
 'KAMART.BK': 457,
 'LOXLEY.BK': 458,
 'MAKRO.BK': 459,
 'MC.BK': 460,
 'MEGA.BK': 461,
 'MIDA.BK': 462,
 'MOSHI.BK': 463,
 'RS.BK': 464,
 'RSP.BK': 465,
 'SABUY.BK': 466,
 'SCM.BK': 467,
 'SINGER.BK': 468,
 'SPC.BK': 469,
 'SPI.BK': 470,
 'SVT.BK': 471,
 'AHC.BK': 472,
 'BCH.BK': 473,
 'BDMS.BK': 474,
 'BH.BK': 475,
 'CHG.BK': 476,
 'CMR.BK': 477,
 'EKH.BK': 478,
 'KDH.BK': 479,
 'LPH.BK': 480,
 'M-CHAI.BK': 481,
 'NEW.BK': 482,
 'NTV.BK': 483,
 'PR9.BK': 484,
 'PRINC.BK': 485,
 'RAM.BK': 486,
 'RJH.BK': 487,
 'RPH.BK': 488,
 'SKR.BK': 489,
 'THG.BK': 490,
 'VIBHA.BK': 491,
 'VIH.BK': 492,
 'WPH.BK': 493,
 'AMARIN.BK': 494,
 'AQUA.BK': 495,
 'AS.BK': 496,
 'BEC.BK': 497,
 'FE.BK': 498,
 'GPI.BK': 499,
 'GRAMMY.BK': 500,
 'JKN.BK': 501,
 'MACO.BK': 502,
 'MAJOR.BK': 503,
 'MATCH.BK': 504,
 'MATI.BK': 505,
 'MCOT.BK': 506,
 'MONO.BK': 507,
 'MPIC.BK': 508,
 'NATION.BK': 509,
 'ONEE.BK': 510,
 'PLANB.BK': 511,
 'POST.BK': 512,
 'PRAKIT.BK': 513,
 'PTECH.BK': 514,
 'SE-ED.BK': 515,
 'TKS.BK': 516,
 'VGI.BK': 517,
 'WAVE.BK': 518,
 'WORK.BK': 519,
 'BWG.BK': 520,
 'GENCO.BK': 521,
 'PRO.BK': 522,
 'SISB.BK': 523,
 'SO.BK': 524,
 'ASIA.BK': 525,
 'BEYOND.BK': 526,
 'CENTEL.BK': 527,
 'CSR.BK': 528,
 'DUSIT.BK': 529,
 'ERW.BK': 530,
 'GRAND.BK': 531,
 'LRH.BK': 532,
 'MANRIN.BK': 533,
 'OHTL.BK': 534,
 'ROH.BK': 535,
 'SHANG.BK': 536,
 'SHR.BK': 537,
 'VRANDA.BK': 538,
 'AAV.BK': 539,
 'AOT.BK': 540,
 'ASIMAR.BK': 541,
 'B.BK': 542,
 'BA.BK': 543,
 'BEM.BK': 544,
 'BIOTEC.BK': 545,
 'BTS.BK': 546,
 'BTSGIF.BK': 547,
 'DMT.BK': 548,
 'III.BK': 549,
 'SJWD.BK': 550,
 'KEX.BK': 551,
 'KIAT.BK': 552,
 'KWC.BK': 553,
 'MENA.BK': 554,
 'NOK.BK': 555,
 'NYT.BK': 556,
 'PORT.BK': 557,
 'PRM.BK': 558,
 'PSL.BK': 559,
 'RCL.BK': 560,
 'TFFIF.BK': 561,
 'THAI.BK': 562,
 'TSTE.BK': 563,
 'TTA.BK': 564,
 'WICE.BK': 565,
 'CCET.BK': 566,
 'DELTA.BK': 567,
 'HANA.BK': 568,
 'KCE.BK': 569,
 'METCO.BK': 570,
 'NEX.BK': 571,
 'SMT.BK': 572,
 'SVI.BK': 573,
 'TEAM.BK': 574,
 'ADVANC.BK': 575,
 'AIT.BK': 576,
 'ALT.BK': 577,
 'AMR.BK': 578,
 'BLISS.BK': 579,
 'DIF.BK': 580,
 'DTAC.BK': 581,
 'DTCENT.BK': 582,
 'FORTH.BK': 583,
 'HUMAN.BK': 584,
 'ILINK.BK': 585,
 'INET.BK': 586,
 'INSET.BK': 587,
 'INTUCH.BK': 588,
 'ITEL.BK': 589,
 'JAS.BK': 590,
 'JASIF.BK': 591,
 'JMART.BK': 592,
 'JTS.BK': 593,
 'MFEC.BK': 594,
 'MSC.BK': 595,
 'PT.BK': 596,
 'SAMART.BK': 597,
 'SAMTEL.BK': 598,
 'SDC.BK': 599,
 'SIS.BK': 600,
 'SKY.BK': 601,
 'SVOA.BK': 602,
 'SYMC.BK': 603,
 'SYNEX.BK': 604,
 'THCOM.BK': 605,
 'TKC.BK': 606,
 'TRUE.BK': 607,
 'TWZ.BK': 608,
 'AEONTS.BK': 609,
 'BAM.BK': 610,
 'BBL.BK': 611,
 'BLA.BK': 612,
 'JMT.BK': 613,
 'KBANK.BK': 614,
 'KKP.BK': 615,
 'KTB.BK': 616,
 'KTC.BK': 617,
 'MTC.BK': 618,
 'SAWAD.BK': 619,
 'SCB.BK': 620,
 'TCAP.BK': 621,
 'THANI.BK': 622,
 'TIDLOR.BK': 623,
 'TIPH.BK': 624,
 'TISCO.BK': 625,
 'TQM.BK': 626,
 'TTB.BK': 627}

---------------------------------------------------SET100--------------------------------------------------------------------

In [12]:
tickers = ['ACE.BK', 'ADVANC.BK', 'AEONTS.BK', 'AMATA.BK', 'AOT.BK', 'AP.BK', 'AWC.BK', 'BAM.BK',
       'BANPU.BK', 'BBL.BK', 'BCH.BK', 'BCP.BK', 'BCPG.BK', 'BDMS.BK', 'BEC.BK', 'BEM.BK',
       'BGRIM.BK', 'BH.BK', 'BLA.BK', 'BTS.BK', 'CBG.BK', 'CENTEL.BK', 'CHG.BK', 'CK.BK', 'CKP.BK',
       'COM7.BK', 'CPALL.BK', 'CPF.BK', 'CPN.BK', 'CRC.BK', 'DOHOME.BK', 'DTAC.BK', 'EA.BK',
       'EGCO.BK', 'EPG.BK', 'ESSO.BK', 'FORTH.BK', 'GLOBAL.BK', 'GPSC.BK', 'GULF.BK', 'GUNKUL.BK',
       'HANA.BK', 'HMPRO.BK', 'INTUCH.BK', 'IRPC.BK', 'IVL.BK', 'JMART.BK', 'JMT.BK', 'KBANK.BK',
       'KCE.BK', 'KEX.BK', 'KKP.BK', 'KTB.BK', 'KTC.BK', 'LH.BK', 'MAJOR.BK', 'MEGA.BK', 'MINT.BK',
       'MTC.BK', 'ONEE.BK', 'OR.BK', 'ORI.BK', 'OSP.BK', 'PLANB.BK', 'PSL.BK', 'PTG.BK', 'PTT.BK',
       'PTTEP.BK', 'PTTGC.BK', 'QH.BK', 'RATCH.BK', 'RBF.BK', 'RCL.BK', 'SAWAD.BK', 'SCB.BK',
       'SCC.BK', 'SCGP.BK', 'SINGER.BK', 'SPALI.BK', 'SPRC.BK', 'STA.BK', 'STARK.BK', 'STEC.BK',
       'STGT.BK', 'SUPER.BK', 'SYNEX.BK', 'TASCO.BK', 'TCAP.BK', 'THANI.BK', 'TIDLOR.BK',
       'TIPH.BK', 'TISCO.BK', 'TOP.BK', 'TQM.BK', 'TRUE.BK', 'TTA.BK', 'TTB.BK', 'TU.BK', 'VGI.BK',
       'WHA.BK']

In [13]:
tool.updateData_Day('ACE.BK','SET')

[*********************100%***********************]  1 of 1 completed

         Date  Open  High   Low  Close  Adj Close    Volume SymbolId
0  2023-01-18  2.66  2.70  2.66   2.66       2.66  22458900      374
1  2023-01-19  2.68  2.72  2.66   2.68       2.68  27451100      374
2  2023-01-20  2.68  2.68  2.64   2.66       2.66  18616500      374
3  2023-01-23  2.66  2.66  2.64   2.64       2.64  14109400      374
4  2023-01-24  2.66  2.66  2.64   2.64       2.64  16344300      374
5  2023-01-25  2.64  2.66  2.60   2.62       2.62  26715600      374
6  2023-01-26  2.62  2.64  2.58   2.58       2.58  22764700      374
7  2023-01-27  2.60  2.60  2.56   2.56       2.56  18930100      374
8  2023-01-30  2.56  2.58  2.54   2.56       2.56  24377600      374
9  2023-01-31  2.56  2.60  2.56   2.58       2.58  11311600      374
10 2023-02-01  2.58  2.60  2.56   2.58       2.58  22836900      374
11 2023-02-02  2.58  2.58  2.56   2.56       2.56  17395500      374
12 2023-02-03  2.56  2.58  2.54   2.54       2.54  16419000      374
13 2023-02-06  2.54  2.58  2.54   2.56       2.56  23240400      374
14 2023-02-07  2.56  2.58  2.54   2.56       2.56  23914900      374
15 2023-02-08  2.54  2.56  2.54   2.54       2.54  16004300      374
16 2023-02-09  2.54  2.56  2.50   2.52       2.52  25076600      374
17 2023-02-10  2.52  2.52  2.48   2.48       2.48  12907500      374
18 2023-02-13  2.46  2.56  2.40   2.50       2.50  34276100      374
19 2023-02-14  2.50  2.52  2.42   2.44       2.44  16016300      374
20 2023-02-15  2.44  2.46  2.42   2.44       2.44  17679500      374
21 2023-02-16  2.44  2.50  2.44   2.50       2.50  16119700      374
22 2023-02-17  2.50  2.50  2.42   2.46       2.46  13269400      374
23 2023-02-20  2.48  2.48  2.46   2.48       2.48   7772000      374
24 2023-02-21  2.48  2.52  2.48   2.50       2.50  19024400      374
25 2023-02-22  2.50  2.52  2.46   2.48       2.48  16926200      374
26 2023-02-23  2.48  2.48  2.44   2.46       2.46  10768000      374
27 2023-02-24  2.46  2.48  2.44   2.46       2.46   9497100      374
28 2023-02-27  2.46  2.48  2.44   2.48       2.48   4066300      374
29 2023-02-28  2.46  2.52  2.46   2.48       2.48   5185900      374
30 2023-03-01  2.48  2.48  2.40   2.44       2.44  20518500      374
31 2023-03-02  2.46  2.46  2.42   2.42       2.42  12065800      374

In [25]:
tool.updateData_hours('WHA.BK',"SET")

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WHA.BK: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Datetime, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []

In [26]:
new = []
for ticker in tickers:
    
    print(ticker)
    df = tool.updateData_hours(ticker,"SET")
    new.append(df)
    # tool.combineData('Stock_price_hours',df)
# new_stock = pd.concat(new)

ACE.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ACE.BK: No data found for this date range, symbol may be delisted
ADVANC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ADVANC.BK: No data found for this date range, symbol may be delisted
AEONTS.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AEONTS.BK: No data found for this date range, symbol may be delisted
AMATA.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AMATA.BK: No data found for this date range, symbol may be delisted
AOT.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AOT.BK: No data found for this date range, symbol may be delisted
AP.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AP.BK: No data found for this date range, symbol may be delisted
AWC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AWC.BK: No data found for this date range, symbol may be delisted
BAM.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BAM.BK: No data found for this date range, symbol may be delisted
BANPU.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BANPU.BK: No data found for this date range, symbol may be delisted
BBL.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BBL.BK: No data found for this date range, symbol may be delisted
BCH.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BCH.BK: No data found for this date range, symbol may be delisted
BCP.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BCP.BK: No data found for this date range, symbol may be delisted
BCPG.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BCPG.BK: No data found for this date range, symbol may be delisted
BDMS.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BDMS.BK: No data found for this date range, symbol may be delisted
BEC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BEC.BK: No data found for this date range, symbol may be delisted
BEM.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BEM.BK: No data found for this date range, symbol may be delisted
BGRIM.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BGRIM.BK: No data found for this date range, symbol may be delisted
BH.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BH.BK: No data found for this date range, symbol may be delisted
BLA.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BLA.BK: No data found for this date range, symbol may be delisted
BTS.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BTS.BK: No data found for this date range, symbol may be delisted
CBG.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CBG.BK: No data found for this date range, symbol may be delisted
CENTEL.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CENTEL.BK: No data found for this date range, symbol may be delisted
CHG.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CHG.BK: No data found for this date range, symbol may be delisted
CK.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CK.BK: No data found for this date range, symbol may be delisted
CKP.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CKP.BK: No data found for this date range, symbol may be delisted
COM7.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- COM7.BK: No data found for this date range, symbol may be delisted
CPALL.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CPALL.BK: No data found for this date range, symbol may be delisted
CPF.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CPF.BK: No data found for this date range, symbol may be delisted
CPN.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CPN.BK: No data found for this date range, symbol may be delisted
CRC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CRC.BK: No data found for this date range, symbol may be delisted
DOHOME.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DOHOME.BK: No data found for this date range, symbol may be delisted
DTAC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DTAC.BK: No data found for this date range, symbol may be delisted
EA.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EA.BK: No data found for this date range, symbol may be delisted
EGCO.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EGCO.BK: No data found for this date range, symbol may be delisted
EPG.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- EPG.BK: No data found for this date range, symbol may be delisted
ESSO.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ESSO.BK: No data found for this date range, symbol may be delisted
FORTH.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FORTH.BK: No data found for this date range, symbol may be delisted
GLOBAL.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GLOBAL.BK: No data found for this date range, symbol may be delisted
GPSC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GPSC.BK: No data found for this date range, symbol may be delisted
GULF.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GULF.BK: No data found for this date range, symbol may be delisted
GUNKUL.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- GUNKUL.BK: No data found for this date range, symbol may be delisted
HANA.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HANA.BK: No data found for this date range, symbol may be delisted
HMPRO.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HMPRO.BK: No data found for this date range, symbol may be delisted
INTUCH.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- INTUCH.BK: No data found for this date range, symbol may be delisted
IRPC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IRPC.BK: No data found for this date range, symbol may be delisted
IVL.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- IVL.BK: No data found for this date range, symbol may be delisted
JMART.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JMART.BK: No data found for this date range, symbol may be delisted
JMT.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JMT.BK: No data found for this date range, symbol may be delisted
KBANK.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KBANK.BK: No data found for this date range, symbol may be delisted
KCE.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KCE.BK: No data found for this date range, symbol may be delisted
KEX.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KEX.BK: No data found for this date range, symbol may be delisted
KKP.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KKP.BK: No data found for this date range, symbol may be delisted
KTB.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KTB.BK: No data found for this date range, symbol may be delisted
KTC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KTC.BK: No data found for this date range, symbol may be delisted
LH.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LH.BK: No data found for this date range, symbol may be delisted
MAJOR.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MAJOR.BK: No data found for this date range, symbol may be delisted
MEGA.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MEGA.BK: No data found for this date range, symbol may be delisted
MINT.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MINT.BK: No data found for this date range, symbol may be delisted
MTC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MTC.BK: No data found for this date range, symbol may be delisted
ONEE.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ONEE.BK: No data found for this date range, symbol may be delisted
OR.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- OR.BK: No data found for this date range, symbol may be delisted
ORI.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- ORI.BK: No data found for this date range, symbol may be delisted
OSP.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- OSP.BK: No data found for this date range, symbol may be delisted
PLANB.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PLANB.BK: No data found for this date range, symbol may be delisted
PSL.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PSL.BK: No data found for this date range, symbol may be delisted
PTG.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PTG.BK: No data found for this date range, symbol may be delisted
PTT.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PTT.BK: No data found for this date range, symbol may be delisted
PTTEP.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PTTEP.BK: No data found for this date range, symbol may be delisted
PTTGC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PTTGC.BK: No data found for this date range, symbol may be delisted
QH.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- QH.BK: No data found for this date range, symbol may be delisted
RATCH.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RATCH.BK: No data found for this date range, symbol may be delisted
RBF.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RBF.BK: No data found for this date range, symbol may be delisted
RCL.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RCL.BK: No data found for this date range, symbol may be delisted
SAWAD.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SAWAD.BK: No data found for this date range, symbol may be delisted
SCB.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SCB.BK: No data found for this date range, symbol may be delisted
SCC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SCC.BK: No data found for this date range, symbol may be delisted
SCGP.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SCGP.BK: No data found for this date range, symbol may be delisted
SINGER.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SINGER.BK: No data found for this date range, symbol may be delisted
SPALI.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SPALI.BK: No data found for this date range, symbol may be delisted
SPRC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SPRC.BK: No data found for this date range, symbol may be delisted
STA.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- STA.BK: No data found for this date range, symbol may be delisted
STARK.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- STARK.BK: No data found for this date range, symbol may be delisted
STEC.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- STEC.BK: No data found for this date range, symbol may be delisted
STGT.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- STGT.BK: No data found for this date range, symbol may be delisted
SUPER.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SUPER.BK: No data found for this date range, symbol may be delisted
SYNEX.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SYNEX.BK: No data found for this date range, symbol may be delisted
TASCO.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TASCO.BK: No data found for this date range, symbol may be delisted
TCAP.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TCAP.BK: No data found for this date range, symbol may be delisted
THANI.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- THANI.BK: No data found for this date range, symbol may be delisted
TIDLOR.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TIDLOR.BK: No data found for this date range, symbol may be delisted
TIPH.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TIPH.BK: No data found for this date range, symbol may be delisted
TISCO.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TISCO.BK: No data found for this date range, symbol may be delisted
TOP.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TOP.BK: No data found for this date range, symbol may be delisted
TQM.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TQM.BK: No data found for this date range, symbol may be delisted
TRUE.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TRUE.BK: No data found for this date range, symbol may be delisted
TTA.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TTA.BK: No data found for this date range, symbol may be delisted
TTB.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TTB.BK: No data found for this date range, symbol may be delisted
TU.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TU.BK: No data found for this date range, symbol may be delisted
VGI.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VGI.BK: No data found for this date range, symbol may be delisted
WHA.BK
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WHA.BK: No data found for this date range, symbol may be delisted

In [36]:
new = []
for ticker in tickers:
    
    print(ticker)
    df = tool.updateData_Day(ticker,"SET")
    new.append(df)
    tool.combineData('Stock_price_day',df)
new_stock = pd.concat(new)

ACE.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "374"


ADVANC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "575"


AEONTS.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "609"


AMATA.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "225"


AOT.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "540"


AP.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "228"


AWC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "232"


BAM.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "610"


BANPU.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "380"


BBL.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "611"


BCH.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "473"


BCP.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "382"


BCPG.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "383"


BDMS.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "474"


BEC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "497"


BEM.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "544"


BGRIM.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "384"


BH.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "475"


BLA.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "612"


BTS.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "546"


CBG.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "21"


CENTEL.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "527"


CHG.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "476"


CK.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "348"


CKP.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "387"


COM7.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "444"


CPALL.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "445"


CPF.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "26"


CPN.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "239"


CRC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "447"


DOHOME.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "449"


DTAC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "581"


EA.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "390"


EGCO.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "393"


EPG.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "209"


ESSO.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "395"


FORTH.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "583"


GLOBAL.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "452"


GPSC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "397"


GULF.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "399"


GUNKUL.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "400"


HANA.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "568"


HMPRO.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "453"


INTUCH.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "588"


IRPC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "402"


IVL.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "151"


JMART.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "592"


JMT.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "613"


KBANK.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "614"


KCE.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "569"


KEX.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "551"


KKP.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "615"


KTB.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "616"


KTC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "617"


LH.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "248"


MAJOR.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "503"


MEGA.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "461"


MINT.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "40"


MTC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "618"


ONEE.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "510"


OR.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "408"


ORI.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "258"


OSP.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "44"


PLANB.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "511"


PSL.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "559"


PTG.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "411"


PTT.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "412"


PTTEP.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "413"


PTTGC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "155"


QH.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "268"


RATCH.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "415"


RBF.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "49"


RCL.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "560"


SAWAD.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "619"


SCB.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "620"


SCC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "213"


SCGP.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "167"


SINGER.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "468"


SPALI.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "279"


SPRC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "424"


STA.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "7"


STARK.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "141"


STEC.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "360"


STGT.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "108"


SUPER.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "426"


SYNEX.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "604"


TASCO.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "218"


TCAP.BK
[*********************100%***********************]  1 of 1 completed

                    select *
                    from Stock_price_day
                    where Date = "2023-01-18 00:00:00" and SymbolId = "621"


THANI.BK
[*********************100%***********************]  1 of 1 completed

                    select *

In [35]:
# new_stock.to_csv('save_test.csv')
new_stock

         Date  Open  High   Low  Close  Adj Close     Volume SymbolId
0  2023-01-18  2.66  2.70  2.66   2.66       2.66   22458900      374
1  2023-01-19  2.68  2.72  2.66   2.68       2.68   27451100      374
2  2023-01-20  2.68  2.68  2.64   2.66       2.66   18616500      374
3  2023-01-23  2.66  2.66  2.64   2.64       2.64   14109400      374
4  2023-01-24  2.66  2.66  2.64   2.64       2.64   16344300      374
..        ...   ...   ...   ...    ...        ...        ...      ...
27 2023-02-24  4.00  4.02  3.94   3.98       3.98  181460000      281
28 2023-02-27  4.00  4.08  3.94   4.06       4.06  145975100      281
29 2023-02-28  4.06  4.06  3.92   3.94       3.94  231034600      281
30 2023-03-01  3.94  4.02  3.92   3.94       3.94  180614400      281
31 2023-03-02  3.94  4.04  3.92   3.94       3.94  163889400      281

[3198 rows x 8 columns]

------------------------------NASDAQ--------------------------------------------------------------------------------

In [37]:
triker_NASDAQ = ['AAPL','MSFT','GOOG','GOOGL',
 'AMZN',
 'PCAR',
 'BRK/A',
 'BRK/B',
 'TSLA',
 'NVDA',
 'V',
 'TSM',
 'UNH',
 'XOM',
 'META',
 'JNJ',
 'JPM',
 'WMT',
 'MA',
 'PG',
 'HD',
 'NVO',
 'CVX',
 'LLY',
 'BAC',
 'MRK',
 'ABBV',
 'BABA',
 'ASML',
 'KO',
 'AVGO',
 'PEP',
 'PFE',
 'ORCL',
 'COST',
 'TMO',
 'AZN',
 'SHEL',
 'CSCO',
 'MCD',
 'TM',
 'NKE',
 'DIS',
 'DHR',
 'ABT',
 'NVS',
 'TMUS',
 'WFC',
 'ACN',
 'VZ',
 'BHP',
 'MS',
 'CRM',
 'CMCSA',
 'ADBE',
 'TXN',
 'UPS',
 'LIN',
 'PM',
 'NFLX',
 'TTE',
 'NEE',
 'SCHW',
 'BMY',
 'HSBC',
 'RTX',
 'RY',
 'QCOM',
 'T',
 'SAP',
 'HON',
 'AXP',
 'UL',
 'HDB',
 'DE',
 'LOW',
 'AMGN',
 'CAT',
 'AMD',
 'COP',
 'BA',
 'TD',
 'GS',
 'UNP',
 'SBUX',
 'IBM',
 'LMT',
 'RIO',
 'BP',
 'SNY',
 'SPGI',
 'ELV',
 'PDD',
 'BUD',
 'PLD',
 'INTC',
 'CVS',
 'INTU',
 'MDT',
 'BLK',
 'GILD',
 'SONY',
 'SYK',
 'C',
 'DEO',
 'AMT',
 'ADI',
 'AMAT',
 'EQNR',
 'BKNG',
 'ADP',
 'TJX',
 'MDLZ',
 'GE',
 'EL',
 'CI',
 'NOW',
 'MUFG',
 'CB',
 'MO',
 'BTI',
 'PYPL',
 'ISRG',
 'JD',
 'PGR']

In [47]:
new = []
for ticker in triker_NASDAQ:
    print(ticker)
    df = tool.updateData_Day(ticker,"NASDAQ")
    new.append(df)
    # tool.combineData('Stock_price_day',df)
new_stock = pd.concat(new)

AAPL
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
MSFT
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
GOOG
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
GOOGL
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
AMZN
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
PCAR
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
BRK/A
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
BRK/B
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
TSLA
[*********************100%***********************]  1 of 1 completed
           Date        Open        High         Low       Close   Adj Close  \
0    2010-06-29    1.266667    1.666667    1.169333    1.592667    1.592667
1    2010-06-30    1.719333    2.028000    1.553333    1.588667    1.588667
2    2010-07-01    1.666667    1.728000    1.351333    1.464000    1.464000
3    2010-07-02    1.533333    1.540000    1.247333    1.280000    1.280000
4    2010-07-06    1.333333    1.333333    1.055333    1.074000    1.074000
...         ...         ...         ...         ...         ...         ...
3186 2023-02-24  196.330002  197.669998  192.800003  196.880005  196.880005
3187 2023-02-27  202.029999  209.419998  201.259995  207.630005  207.630005
3188 2023-02-28  210.589996  211.229996  203.750000  205.710007  205.710007
3189 2023-03-01  206.210007  207.199997  198.520004  202.770004  202.770004
3190 2023-03-02  186.740005  193.750000  186.009995  190.899994  190.899994

         Volume SymbolId
0     281494500     4528
1     257806500     4528
2     123282000     4528
3      77097000     4528
4     103003500     4528
...         ...      ...
3186  142228100     4528
3187  161028300     4528
3188  153144900     4528
3189  156852800     4528
3190  181500700     4528

[3191 rows x 8 columns]

                    select *
                    from Stock_price_day
                    where Date = "2010-06-29 00:00:00" and SymbolId = "4528"


NVDA
[*********************100%***********************]  1 of 1 completed
           Date        Open        High         Low       Close   Adj Close  \
0    1999-01-22    0.437500    0.488281    0.388021    0.410156    0.376422
1    1999-01-25    0.442708    0.458333    0.410156    0.453125    0.415857
2    1999-01-26    0.458333    0.467448    0.411458    0.417969    0.383592
3    1999-01-27    0.419271    0.429688    0.395833    0.416667    0.382397
4    1999-01-28    0.416667    0.419271    0.412760    0.415365    0.381202
...         ...         ...         ...         ...         ...         ...
6062 2023-02-24  232.250000  234.740005  229.470001  232.860001  232.860001
6063 2023-02-27  236.699997  238.800003  234.539993  235.009995  235.009995
6064 2023-02-28  233.720001  238.250000  232.059998  232.160004  232.160004
6065 2023-03-01  231.919998  232.559998  225.080002  226.979996  226.979996
6066 2023-03-02  224.880005  233.800003  224.320007  233.139999  233.139999

         Volume SymbolId
0     271468800     3373
1      51048000     3373
2      34320000     3373
3      24436800     3373
4      22752000     3373
...         ...      ...
6062   58971600     3373
6063   45299400     3373
6064   45596300     3373
6065   46002600     3373
6066   38941500     3373

[6067 rows x 8 columns]

                    select *
                    from Stock_price_day
                    where Date = "1999-01-22 00:00:00" and SymbolId = "3373"


V
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
TSM
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
UNH
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
XOM
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
META
[*********************100%***********************]  1 of 1 completed
           Date        Open        High         Low       Close   Adj Close  \
0    2012-05-18   42.049999   45.000000   38.000000   38.230000   38.230000
1    2012-05-21   36.529999   36.660000   33.000000   34.029999   34.029999
2    2012-05-22   32.610001   33.590000   30.940001   31.000000   31.000000
3    2012-05-23   31.370001   32.500000   31.360001   32.000000   32.000000
4    2012-05-24   32.950001   33.209999   31.770000   33.029999   33.029999
...         ...         ...         ...         ...         ...         ...
2709 2023-02-24  168.639999  170.720001  167.660004  170.389999  170.389999
2710 2023-02-27  171.880005  173.119995  169.059998  169.539993  169.539993
2711 2023-02-28  171.899994  177.550003  171.869995  174.940002  174.940002
2712 2023-03-01  174.589996  177.850006  173.050003  173.419998  173.419998
2713 2023-03-02  172.380005  175.009995  171.429993  174.529999  174.529999

         Volume SymbolId
0     573576400     3089
1     168192700     3089
2     101786600     3089
3      73600000     3089
4      50237200     3089
...         ...      ...
2709   19791300     3089
2710   19277000     3089
2711   46051100     3089
2712   30998400     3089
2713   17352000     3089

[2714 rows x 8 columns]

                    select *
                    from Stock_price_day
                    where Date = "2012-05-18 00:00:00" and SymbolId = "3089"


JNJ
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
JPM
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
WMT
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
MA
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
PG
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
HD
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
NVO
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
CVX
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
LLY
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
BAC
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
MRK
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
ABBV
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
BABA
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
ASML
[*********************100%***********************]  1 of 1 completed
           Date        Open        High         Low       Close   Adj Close  \
0    1995-03-15    1.875000    2.144531    1.828125    2.109375    1.319443
1    1995-03-16    2.320313    2.390625    2.226563    2.320313    1.451388
2    1995-03-17    2.332031    2.332031    2.226563    2.238281    1.400075
3    1995-03-20    2.226563    2.238281    2.179688    2.226563    1.392745
4    1995-03-21    2.226563    2.355469    2.203125    2.332031    1.458718
...         ...         ...         ...         ...         ...         ...
7036 2023-02-24  619.429993  624.669983  612.719971  618.380005  618.380005
7037 2023-02-27  631.409973  639.369995  626.260010  632.080017  632.080017
7038 2023-02-28  612.450012  625.250000  610.140015  617.729980  617.729980
7039 2023-03-01  621.070007  623.119995  611.960022  614.950012  614.950012
7040 2023-03-02  606.320007  625.090027  603.229980  624.169983  624.169983

        Volume SymbolId
0     92646400      985
1     22867200      985
2     17163733      985
3      7141333      985
4      8198400      985
...        ...      ...
7036    995700      985
7037    804500      985
7038   1381700      985
7039    794300      985
7040    795800      985

[7041 rows x 8 columns]

                    select *
                    from Stock_price_day
                    where Date = "1995-03-15 00:00:00" and SymbolId = "985"


KO
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
AVGO
[*********************100%***********************]  1 of 1 completed
           Date        Open        High         Low       Close   Adj Close  \
0    2009-08-06   16.500000   16.910000   15.560000   16.180000   11.920923
1    2009-08-07   16.150000   16.760000   16.030001   16.430000   12.105117
2    2009-08-10   16.629999   16.629999   15.610000   15.970000   11.766203
3    2009-08-11   15.980000   16.000000   15.500000   15.670000   11.545173
4    2009-08-12   16.150000   16.200001   15.660000   16.000000   11.788305
...         ...         ...         ...         ...         ...         ...
3411 2023-02-24  577.530029  580.239990  573.609985  577.750000  577.750000
3412 2023-02-27  585.869995  589.799988  584.260010  585.450012  585.450012
3413 2023-02-28  585.559998  598.580017  582.179993  594.289978  594.289978
3414 2023-03-01  594.000000  598.210022  590.299988  593.570007  593.570007
3415 2023-03-02  589.390015  600.940002  586.130005  598.650024  598.650024

        Volume SymbolId
0     24197800     1055
1      2454300     1055
2      2421000     1055
3      2305400     1055
4      1451300     1055
...        ...      ...
3411   1535300     1055
3412   1832100     1055
3413   2782200     1055
3414   1548400     1055
3415   2752500     1055

[3416 rows x 8 columns]

                    select *
                    from Stock_price_day
                    where Date = "2009-08-06 00:00:00" and SymbolId = "1055"


PEP
[*********************100%***********************]  1 of 1 completed
            Date        Open        High         Low       Close   Adj Close  \
0     1973-11-21    1.446759    1.469907    1.425926    1.446759    0.381465
1     1973-11-23    1.446759    1.446759    1.425926    1.425926    0.375972
2     1973-11-26    1.414352    1.414352    1.349537    1.349537    0.355831
3     1973-11-27    1.349537    1.349537    1.305556    1.305556    0.344234
4     1973-11-28    1.305556    1.305556    1.273148    1.284722    0.338741
...          ...         ...         ...         ...         ...         ...
12422 2023-02-24  175.460007  176.330002  174.289993  175.960007  174.778931
12423 2023-02-27  176.970001  177.250000  175.649994  175.910004  174.729263
12424 2023-02-28  174.880005  175.059998  173.199997  173.529999  172.365234
12425 2023-03-01  172.320007  172.460007  169.119995  171.330002  170.180008
12426 2023-03-02  170.509995  173.759995  169.779999  173.320007  173.320007

        Volume SymbolId
0      1884600     3618
1       178200     3618
2      1458000     3618
3      1317600     3618
4      1031400     3618
...        ...      ...
12422  2959100     3618
12423  3208500     3618
12424  4317100     3618
12425  5359100     3618
12426  4476300     3618

[12427 rows x 8 columns]

                    select *
                    from Stock_price_day
                    where Date = "1973-11-21 00:00:00" and SymbolId = "3618"


PFE
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
ORCL
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
COST
[*********************100%***********************]  1 of 1 completed
           Date        Open        High         Low       Close   Adj Close  \
0    1986-07-09   10.687500   11.062500   10.562500   11.000000    7.643566
1    1986-07-10   11.062500   11.125000   10.687500   10.937500    7.600134
2    1986-07-11   10.875000   10.937500   10.562500   10.562500    7.339562
3    1986-07-14   10.625000   10.625000   10.125000   10.250000    7.122415
4    1986-07-15   10.187500   10.187500    9.312500    9.937500    6.905266
...         ...         ...         ...         ...         ...         ...
9232 2023-02-24  488.579987  490.359985  484.700012  488.609985  488.609985
9233 2023-02-27  492.549988  493.000000  485.679993  487.029999  487.029999
9234 2023-02-28  485.600006  488.880005  483.779999  484.179993  484.179993
9235 2023-03-01  481.100006  482.579987  475.019989  478.670013  478.670013
9236 2023-03-02  477.359985  487.429993  475.559998  485.690002  485.690002

       Volume SymbolId
0     1116800     1579
1      595600     1579
2      800400     1579
3      738000     1579
4     2059200     1579
...       ...      ...
9232  1587600     1579
9233  1501700     1579
9234  1918200     1579
9235  1759300     1579
9236  2379200     1579

[9237 rows x 8 columns]

                    select *
                    from Stock_price_day
                    where Date = "1986-07-09 00:00:00" and SymbolId = "1579"


TMO
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
AZN
[*********************100%***********************]  1 of 1 completed
           Date       Open       High        Low      Close  Adj Close  \
0    1993-05-12   5.291667   5.291667   5.020833   5.041667   1.778690
1    1993-05-13   5.000000   5.000000   4.791667   4.854167   1.712542
2    1993-05-14   4.875000   4.875000   4.791667   4.791667   1.690491
3    1993-05-17   4.833333   4.895833   4.833333   4.895833   1.727241
4    1993-05-18   4.895833   4.895833   4.833333   4.854167   1.712542
...         ...        ...        ...        ...        ...        ...
7501 2023-02-24  66.739998  66.849998  66.080002  66.370003  66.370003
7502 2023-02-27  66.900002  67.070000  66.529999  66.800003  66.800003
7503 2023-02-28  65.699997  66.080002  65.129997  65.180000  65.180000
7504 2023-03-01  65.160004  65.330002  64.709999  65.209999  65.209999
7505 2023-03-02  64.279999  65.139999  64.250000  65.099998  65.099998

       Volume SymbolId
0      414000     1084
1      792600     1084
2      646200     1084
3       68400     1084
4       69000     1084
...       ...      ...
7501  4530000     1084
7502  3682600     1084
7503  4285100     1084
7504  3421900     1084
7505  3353700     1084

[7506 rows x 8 columns]

                    select *
                    from Stock_price_day
                    where Date = "1993-05-12 00:00:00" and SymbolId = "1084"


SHEL
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
CSCO
[*********************100%***********************]  1 of 1 completed
           Date       Open       High        Low      Close  Adj Close  \
0    1990-02-16   0.000000   0.079861   0.073785   0.077257   0.054428
1    1990-02-20   0.000000   0.079861   0.074653   0.079861   0.056262
2    1990-02-21   0.000000   0.078993   0.075521   0.078125   0.055039
3    1990-02-22   0.000000   0.081597   0.078993   0.078993   0.055651
4    1990-02-23   0.000000   0.079861   0.078125   0.078559   0.055345
...         ...        ...        ...        ...        ...        ...
8318 2023-02-24  48.810001  48.900002  48.169998  48.480000  48.480000
8319 2023-02-27  48.950001  49.340000  48.549999  48.730000  48.730000
8320 2023-02-28  48.810001  48.930000  48.380001  48.419998  48.419998
8321 2023-03-01  48.439999  48.590000  48.020000  48.340000  48.340000
8322 2023-03-02  48.320000  48.630001  48.119999  48.529999  48.529999

         Volume SymbolId
0     940636800     1633
1     151862400     1633
2      70531200     1633
3      45216000     1633
4      44697600     1633
...         ...      ...
8318   17251600     1633
8319   14776400     1633
8320   16622400     1633
8321   13449300     1633
8322   18281800     1633

[8323 rows x 8 columns]

                    select *
                    from Stock_price_day
                    where Date = "1990-02-16 00:00:00" and SymbolId = "1633"


MCD
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
TM
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
NKE
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
DIS
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
DHR
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
ABT
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
NVS
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
TMUS
[*********************100%***********************]  1 of 1 completed
           Date        Open        High         Low       Close   Adj Close  \
0    2007-04-19   50.200001   55.220001   49.000000   54.799999   45.404392
1    2007-04-20   54.799999   57.599998   54.200001   57.099998   47.310051
2    2007-04-23   57.200001   57.880001   56.580002   57.500000   47.641468
3    2007-04-24   57.020000   58.799999   57.020000   58.400002   48.387165
4    2007-04-25   59.099998   59.500000   57.020000   57.220001   47.409477
...         ...         ...         ...         ...         ...         ...
3991 2023-02-24  143.229996  144.559998  142.210007  144.410004  144.410004
3992 2023-02-27  144.539993  146.000000  143.850006  144.130005  144.130005
3993 2023-02-28  143.210007  144.309998  142.110001  142.179993  142.179993
3994 2023-03-01  141.830002  142.479996  140.080002  141.289993  141.289993
3995 2023-03-02  140.869995  141.389999  140.539993  141.149994  141.149994

        Volume SymbolId
0     15862400     4482
1      3054700     4482
2      1876400     4482
3      1532950     4482
4      1225350     4482
...        ...      ...
3991   4593600     4482
3992   5287900     4482
3993   5648900     4482
3994   4353800     4482
3995   4621300     4482

[3996 rows x 8 columns]

                    select *
                    from Stock_price_day
                    where Date = "2007-04-19 00:00:00" and SymbolId = "4482"


WFC
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
ACN
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
VZ
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
BHP
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
MS
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
CRM
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, SymbolId]
Index: []
CMCSA
[*********************100%***********************]  1 of 1 completed
            Date       Open       High        Low      Close  Adj Close  \
0     1980-03-17   0.000000   0.101881   0.097546   0.097546   0.068238
1     1980-03-18   0.000000   0.101881   0.097546   0.097546   0.068238
2     1980-03-19   0.000000   0.100798   0.096462   0.096462   0.067479
3     1980-03-20   0.000000   0.108385   0.104049   0.104049   0.072787
4     1980-03-21   0.000000   0.111636   0.107301   0.107301   0.075062
...          ...        ...        ...        ...        ...        ...
10827 2023-02-24  37.009998  37.299999  36.889999  37.000000  37.000000
10828 2023-02-27  37.250000  37.570000  37.119999  37.349998  37.349998
10829 2023-02-28  37.020000  37.400002  36.820000  37.169998  37.169998
10830 2023-03-01  36.880001  37.080002  36.340000  36.630001  36.630001
10831 2023-03-02  36.400002  37.029999  36.389999  36.950001  36.950001

         Volume SymbolId
0        138396     1516
1        530518     1516
2        738113     1516
3       1360895     1516
4        461320     1516
...         ...      ...
10827  18159200     1516
10828  17514600     1516
10829  24474300     1516
10830  17280400     1516
10831  13626300     1516

[10832 rows x 8 columns]


In [39]:
new_stock

,Date,Open,High,Low,Close,Adj Close,Volume,SymbolId
0,1980-12-12 00:00:00,0.128348,0.128906,0.128348,0.128348,0.099722,469033600.0,636
1,1980-12-15 00:00:00,0.122210,0.122210,0.121652,0.121652,0.094519,175884800.0,636
2,1980-12-16 00:00:00,0.113281,0.113281,0.112723,0.112723,0.087582,105728000.0,636
3,1980-12-17 00:00:00,0.115513,0.116071,0.115513,0.115513,0.089749,86441600.0,636
4,1980-12-18 00:00:00,0.118862,0.119420,0.118862,0.118862,0.092351,73449600.0,636
...,...,...,...,...,...,...,...,...
2205,2023-02-24 00:00:00,44.737999,45.564999,44.455002,44.799999,44.799999,11854300.0,2721
2206,2023-02-27 00:00:00,45.500000,45.500000,44.490002,44.740002,44.740002,8018000.0,2721
2207,2023-02-28 00:00:00,44.275002,45.110001,43.970001,44.439999,44.439999,6437600.0,2721
2208,2023-03-01 00:00:00,46.540001,46.770000,45.299999,45.730000,45.730000,9294900.0,2721
2209,2023-03-02 00:00:00,45.619999,47.154999,45.400002,47.070000,47.070000,7916900.0,2721

In [50]:
new = []
for ticker in triker_NASDAQ:
    print(ticker)
    df = tool.updateData_hours(ticker,"NASDAQ")
    new.append(df)
    # tool.combineData('Stock_price_hours',df)
new_stock = pd.concat(new)

AAPL
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "636"
MSFT
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "3203"
GOOG
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "2307"
GOOGL
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "2308"
AMZN
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "873"
PCAR
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "3586"
BRK/A
BRK/B
TSLA
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "4528"
NVDA
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "3373"
V
TSM
UNH
XOM
META
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "3089"
JNJ
JPM
WMT
MA
PG
HD
NVO
CVX
LLY
BAC
MRK
ABBV
BABA
ASML
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "985"
KO
AVGO
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "1055"
PEP
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "3618"
PFE
ORCL
COST
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "1579"
TMO
AZN
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "1084"
SHEL
CSCO
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "1633"
MCD
TM
NKE
DIS
DHR
ABT
NVS
TMUS
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "4482"
WFC
ACN
VZ
BHP
MS
CRM
CMCSA
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "1516"
ADBE
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "698"
TXN
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "4559"
UPS
LIN
PM
NFLX
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "3290"
TTE
NEE
SCHW
BMY
HSBC
RTX
RY
QCOM
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "3814"
T
SAP
HON
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "2454"
AXP
UL
HDB
DE
LOW
AMGN
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "850"
CAT
AMD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "847"
COP
BA
TD
GS
UNP
SBUX
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "4056"
IBM
LMT
RIO
BP
SNY
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "4231"
SPGI
ELV
PDD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "3603"
BUD
PLD
INTC
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "2635"
CVS
INTU
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "2638"
MDT
BLK
GILD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "2262"
SONY
SYK
C
DEO
AMT
ADI
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "703"
AMAT
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "844"
EQNR
BKNG
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "1171"
ADP
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "713"
TJX
MDLZ
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "3071"
GE
EL
CI
NOW
MUFG
CB
MO
BTI
PYPL
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "3811"
ISRG
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "2684"
JD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-15 20:30:00" and SymbolId = "2721"
PGR

In [51]:
new_stock

,Datetime,Open,High,Low,Close,Adj Close,Volume,SymbolId
0,2021-03-15 20:30:00,121.260002,123.569901,120.419998,122.598396,122.598396,25375805.0,636.0
1,2021-03-15 21:30:00,122.599701,123.230003,122.235001,122.389999,122.389999,11839733.0,636.0
2,2021-03-15 22:30:00,122.389999,122.489998,122.040001,122.334999,122.334999,7767154.0,636.0
3,2021-03-15 23:30:00,122.339996,122.720001,122.239998,122.680099,122.680099,5902142.0,636.0
4,2021-03-16 00:30:00,122.680000,123.639999,122.650002,123.480003,123.480003,8986442.0,636.0
...,...,...,...,...,...,...,...,...
3459,2023-03-02 23:30:00,46.540001,46.720001,46.410000,46.560001,46.560001,675334.0,2721.0
3460,2023-03-03 00:30:00,46.560001,46.650002,46.529999,46.599998,46.599998,513631.0,2721.0
3461,2023-03-03 01:30:00,46.599998,46.830002,46.564999,46.779999,46.779999,490251.0,2721.0
3462,2023-03-03 02:30:00,46.779999,47.020000,46.689999,47.000000,47.000000,867705.0,2721.0
3463,2023-03-03 03:30:00,47.000000,47.154999,46.900002,47.070000,47.070000,1397972.0,2721.0

In [199]:
new_stock.to_csv('save_test.csv')

In [307]:
# tool.combineData('Stock_price_hours',new_stock)

                    select *
                    from Stock_price_hours
                    where Datetime = "2021-03-04 21:30:00" and SymbolId = "636"

('Done Update : ', 131421)

-----------------------------------------CRYPTO-------------------------------------------------------------------------

In [52]:
cp = list(tool.get_symbol_id("CRYPTO").keys())[:101]

In [56]:
new = []
for ticker in cp :
    print(ticker)
    df = tool.updateData_Day(ticker,"CRYPTO")
    tool.combineData('Stock_price_day',df)
    new.append(df)

new_stock = pd.concat(new)

BTC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2014-09-17 00:00:00" and SymbolId = "4911"
ETH-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4912"
USDT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4913"
BNB-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4914"
USDC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-10-08 00:00:00" and SymbolId = "4915"
XRP-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4916"
ADA-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4917"
BUSD-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-09-20 00:00:00" and SymbolId = "4918"
MATIC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-04-28 00:00:00" and SymbolId = "4919"
DOGE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4920"
SOL-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-04-10 00:00:00" and SymbolId = "4921"
DOT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-08-20 00:00:00" and SymbolId = "4922"
SHIB-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-08-01 00:00:00" and SymbolId = "4923"
LTC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2014-09-17 00:00:00" and SymbolId = "4924"
TRX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4925"
AVAX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-07-13 00:00:00" and SymbolId = "4926"
UNI-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-10-21 00:00:00" and SymbolId = "4927"
DAI-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-11-22 00:00:00" and SymbolId = "4928"
WBTC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-01-30 00:00:00" and SymbolId = "4929"
ATOM-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-03-14 00:00:00" and SymbolId = "4930"
LINK-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4931"
FIL-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-12-13 00:00:00" and SymbolId = "4932"
LEO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-05-21 00:00:00" and SymbolId = "4933"
ETC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4934"
OKB-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-04-30 00:00:00" and SymbolId = "4935"
XMR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4936"
TON-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-08-29 00:00:00" and SymbolId = "4937"
BCH-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4938"
LDO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-01-05 00:00:00" and SymbolId = "4939"
XLM-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4940"
HBAR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-09-17 00:00:00" and SymbolId = "4941"
APT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-11-20 00:00:00" and SymbolId = "4942"
ICP-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-05-10 00:00:00" and SymbolId = "4943"
NEAR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-10-14 00:00:00" and SymbolId = "4944"
VET-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-08-03 00:00:00" and SymbolId = "4945"
APE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-10-01 00:00:00" and SymbolId = "4946"
CRO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-12-14 00:00:00" and SymbolId = "4947"
ALGO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-06-21 00:00:00" and SymbolId = "4948"
QNT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-08-10 00:00:00" and SymbolId = "4949"
GRT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-06-19 00:00:00" and SymbolId = "4950"
FTM-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-10-30 00:00:00" and SymbolId = "4951"
EOS-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4952"
FLOW-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-01-27 00:00:00" and SymbolId = "4953"
MANA-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4954"
EGLD-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-09-04 00:00:00" and SymbolId = "4955"
AAVE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-10-02 00:00:00" and SymbolId = "4956"
BIT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-07-25 00:00:00" and SymbolId = "4957"
AXS-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-11-04 00:00:00" and SymbolId = "4958"
THETA-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-01-17 00:00:00" and SymbolId = "4959"
SAND-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-08-14 00:00:00" and SymbolId = "4960"
XTZ-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4961"
RPL-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-07-18 00:00:00" and SymbolId = "4962"
LUNC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-07-27 00:00:00" and SymbolId = "4963"
TUSD-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-03-06 00:00:00" and SymbolId = "4964"
CHZ-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-07-01 00:00:00" and SymbolId = "4965"
KLAY-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-03-30 00:00:00" and SymbolId = "4966"
CRV-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-08-14 00:00:00" and SymbolId = "4967"
KCS-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4968"
MINA-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-06-01 00:00:00" and SymbolId = "4969"
USDP-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-09-27 00:00:00" and SymbolId = "4970"
IMX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-05-03 00:00:00" and SymbolId = "4971"
HT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-02-03 00:00:00" and SymbolId = "4972"
BSV-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-11-09 00:00:00" and SymbolId = "4973"
FXS-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-12-27 00:00:00" and SymbolId = "4974"
CAKE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-09-29 00:00:00" and SymbolId = "4975"
DASH-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4976"
ZEC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4977"
NEO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4978"
MKR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-20 00:00:00" and SymbolId = "4979"
USDD-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2022-05-02 00:00:00" and SymbolId = "4980"
MIOTA-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4981"
XEC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-07-08 00:00:00" and SymbolId = "4982"
BTT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-01-31 00:00:00" and SymbolId = "4983"
GMX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-08-11 00:00:00" and SymbolId = "4984"
SNX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-03-14 00:00:00" and SymbolId = "4985"
OP-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2022-03-14 00:00:00" and SymbolId = "4986"
TWT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-07-30 00:00:00" and SymbolId = "4987"
GUSD-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-10-06 00:00:00" and SymbolId = "4988"
LRC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4989"
RUNE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-07-23 00:00:00" and SymbolId = "4990"
STX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-10-28 00:00:00" and SymbolId = "4991"
OSMO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-10-05 00:00:00" and SymbolId = "4992"
ZIL-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-01-25 00:00:00" and SymbolId = "4993"
BLUR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2023-02-14 00:00:00" and SymbolId = "4994"
AGIX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-01-19 00:00:00" and SymbolId = "4995"
BNX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-05-18 00:00:00" and SymbolId = "4996"
GT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-08-26 00:00:00" and SymbolId = "4997"
ENJ-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "4998"
PAXG-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2019-09-26 00:00:00" and SymbolId = "4999"
CVX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-05-18 00:00:00" and SymbolId = "5000"
DYDX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-09-08 00:00:00" and SymbolId = "5001"
1INCH-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-12-25 00:00:00" and SymbolId = "5002"
RNDR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-06-11 00:00:00" and SymbolId = "5003"
BAT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2017-11-09 00:00:00" and SymbolId = "5004"
AR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-05-27 00:00:00" and SymbolId = "5005"
ETHW-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2022-08-08 00:00:00" and SymbolId = "5006"
ASTR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2022-01-18 00:00:00" and SymbolId = "5007"
WOO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-10-29 00:00:00" and SymbolId = "5008"
ROSE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2020-11-19 00:00:00" and SymbolId = "5009"
COMP-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2018-08-16 00:00:00" and SymbolId = "5010"
CSPR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_day where Date = "2021-05-12 00:00:00" and SymbolId = "5011"

In [59]:
new = []
for ticker in cp :
    print(ticker)
    df = tool.updateData_hours(ticker,"CRYPTO")
    tool.combineData('Stock_price_hours',df)
    new.append(df)

new_stock = pd.concat(new)

BTC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4911"
ETH-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4912"
USDT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4913"
BNB-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4914"
USDC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4915"
XRP-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4916"
ADA-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4917"
BUSD-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4918"
MATIC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4919"
DOGE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4920"
SOL-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-12-18 04:00:00" and SymbolId = "4921"
DOT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-12-18 04:00:00" and SymbolId = "4922"
SHIB-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-08-19 02:00:00" and SymbolId = "4923"
LTC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4924"
TRX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4925"
AVAX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4926"
UNI-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4927"
DAI-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-12-18 04:00:00" and SymbolId = "4928"
WBTC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4929"
ATOM-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-12-18 04:00:00" and SymbolId = "4930"
LINK-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4931"
FIL-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4932"
LEO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4933"
ETC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4934"
OKB-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4935"
XMR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4936"
TON-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4937"
BCH-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4938"
LDO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4939"
XLM-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4940"
HBAR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4941"
APT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-02-08 07:00:00" and SymbolId = "4942"
ICP-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-12-18 04:00:00" and SymbolId = "4943"
NEAR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4944"
VET-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4945"
APE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4946"
CRO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4947"
ALGO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4948"
QNT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4949"
GRT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4950"
FTM-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-10-07 07:00:00" and SymbolId = "4951"
EOS-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4952"
FLOW-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-12-18 04:00:00" and SymbolId = "4953"
MANA-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4954"
EGLD-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4955"
AAVE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4956"
BIT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4957"
AXS-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-10-07 07:00:00" and SymbolId = "4958"
THETA-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4959"
SAND-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-06-04 00:00:00" and SymbolId = "4960"
XTZ-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4961"
RPL-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4962"
LUNC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-10-11 07:00:00" and SymbolId = "4963"
TUSD-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4964"
CHZ-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4965"
KLAY-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4966"
CRV-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4967"
KCS-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4968"
MINA-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4969"
USDP-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4970"
IMX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4971"
HT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4972"
BSV-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4973"
FXS-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4974"
CAKE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-10-07 07:00:00" and SymbolId = "4975"
DASH-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4976"
ZEC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4977"
NEO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4978"
MKR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4979"
USDD-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-05-11 15:00:00" and SymbolId = "4980"
MIOTA-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4981"
XEC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4982"
BTT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-12-18 04:00:00" and SymbolId = "4983"
GMX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-02-08 07:00:00" and SymbolId = "4984"
SNX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4985"
OP-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-03-15 14:00:00" and SymbolId = "4986"
TWT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4987"
GUSD-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4988"
LRC-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4989"
RUNE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-06-04 00:00:00" and SymbolId = "4990"
STX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-12-18 04:00:00" and SymbolId = "4991"
OSMO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-02-08 07:00:00" and SymbolId = "4992"
ZIL-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "4993"
BLUR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2023-02-15 17:00:00" and SymbolId = "4994"
AGIX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4995"
BNX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4996"
GT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4997"
ENJ-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "4998"
PAXG-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "4999"
CVX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "5000"
DYDX-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-02-08 07:00:00" and SymbolId = "5001"
1INCH-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-10-07 07:00:00" and SymbolId = "5002"
RNDR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "5003"
BAT-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "5004"
AR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-03-13 08:00:00" and SymbolId = "5005"
ETHW-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-08-09 09:00:00" and SymbolId = "5006"
ASTR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-02-08 07:00:00" and SymbolId = "5007"
WOO-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "5008"
ROSE-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-10-07 07:00:00" and SymbolId = "5009"
COMP-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2021-04-15 03:00:00" and SymbolId = "5010"
CSPR-USD
[*********************100%***********************]  1 of 1 completed
 select * from Stock_price_hours where Datetime = "2022-01-05 08:00:00" and SymbolId = "5011"

In [58]:
new_stock

,Datetime,Open,High,Low,Close,Adj Close,Volume,SymbolId
0,2021-03-13 08:00:00,56771.054688,56771.054688,56217.972656,56485.968750,56485.968750,0,4911
1,2021-03-13 09:00:00,56470.945312,56623.253906,56242.578125,56568.539062,56568.539062,54345728,4911
2,2021-03-13 10:00:00,56563.363281,56799.175781,56411.890625,56685.136719,56685.136719,0,4911
3,2021-03-13 11:00:00,56690.183594,56820.757812,56373.281250,56820.757812,56820.757812,0,4911
4,2021-03-13 12:00:00,56817.066406,57000.589844,56705.933594,56744.835938,56744.835938,0,4911
...,...,...,...,...,...,...,...,...
9358,2023-03-03 13:00:00,0.042124,0.042124,0.041551,0.041710,0.041710,0,5011
9359,2023-03-03 14:00:00,0.041726,0.042893,0.041726,0.042865,0.042865,535712,5011
9360,2023-03-03 15:00:00,0.042885,0.043246,0.042568,0.042569,0.042569,81268,5011
9361,2023-03-03 16:00:00,0.042443,0.042891,0.042412,0.042686,0.042686,527868,5011
9362,2023-03-03 17:00:00,0.042632,0.043134,0.042632,0.043063,0.043063,145764,5011

----------------------------------------------TEST----------------------------------------------------

In [11]:
df = yf.download('AAPL', interval='1d', start=pd.to_datetime('2023-02-17 00:00:00', format='%Y/%m/%d %H:%M:%S'))

[*********************100%***********************]  1 of 1 completed

In [12]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-17,152.350006,153.000000,150.850006,152.550003,152.550003,59095900
2023-02-21,150.199997,151.300003,148.410004,148.479996,148.479996,58772400

In [333]:
df.index = df.index.tz_convert('Asia/Bangkok')
df.index = df.index.tz_localize(None)
df = df.reset_index()

TypeError: Cannot convert tz-naive timestamps, use tz_localize to localize

In [334]:
def convert_USD_to_THA(rate,x):

    return x * rate

In [335]:
# แบบ rate ณ วันที่ทำการ update
# rate = c.convert('USD','THB' ,1)
# col = list(df.columns)
# for column in range(1,6):
#     df[f'{col[column]}'] = df.apply( lambda x: convert_USD_to_THA(rate,x[f'{col[column]}']), axis = 1)

In [336]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-17,23621.283203,857140.432454,806817.899650,844813.661379,844813.661379,1.422322e+12
2023-02-18,24565.296875,852834.616445,841469.962343,847416.159579,847416.159579,6.749205e+11
2023-02-19,24640.027344,862952.830681,836630.226492,836630.226492,836630.226492,8.788428e+11
2023-02-20,24336.623047,860456.256697,822883.385812,853877.066558,853877.066558,9.968790e+11
2023-02-21,24838.162109,864096.906246,837891.510526,847736.753289,847736.753289,9.915253e+11

In [257]:
list(df.columns)

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'SymbolId']